<meta charset="UTF-8">
<h2 ng-init="blobInsRequest.requestType = 'REQUEST'">Получить XML запроса</h2>
<div class="row">
    <div class="col-xs-6">
        <label>Номер INS_REQUEST_ID</label>
        <input class="form-control" ng-model="blobInsRequest.requestId" type="text"/>
    </div>
</div>
<div class="row text-center ng-scope" style="padding: 10px 0 22px 0;">
    <form novalidate name="blobInsRequestForm" ng-submit="geteBlobRequestFromXML(blobInsRequestForm.$invalid)">
        <div class="col-xs-6 " style="padding-top: 4px;">
            <br>
            <button type="submit" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Получить XML </button>
        </div>
        <div class="col-xs-6 " style="padding-top: inherit; margin-bottom: 20px;">
            <label> Запрос сервера</label>
            <select class="form-control" ng-model="blobInsRequest.dataBaseInstance" name="dataBaseInstance" required
                    ng-options="server.constant as server.name for server in dataBaseInstanceList">
                <option value="" > - - - Доступные серверы - - -  </option>
            </select>
            <div class="text-danger" ng-show="blobInsRequestForm.$submitted || blobInsRequestForm.dataBaseInstance.$touched">
                <span ng-show="blobInsRequestForm.dataBaseInstance.$error.required">Необходимо выбрать сервер</span>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <textarea class="col-xs-12 text-ar form-control" style="height: 600px !important;"  ng-model="blobInsResponse.response"  rows="5"></textarea>
</div>
