<div class="row form-group form-inline">
   <div class="col-xs-12 col-sm-8">
       <input id="fulladres" name="fulladress" style="width:100%;"
              placeholder="Введите адрес" required class="form-control"
              autocomplete="off"
              required
              typeahead-on-select="onSelect($item)"
              ng-model="adressparent.adress.fullAdress"
              typeahead-editable="false"
              typeahead-select-on-exact="true"
              typeahead-min-length="4"
              uib-typeahead="adress as adress.formatted_address for adress in getLocation($viewValue)"
              typeahead-no-results="noResults"
              type="text" value=""/>
   </div>
   <div class="col-xs-12 col-sm-4" style="color: #B95D5D;">
       <div ng-show="noResults">
           <i class="glyphicon glyphicon-remove"></i> Адрес не найден
       </div>
   </div>
</div>
<div class="form-group">
    <div class="col-md-12" style="height:200px;" id="googleMap"></div>
</div>
