﻿<!DOCTYPE HTML>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Ubeten.com</title>
    <meta name="description" content="Cервис по подбору компании для ремонта и тюнинга автомобилей">
    <meta name="Keywords" content="тендеры, заказы, исполнители, подрядчики, провести тендер,Ремонт автомобилей и мототранспорта, Аренда автомобиля, Техосмотр авто и мототранспорта, Страхование авто и мототранспорта, Продажа авто и мототранспорта,
                                   Покупка авто и мототранспорта, Дополнительные услуги, Продажа запчастей, шин, дисков, автохимии и т.д, Проектирование сооружений, Дизайн помещений,  Строительство сооружений, Ремонт помещений, Вентиляция и кондиционирование, Материалы для ремонта, в т.ч. электрика,
                                   Изготовление шкафа, Изготовление дверей, Изготовление окно, Диван/кровать, Изготовление стола, Изготовление кухни, Пошив штор, тюлей, покрывал, скатертей и т.д., Изготовление столешницы">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/res/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/res/css/lightbox.min.css">
    <link href="/res/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/res/img/favicon.ico" type="image/x-icon">
</head>


<body ng-controller="homeController as home">

<div class="container header"><!-------------------------->
    <div class="row" style="position: relative;">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="logo-div">
                <a href="#/home"><img src="/res/img/logo.png"/></a>
                <a href="#/home"><h1>Ubeten</h1></a>
                <p><b>Ты устанавливаешь правила</b></p>
            </div>
            <div style="position: relative; height: 38px; top: 22px; left:11px;" class="row hidden-xs">
                <div class="text-center" style="width: 83px; margin-left: 20px; float:left;">
                    <p ng-bind="Counter.savedAmount | moneyr " style="border-radius:4px; border: 1px solid #dddccc;font-size: 21px;  background-color: #fff; min-height: 30px;"></p>
                </div>
                <div style="margin-left: 113px;">
                    <p style="line-height:1;max-width: 130px;font-family: 'Play', sans-serif; color: #fff;">рублей сэкономили наши клиенты.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 10px;color: #fff;">
            <div class="header_mes">
                <p>Cервис по подбору компании для ремонта и тюнинга автомобилей</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3" style="margin-top: 10px;">

            <div class="btn-group" role="group" style="padding: 0; margin-top: 10px; width: 100%;">
                <a href="#/new-tender-start" style="width: 83%;" class="btn btn-secondary btn-success"><span class="glyphicon glyphicon-plus"></span> Разместить тендер</a>
                <button type="button" style="width: 15%;" class="btn btn-secondary btn-success" ng-click="$emit('commentMessage', {text:'Начните пользоваться сервисом сейчас. Создайте тендер, и найдите лучшее предложение'})">?</button>
            </div>

            <div class="btn-group" role="group" style="padding: 0; margin-top: 10px; width: 100%;">
                <a href="mailto:UBETEN<info@ubeten.com>?subject=Вызов эксперта" style="width: 83%;" class="btn btn-secondary btn-primary"><span class="glyphicon glyphicon-user"></span> Вызвать эксперта</a>
                <button type="button" class="btn btn-secondary btn-primary" style="width: 15%;" ng-click="$emit('commentMessage', {text:'Бесплатный вызов эксперта для точного описания повреждения автомобиля, чтобы станции по ремонту могли точно установить стоимость ремонта.'})" >?</button>
            </div>

            <div class="btn-group" role="group" style="padding: 0; margin: 10px 0 10px 0; width: 100%;">
                <a href="http://www.ekspertservice.ru/besplatnoe-opredelenie-ushcherba-po-spravke-dtp" style="width: 83%;" class="btn btn-secondary btn-primary"><span class="glyphicon glyphicon-briefcase"></span> Заказать экспертизу</a>
                <button type="button" class="btn btn-secondary btn-primary" style="width: 15%;" ng-click="$emit('commentMessage', {text:'Бесплатный примерный расчет стоимости ущерба автомобиля после ДТП в соответствии с Правилами по ОСАГО.'})">?</button>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 text-center " style="margin: 25px 0 20px 0;color: #fff;">
            <p style="font-weight: bolder;">Личный кабинет</p>
            <p>
                <a href="#/user_page"
                   class="reg"
                   ng-class="Personal.isRegClass" ng-bind="Personal.InText" >Войти</a>
                <span style=" margin-left: 15px; margin-right: 14px;" ng-show="Personal.showReg" > | </span>
                <a href="#/registration/start"
                   class="reg"
                   id="regLinkButton"
                   ng-show="Personal.showReg" style="border-radius: 25px; border: 2px solid #1ac6ff; padding:9px;">Регистрация</a>
                <a href="#"  class="reg" ng-click="home.logout();" style="padding: 15px;" ng-show="Personal.showLogout">Выйти</a>
            </p>
        </div>

    </div>
</div><!------------------------------------------------------------->
<div class="container navbar-wrapper">
    <div class="navbar navbar-default navbar-static-top">
        <div >
            <!-- Note: set the initial collapsed state and change it when clicking -->
            <div class="navbar-header" style="background-image:none; background-color: rgba(255,255,255,0.0);">

                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true" id="navbar">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/home" >Главная</a></li>
                    <li><a href="#/about" >О системе</a></li>
                    <li><a href="#/quality_and_warranty" >Качество и гарантии</a></li>
                    <li><a href="#/how_it_works" >Как это работает</a></li>
                    <li><a href="#/home#contacts" >Контакты</a></li>
                </ul>
            </div>
            <!-- Note: use "collapse" here. The original "data-" settings are not needed anymore. -->
        </div> <!-- /.container -->
    </div><!-- /navbar-inner -->
</div><!-- /navbar -->
</div>

<div messagebox></div>

<div style="display:none; opacity: 0;  transition-property: opacity;
    transition-duration: 0.8s;" errorbox></div>

<div ui-view class="fade"></div>
</div><!---main----->




<footer class="container" style="min-height:200px; background-color:#404042; color:#fff; margin-top: 100px; position: relative;margin-bottom: 0;">
    <img src="/res/img/index_18.jpg" style="position: absolute; bottom: 0; right: 200px; ">
    <div class="row" style="min-height: 200px; margin-bottom: 0;">

        <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1 " style="margin-top: 50px;">
                 <div class="logo-div" style="position: relative; height: 90px;">
                    <a href="#/home"><img src="/res/img/logo.png" style="top:18px; left:7px; position: absolute;  max-height: 90%;"/></a>
                    <a href="#/home"><h1>Ubeten</h1></a>
                 </div>
        </div>
        <div class="col-xs-6 col-xs-offset-5 col-sm-3  col-sm-offset-2 col-md-3  col-md-offset-3 " style="margin-top: 30px;">
            <div class="text-left" style="width: 180px;">
                <h4 id="contacts" style="line-height: 1.2; border-bottom: 1px solid #eeeeff;">КОНТАКТЫ</h4>
                <p style="line-height: 0.9;">ул. Мытная д.7, г. Москва</p>
                <p style="font-weight:300; font-family: 'Roboto', sans-serif; font-size: 21px;line-height: 0.9;">+7 (925) 164-38-22</p>
                <p><a href="mailto:UBETEN<info@ubeten.com>" style="text-decoration: none; color:#fff;line-height: 0.9;"> info@ubeten.com</a></p>
            </div>
        </div>
        <div class="col-xs-12 text-center" style="color:#bbb; font-size: 12px; margin-top: 20px; margin-bottom: 0;" >
            <div class="copyright">Ubeten 2015. Все права защищены. <a href="#/registration_consumer_convention"
                                                                       style="text-decoration: none; color:#bbb; font-size: 12px;">
                * в соответствии с Соглашением о предоставлении услуг.</a></div>
        </div>
    </div>

</footer>



</body>




<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>


<script src="/res/js/lib/angular.min.js"></script>
<script src="/res/js/lib/angular-ui-router.min.js"></script>
<script src="/res/js/lib/angular-animate.min.js"></script>
<script src="/res/js/lib/angular-recaptcha.min.js"></script>
<script src="/res/js/lib/ui-bootstrap-tpls-1.1.0.min.js"></script>
<script src="/res/js/lib/lightbox-plus-jquery.min.js"></script>
<script src="/res/js/lib/spring-security-csrf-token-interceptor.min.js"></script>



<script src="/res/js/moduls/app.js"></script>
<script src="/res/js/moduls/directives.js"></script>
<script src="/res/js/moduls/appParams.js"></script>



<!--index-->
<script src="/res/js/moduls/index/homeController.js"></script>
<script src="/res/js/moduls/index/emptyControllers.js"></script>

<!--login-->
<script src="/res/js/moduls/login/js/LoginService.js"></script>
<script src="/res/js/moduls/login/loginController.js"></script>
<script src="/res/js/moduls/login/js/LoginHandler.js"></script>
<script src="/res/js/moduls/login/js/UserSession.js"></script>


<!--one tender-->
<script src="/res/js/moduls/tender/js/tenderService.js"></script>
<script src="/res/js/moduls/tender/js/tenderController.js"></script>
<script src="/res/js/moduls/tender/js/cancelTenderController.js"></script>
<script src="/res/js/moduls/tender/js/showOfferController.js"></script>
<script src="/res/js/moduls/tender/js/changerProviderController.js"></script>
<script src="/res/js/moduls/tender/js/consumerOverTenderController.js"></script>
<script src="/res/js/moduls/tender/js/providerOverTenderController.js"></script>
<script src="/res/js/moduls/tender/js/submitOfferController.js"></script>

<!--edit tender-->
<script src="/res/js/moduls/tender_edit/js/tenderEditService.js"></script>
<script src="/res/js/moduls/tender_edit/js/tenderEditController.js"></script>

<!--registration-->
<script src="/res/js/moduls/registration/js/regStartController.js"></script>
<script src="/res/js/moduls/registration/js/consumerController.js"></script>
<script src="/res/js/moduls/registration/js/providerController.js"></script>
<script src="/res/js/moduls/registration/js/registrationService.js"></script>
<script src="/res/js/moduls/registration/js/endUserRegController.js"></script>

<!--tender_registration-->
<script src="/res/js/moduls/tender_registration/js/tenderRegStartController.js"></script>
<script src="/res/js/moduls/tender_registration/js/tenderRegService.js"></script>
<script src="/res/js/moduls/tender_registration/js/tenderRegObjectController.js"></script>
<script src="/res/js/moduls/tender_registration/js/tenderRegCommonController.js"></script>
<script src="/res/js/moduls/tender_registration/js/endController.js"></script>


<!--user_page-->
<script src="/res/js/moduls/user_page/js/mainUserController.js"></script>
<script src="/res/js/moduls/user_page/js/userPageService.js"></script>
<script src="/res/js/moduls/user_page/js/settingControllers.js"></script>
<script src="/res/js/moduls/user_page/js/moneyController.js"></script>
<script src="/res/js/moduls/user_page/js/listController.js"></script>
<script src="/res/js/moduls/user_page/js/providerFilterController.js"></script>
<script src="/res/js/moduls/user_page/js/providerInfoController.js"></script>

<!--admin_page-->
<script src="/res/js/moduls/admin/js/adminService.js"></script>
<script src="/res/js/moduls/admin/js/infoUsersController.js"></script>
<script src="/res/js/moduls/admin/js/NavigationCtrl.js"></script>
<script src="/res/js/moduls/admin/js/tendersController.js"></script>


<!--CatalogService-->
<script src="/res/js/moduls/services/js/CatalogService.js"></script>


<!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32632010 = new Ya.Metrika({ id:32632010, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32632010" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

</html>