<div class="container" style="">
    <div class="row featurette" id="about">
        <div class="col-md-7">
            <h2 class="featurette-heading">О системе</h2>
            <p><a href="http://ubeten.com" style="color: #2AB819; font-weight: bold;text-decoration: none;">Ubeten.com</a>  это сервис, который позволяет
                найти качественного поставщика услуг или товаров по ценам ниже рыночных до 30%, за счет организации онлайн закупок.</p>
            <p>Основное отличие наших онлайн закупок от всех других аукционов это то, что организатор тендера может выбрать любое предложение от любого
                поставщика, ориентируясь не только на минимальную цену, но также и на расположение, рейтинг и эксклюзивное предложение поставщика.</p>
            <p><a href="http://ubeten.com" style="color: #2AB819; font-weight: bold;text-decoration: none;">Ubeten.com</a> это система тендеров, которая давно
                применена в системе закупок между юридическими лицами в целях экономии средств и выбора качественного поставщика и доказала свою эффективность.
                И теперь мы предлагаем такое удобное предложение и для физических лиц в том числе</p>
        </div>
        <div class="col-md-5">
            <img style="max-width: 70%; margin-top: 20px;" class="featurette-image img-responsive center-block" src="/res/img/content_image1.png" alt="">
        </div>
    </div>
</div>