<div id="how_it_works" class="page" > <!---QUALITY_PAGE----->
    <div class="container" style="padding: 20px;">
        <div class="row featurette" id="how_its_work">
            <div class="col-xs-12">
                <h2 class="featurette-heading">Как это работает</h2>

                <div class="" style="padding: 12px; margin-bottom: 10px;" >

                    <div class="row">
                        <div class="col-xs-10 col-sm-12">
                            <div class="col-xs-12" style="position: relative; margin: 20px;">
                                <img src="{{howIt.currentShemaItem.img}}" style="display: block; margin-left: auto; margin-right: auto; max-width:100%;height: 100px;">
                            </div>
                            <div class="text-center col-xs-12">
                                <p style='font-size: 20px; color: forestgreen;' ng-bind-html="howIt.currentShemaItem.message | trustedHTML"></p>
                            </div>
                        </div>
                        <div class="col-xs-2 col-sm-12">
                            <div class="row">
                                <div ng-repeat="item in howIt.Shemalist" class="text-center col-xs-12 col-sm-2 sh-sel-{{item.selected}}" ng-click="howIt.setShemaItemView($index)"
                                     style="cursor: pointer; height: 50px; background-size: 50px; background-repeat: no-repeat;background-position: center;">
                                    <p style="padding: 8px; font-size: 23px;">{{item.id}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-success accordion" style="border: none; border-radius:0; background-color: #F9F9F9;">
                    <h3 class="panel-heading h-accord" ng-click="slideToggleA=! slideToggleA"><span class="glyphicon" ng-class="slideToggleA ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'" aria-hidden="true"  style="font-size: 14px;"  ></span> для клиента</h3>
                    <div class="panel-body slide-toggle  c-accord" ng-show="slideToggleA">

                        <p>Процесс создания аукциона несложный и больше нужен для понимания процесса тем, кто никогда не сталкивался с похожими вещами.</p>
                        <p>Это выглядит так. Вы решили, что хотите закупить, после этого создали тендер, вложили свои пожелания, получили предложения, выбрали из них подходящее и подтвердили свой выбор. Получили контакты поставщика, связались с ним и определили ход получения закупки. После окончания закупки закрыли тендер, указав окончательную стоимость закупки и поставив оценку поставщику.</p>
                        <div>
                            <div>
                                <img src="/res/img/h_it_w.gif" style="display: block; margin-left: auto; margin-right: auto; max-width:100%;"/>
                            </div>
                        </div>

                        <p>И поподробнее с примерами поэтапно. Этапы достаточно просты и мы весь процесс закупки разбили только для удобства понимания::</p>

                        <ol class="list-unstyled">
                            <li>1. Подготовка к тендеру</li>
                            <li>2. Открытие тендера</li>
                            <li>3. Проведение тендера</li>
                            <li>4. Выбор победителя</li>
                            <li>5. Закрытие тендера</li>
                        </ol>

                        <ol class="list-unstyled">

                            <li><h3>1. Подготовка к тендеру</h3>
                                <p>Состоит в определении, что именно необходимо сделать, в определении параметров заказа, фотографирования объекта и т.д</p>
                                <p>Вам необходим ремонт автомобиля. Для того, чтобы сделать правильный ауакцион по его ремонту, нужно сделать фотографии, на котором будут видны повреждения и автосервис сможет оценить степень ремонтного воздействия. Выберите, какие детали (оригинал, неоригинал, Китай, б/у) возможно использовать при ремонте и открываете тендер.</p>
                                <p>Чем более качественно сделаете фотографии, тем точнее будет оценка стоимости. Наш совет, при крупных повреждениях воспользоваться услугами эксперта или автосервиса, которые составят для вас акт осмотра и на основании этого вы проведете тендер. Вы можете воспользоваться услугами наших экспертов, которые приедут и составят акт осмотра.</p>
                                <p>Мы готовы помочь вам провести осмотр, сделать фотографии, прописать параметры и отобрать поставщиков. Для этого направьте письмо на нашу почту <a href="mailto:UBETEN<info@ubeten.com>"> info@ubeten.com</a> и укажите, что именно Вы хотите организовать.</p>
                             </li>

                            <li><h3>2. Открытие тендера</h3>
                                <p>Вы проходите по ссылке «тендеры», регистрируетесь, размещаете свой заказ, свое описание, прикладываете фотографии и тендер начал свою работу.</p>
                            </li>

                            <li><h3>3. Проведение тендера</h3>
                                <p>Вы видите предложения от исполнителей, которые размещают их на сайте, при необходимости отвечаете на вопросы в комментариях, уведомление о которых приходит к вам на электронную почту, и ждете окончания тендера.</p>
                            </li>

                            <li><h3>4. Выбор победителя</h3>
                                <p>После окончания тендера вы выбираете победителя. Выбор победителя может основываться только на ваших личных убеждениях, исходя из территориального расположения поставщика, его рейтинга, низшей цены и т.д. Выбор победителя осуществляется путем нажатия кнопки «выбрать победителя». После этого вам будут известны контактные данные исполнителя. В свою очередь исполнитель получит контактные данные клиента. После чего исполнитель имеет возможность связаться с клиентом, так и клиент с исполнителем.</p>
                                <p>В случае если ваш первоначальный выбор не устроил вас и вы решили от него отказаться, то необходимо выбрать кнопку «отказаться от победителя», указать причины и после этого снова будет активна кнопка «выбрать победителя».</p>
                            </li>

                            <li><h3>5. Закрытие тендера</h3>
                                <p>После выполнения закупки вы заходите в личный кабинет, выбираете кнопку «завершить тендер», указываете окончательную стоимость закупки, ставите оценку поставщику, при необходимости пишете комментарий.</p>
                                <p>Ваша оценка будет учтена в рейтинге поставщика. Даже одна негативная оценка может послужить основанием для прекращения работы с этим поставщиком.</p>
                            </li>

                        </ol>
                    </div>



                    <h3 class="panel-heading h-accord" ng-click="slideToggleB=! slideToggleB"  ><span class="glyphicon " ng-class="slideToggleB ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'" style="font-size: 14px;" aria-hidden="true" ></span> для исполнителя</h3>
                    <div class="panel-body slide-toggle c-accord"  ng-show="slideToggleB">

                        <p>Процедура участия для исполнителя достаточно проста и также включает в себя несколько этапов:</p>


                        <ol class="list-unstyled">
                            <li>1. Регистрация</li>
                            <li>2. Участие в тендере</li>
                            <li>3. Выполнение закупки</li>
                            <li>4. Закрытие тендера</li>
                            <li>5. Оплата услуг</li>
                        </ol>


                        <ol class="list-unstyled">

                            <li><h3>1. Регистрация</h3>
                                <p>Для того чтобы принимать участие в закупках необходимо зарегистрироваться в соответствии с регистрационной форме, указать данные компании,
                                    выбрать позиции в которых компания будет участвовать, указать электронный адрес, на который будет приходить сообщения о тендерах,
                                    контактное лицо, которое будет обрабатывать заявки и т.д.</p>
                                <p>Регистрация бесплатна, но компания будет проходить верификацию, в ходе которой мы имеем право проверить указанные данные компании, выехать
                                    в офис компании, попросить рекомендации предыдущих клиентов, совершить их обзвон, изучить отзывы о компании в интернете и по совокупности
                                    данных принять решение о включении компании в список поставщиков.</p>
                            </li>

                            <li><h3>2. Участие в тендере</h3>
                                <p>При получении заявки об открытом тендере, компания выставляет свою стоимость выполнения закупки. В случае если компания хочет изменить
                                    уже свою выставленную стоимость, как в меньшую, так и в большую стоимость, то она имеет право это делать. И именно новая стоимость будет
                                    указана в предложении. В случае необходимости уточнения деталей закупки, компания размещает свой вопрос в комментариях к тендеру.</p>
                                <p> Не забывайте, что при размещении своего предложения, необходимо отдельно указывать стоимость работ и стоимость используемых материалов.</p>
                                <p> После окончания тендера и в случае выбора клиентом компании в качестве поставщика, последнему приходит контактная информация о клиенте.
                                    Поставщик имеет право с этого момента связаться с клиентом для дальнейшего выполнения закупки. В момент выбора клиентом победителя, у
                                    последнего в личном кабинете формируется задолженность в соответствии с соглашением оказания сервиса, договором-оферты.</p>
                                <p>Однако клиент имеет право отказаться от выполнения закупки с первоначально выбранном победителем. В этом случае он регистрирует отказ на сайте,
                                    после чего сумма задолженности в личном кабинете первоначального победителя аннулируется.</p>
                            </li>

                            <li><h3>3. Выполнение закупки</h3>
                                <p>Обе стороны самостоятельно контролируют ход выполнения закупки. Но поставщик не имеет право изменять стоимость закупки, указанной в ходе тендера. Только
                                    в случае если клиент меняет техническое задание, свои поежлания или в техническом задание была допущена ошибка, неточность, поставщик имеет
                                    право по согласованию с клиентом изменить стоимость.</p>
                            </li>

                            <li><h3>4. Закрытие тендера</h3>
                                <p>После выполнения закупки поставщик должен отметить в личном кабинете выполнение тендера и проставить итоговую стоимость закупки.</p>
                            </li>

                            <li><h3>5. Закрытие тендера</h3>
                                <p>Оплата услуг осуществляется в соответствии с договором–офертой и после подтверждения клиентом победителя и формирования отрицательной
                                    задолженности в течение двух недель с момента ее образования. По договоренности с поставщиком, услуги могут быть оплачены в течение
                                    10 дней месяца, следующего за отчетным.</p>
                            </li>

                        </ol>





                    </div>
                </div>
            </div>
        </div><!--как это работает-->
        <hr class="featurette-divider">
        <div class="row featurette" id="why_work">
            <div class="col-xs-12">
                <div class="accordion">
                    <h2 class="featurette-heading " >Почему это работает</h2>
                    <div class="">
                        <p>Эффективность тендера, а следовательно и экономия ваших денежных средств до 30%, зависит во многом от правильности составления тендерной
                            документации, которую при необходимости мы вам поможем составить. Но не только.</p>
                        <p>За счет чего может достигаться экономия:</p>
                        <ol>
                            <li>Разнице в изначальной стоимости выбранного материала, деталей, зависящего от производителя, страны производства, стоимости бренда и т.д.
                                Получая большой выбор вариантов подобных материалов, деталей за счет большого количества поставщиков, которые могут использовать
                                совершенно разные материалы, детали, зачастую одинаковые по качеству, но различные по стоимости. И здесь при выборе материалов дешевле
                                по стоимости может быть существенная экономия, при этом незначительно теряя в качестве или не теряя вообще. К примеру, использовать
                                оригинальную, вместо не оригинальной запасной части в автомобиле, хотя они обе сделаны на одном заводе, просто одна идет со штампом
                                завода-изготовителя, а другая нет, и разница в стоимости доходит до 50%. Или использовать турецкую или итальянскую ткань для штор,
                                хотя качество материала практически идентично.</li>
                            <li>Разнице в окончательной стоимости выбранного вами материала, детали и т.д., которая образуется за счет эффективности управления в компании,
                                логистики, наценки на свои услуги и т.д. Одна компания получила скидку на продукцию на заводе в размере 15%, а другая за счет объема или
                                личных связей получает 30%. Или за счет устаревшего оборудования стоимость изготовления детали равна 1000 рублям, а на другом предприятии
                                за счет новых оборудования и технологий - 700 рублей.</li>
                        </ol>

                        <p>При проведении закупки у вас появляется выбор, значительно больший, чем при самостоятельной покупке, в которой есть личный контакт, есть эмоции,
                            которые могут склонить вас принять неверный вариант, сделать неправильный выбор, причем еще значительно увеличив ваш бюджет.</p>
                        <p>Это как покупки в супермаркете, когда вы пришли за одним набором продуктов, а ушли с другим, подвергнувшись эмоциональной составляющей, порывам
                            своей души и убеждая после себя, что правильно все купили. Или когда пришли купить один товар, а ушли с товаром в 1,5-2 раза дороже, поддавшись
                            уговорам продавцов на то, что купленный товар значительно лучше, престижнее.</p>
                        <p>С нами такие «фокусы» не пройдут, есть только «голый» расчет, логика и ваши пожелания. И даже если выбираете самые дорогие варианты, в любом случае
                            они будут дешевле, чем ваша покупка напрямую.</p>
                        <br>
                        <p>Доверьте закупки нам и мы обеспечим качественную поставку, сэкономив вам деньги.</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
