<div id="FIRST_PAGE" class="page" style="" > <!---FIRST_PAGE----->
<div class="container" style="margin-top: 40px;margin-bottom: 40px;">

    <div class="row">

        <div class="col-xs-12 col-sm-6">
               <div class="indexTab">
                 <div style="position: relative; min-height: 50px; width: 100%; padding: 20px 20px 0 120px;">
                     <img src="/res/img/car3.png" class="indexTabImg" />
                     <a href="#/new-tender-start" style="text-decoration: none; color:#333;">
                         <p style="font-size: 33px; font-weight: bold;font-family: 'PT Sans Caption', sans-serif;line-height: 0.9;">Авто/Мото</p>
                         <p style="font-size: 21px; font-weight: bold;font-family: 'PT Sans Caption', sans-serif;line-height: 0.9;">ремонт, тюнинг, запчасти, еще...</p>
                     </a>
                 </div>
                 <div style="position: relative; min-height: 120px; width: 100%; padding: 25px">
                     <p style="color:#663333; font-size: 21px;">Теперь можно отремонтировать и в кредит. Выберите такую опцию при открытии тендера</p>
                 </div>
               </div>
        </div>
        <div class="col-xs-12 col-sm-6 hidden-xs">
            <div class="indexTab"  >
                 <div style="position: relative; min-height: 50px; width: 100%; padding: 30px 25px 30px 110px;">
                    <img src="/res/img/calc3.png" class="indexTabImg" />
                    <a  href="http://ekspertservice.ru" style="text-decoration: none; color:#333;font-size: 19px;line-height: 1; font-family: 'PT Sans Caption', sans-serif;">
                        <p>Расчет стоимости восстановительного ремонта и оспаривание выплат страховых компаний.</p>
                        <p>Оценка всех видов имущества, акций, бизнеса. Строительные и пожаротехнические экспертизы.</p>
                    </a>
                </div>
            </div>

        </div>
    </div>



</div>


<!--

    <div class="container" style="margin-top: 40px;margin-bottom: 40px;">
        <div class="row placeholders">

            <div class="well-sm col-xs-12 col-sm-6 col-md-6 placeholder text-center" ng-repeat="typeObject in home.TypeObjectsCollection">
                <div class="row">
                    <a href="#new-tender-start" class="hashchange-link" ng-click="home.tender.typeObject = typeObject">
                        <div class="col-xs-12 col-sm-5">
                            <div class="service_logo" style="background-position: 0px 0px;background-image: url('{{typeObject.logoUrl}}');"></div>
                        </div>

                        <div class=" col-xs-12 col-sm-7">
                            <h4>{{typeObject.shortName}}</h4>
                            <p class="text-muted">{{typeObject.footnote}}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="well-sm col-xs-12 col-sm-6 col-md-6 placeholder text-center">
                <p style="font-size: 21px; color: #269C26; border: 2px dashed #109C10; padding: 12px;">Теперь можно отремонтировать и в кредит. Выберите такую опцию при открытии тендера</p>
            </div>

        </div>
    </div>

    <div class="container" style="padding: 12px; margin-bottom: 20px; font-size: 15px;" >
        <div class="row text-center">
            <div class="col-xs-12" style="margin-bottom: 20px;border: 1px solid dodgerblue;">
                <a href="http://ekspertservice.ru">Расчет стоимости восстановительного ремонта и оспаривание выплат страховых компаний. Оценка всех видов имущества, акций, бизнеса. Строительные и пожаротехнические экспертизы</a>
            </div>
        </div>
    </div>
-->


    <div class="container" style="margin-top: 40px;margin-bottom: 40px; border: 1px solid #666;padding-bottom: 20px;">
        <div class="row">
            <div class='col-sm-4 text-center' style='padding: 20px; overflow: hidden;'>
                <img style='height:auto;display: block; margin-left: auto; margin-right: auto; max-width:100%;' src="/res/img/index_10.jpg"/>
            </div>
            <div class='col-sm-8'>
                <div class='col-sm-12 text-left'>
                    <h1 style="font-weight:300; font-family: 'Open Sans', sans-serif; font-size: 44px;line-height: 0.9;">Сомневаетесь?</h1>
                    <p style="font-size: 18px;">Если ремонт будет сделан некачественно, то <br/><span style="background-color:red; color:#fff;font-size: 25px;">МЫ ЗА СВОЙ СЧЕТ ОТРЕМОНТИРУЕМ ВАШ АВТОМОБИЛЬ</span> на станции, которую выберете Вы <a href="#/registration_consumer_convention">*</a>. </p>
                </div>
            </div>
        </div>
    </div>







    <div class="container" style="padding: 0;">

      <div style="height: 400px" class="carousel slide  hidden-xs" id="myCarousel" >
          <uib-carousel interval="5000" no-wrap="false">
              <uib-slide index="0">
                  <img src="res/img/first.png" alt="Ты устанавливаешь правила">
                  <div class="carousel-caption">
                      <div style="padding: 40px; background-color: rgba(200, 200, 200, 0.4);">
                          <h1>UBETEN</h1>
                          <p style="color: #111;font-size: 20px; text-shadow: -3px 8px 10px black;">Ты устанавливаешь правила</p>
                          <br/>
                          <a href="/registration" class="btn btn-success btn-lg">Зарегистрируйся сейчас</a>
                      </div>
                  </div>
              </uib-slide>
              <uib-slide  index="1">
                  <img src="/res/img/khodovaya.jpg" alt="Выбирай профессионалов">
                  <div class="carousel-caption">
                      <div style="padding: 40px; background-color: rgba(200, 200, 200, 0.4);">
                          <h1>Выбирай профессионалов</h1>
                          <p style="font-size: 25px; text-shadow: -3px 8px 10px black;">Исполнители - компании с большим опытом работы и хорошей репутацией</p>
                      </div>
                  </div>
              </uib-slide>
              <uib-slide  index="2">
                  <img src="res/img/4page.jpg" alt="Организуем за Вас">
                  <div class="carousel-caption">
                      <div style="padding: 40px; background-color: rgba(200, 200, 200, 0.4);">
                          <h1>Организуем за Вас</h1>
                          <p style="font-size: 20px; text-shadow: -3px 8px 10px black;" >Вы не знаете как организовать тендер?</p>
                          <p style="font-size: 24px; text-shadow: -3px 8px 10px black;" >Напиши нам и мы все сделаем за вас!</p>
                          <a href="mailto:UBETEN<info@ubeten.com>" class="btn btn-warning btn-lg">Написать нам</a>
                      </div>
                  </div>
              </uib-slide>
          </uib-carousel>
      </div>
        <!------------СЛАЙДЕР------------------>
        <div class="container" style="">
            <hr class="featurette-divider">
             <div class="row featurette" id="about">
                <div class="col-md-7">
                    <h2 class="featurette-heading">О системе</h2>
                    <p><a href="http://ubeten.com" style="color: #2AB819; font-weight: bold;text-decoration: none;">Ubeten.com</a> это сервис, который позволяет найти компанию по ремонту Вашего автомобиля по стоимости до 30% ниже, чем если Вы сами её выбираете.
                    <p>Для этого мы выезжаем к местонахождению Вашего автомобиля и делаем его осмотр, организовываем аукцион, а Вы будете видеть ход торгов, какие цены предлагают разные компании и сможете выбрать победителя на основании, не только цены, но и его рейтинга.</p>
                    <p>При необходимости мы окажем Вам поддержку в спорах со станциями по качеству и срокам ремонтам.</p>
                    <p>Если Вы хотите найти качественного и недорогого исполнителя, то доверьте это нам!
                </div>
                <div class="col-md-5">
                    <img style="max-width: 70%; margin-top: 20px;" class="featurette-image img-responsive center-block" src="/res/img/content_image1.png" alt="Generic placeholder image">
                </div>
            </div>
        </div>
    </div>
    <!-------текущие тендеры----------------->
    <div class="container" style="padding: 25px; border: 0;">
        <hr class="featurette-divider">
        <h2 class="featurette-heading">Текущие тендеры</h2>
        <div id="actualTendersList">
            <div class='row text-center' style="margin-bottom: 25px; " ng-repeat="tender in home.tenderList">
                <div class='col-sm-12' style='border:1px solid #dedede; padding: 0;'>
                    <div class='col-sm-4 text-center' style='padding: 0; overflow: hidden;'>
                       <img style='height:230px;' ng-src="{{tender.tenderObjects[0].objectFotos.length > 0 && tender.tenderObjects[0].objectFotos[0].fotoMinLink || '/res/images/picture/image2.jpg'}}"/>
                    </div>
                    <div class='col-sm-8'>
                        <div class='col-sm-12 text-left'><h3>{{tender.tenderName}}</h3></div>
                        <div class='row col-sm-12' style='margin-bottom:10px;'>
                            <div class='col-xs-6 text-center' style='padding-right: 0;'>

                            </div>
                            <div class='col-xs-6 text-center' style='padding-right: 0;'>

                            </div>
                        </div>
                        <div class='row col-sm-12 text-left' style='margin-bottom:10px;'>
                            <div class='col-sm-12'>
                                <label><span class='glyphicon glyphicon-pushpin' aria-hidden='true'></span> Категория:
                                </label>
                                <span>{{tender.typeService.serviceNameProvider}}</span>
                            </div>
                            <div class='col-sm-12'>
                                <label><span class='glyphicon glyphicon-time' aria-hidden='true'></span> Сроки
                                    проведения:</label>
                                <span> {{tender.dateBegin | date:'dd.MM.yyyy'}} - {{ tender.dateEnd | date:'dd.MM.yyyy'}}</span>
                            </div>
                            <div class='col-sm-12'>
                                <label><span class='glyphicon glyphicon-rub' aria-hidden='true'></span> Ожидаемая цена:
                                </label>
                                <span>{{tender.expectedPrice}} руб.</span>
                            </div>
                            <div class='col-sm-12'>
                                <p><a href="#/registration_consumer_convention" style="text-decoration: none; color:#888; font-size: 11px;">Пользовательское соглашение</a></p>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-12  col-md-8' style="margin-bottom: 20px;">
                        <div class='col-sm-6 col-md-6 text-center' style='padding: 5px;'>
                        </div>
                        <div class='col-sm-6 col-md-6 text-center' style='padding: 5px;'>
                            <a href='#/tender/{{tender.id}}' class='btn btn-info btn-block'>Просмотреть тендер</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <!-------текущие тендеры----------------->
</div> <!---FIRST_PAGE----->

