<div id="QUALITY_PAGE" class="page" > <!---QUALITY_PAGE----->
    <div class="container" style="padding: 20px;">
        <div class="row featurette" id="quality">
            <div class="col-xs-12">
                <h2 class="featurette-heading">Качество</h2>
                <p><b>Если ремонт был сделан станцией некачественно, то мы направим Ваш автомобиль на любой выбранный Вами автосервис и устраним все недостатки бесплатно для Вас*.</b></p>
                <p>А чтобы такого не было - мы привлекаем в качестве поставщиков только юридические лица – станции по техническому обслуживанию автомобилей, которые уже присутствуют на рынке, имеют свою репутацию, обладают опытом работы по ремонту автомобилей.</p>
                <p>Мы стараемся выезжать в офис компании, на место, где она производит ремонт для оценки состояния площадей, оборудования, персонала и т.д.</p>
                <p>Перед включением в список ремонтной организации мы изучаем историю компании, ее опыт, рекомендации предыдущих клиентов, смотрим отзывы в интернете, производим опрос текущих клиентов. Также каждый клиент после ремонта своего автомобиля оценивает качество предоставленной ему поставки и на основании этих оценок также корректируется рейтинг станции. Даже одна негативная оценка работы станции может послужить основанием для ее исключения из числа наших исполнителей.</p>
            </div>
        </div>
        <div class="row featurette" id="warranty">
            <div class="col-xs-12">
                <h2 class="featurette-heading">Гарантии</h2>
                <p>Так как клиент выбирает поставщика с помощью нашего сайта, из партнеров, проверенных нами и допущенных к участию в закупках, и мы гарантируем качество поставки от компании, выигравшей тендер, то мы должны также нести ответственность за поставщиков, которые участвуют в закупках. Поэтому, в случае возникновения проблемных вопросов между клиентом и поставщиком, мы готовы выступать в качестве экспертов, третейского судьи, для устранения всех возникающих вопросов. </p>
                <p><b>Если ремонт был сделан станцией некачественно, то мы направим Ваш автомобиль на любой выбранный Вами автосервис и устраним все недостатки бесплатно для Вас*.</b></p>
                <br/>
                <p><a href="#/registration_consumer_convention" style="text-decoration: none; color:#333;">*См. соглашение об оказании услуг</a></p>
            </div>
        </div>
        <div class="row featurette" id="help_information">
            <div class="col-xs-12 ">
                <h2 class="featurette-heading">Помощь</h2>
                <div class="panel panel-info accordion" style="border: none; border-radius:0;">
                    <h4 class="panel-heading h-accord" ng-click="slideToggleA=! slideToggleA">- что делать, если выполненные работы Вас не устроили?</h4>
                    <div class="panel-body c-accord slide-toggle " ng-show="slideToggleA" style="padding:0;">
                        <p style="font-size: 19px; margin:15px;">Пришлите нам ( <a href="mailto:UBETEN<info@ubeten.com>"> info@ubeten.com</a>) номер вашего тендера, описание проблемы с выявленными недостатками, при наличии ответы исполнителя и мы подключимся к решению вашего вопроса.</p>
                    </div>
                    <h4 class="panel-heading h-accord" ng-click="slideToggleB=! slideToggleB" >- советы</h4>
                    <div class="panel-body c-accord slide-toggle " ng-show="slideToggleB"  style="padding:0;">
                        <div style=" margin:15px;" >
                            <h4>для клиента</h4>
                            <p style="text-decoration: underline;">При размещении тендера</p>
                            <p>Мы обратили внимание, что необязательно все подробно расписывать, что вы хотите получить, увидеть в результате выполнения закупки и тратить на это время. Единственное,
                                вам придется затратить время на изучения большего количества предложений, чтобы выяснить, в чем разница между предложениями. Но зато вы увидите, что существует достаточно
                                большое количество вариантов выполнения вашего задания. И в этом случае мы советуем выбрать самое дешевое предложение и уже с ними проработать возможные варианты. Наш опыт
                                говорит, что те, кто присылают заявку с наименьшими ценами, зачастую и становятся победителями тендера. Даже если материалы при первоначальном расчете они использовали дешевые,
                                впоследствии, при корректировке, стоимость закупки получается дешевле при тех же параметрах, что у других поставщиков.</p>

                            <p style="text-decoration: underline;">При выборе победителя</p>
                            <p>Если вы точно знаете какие параметры у вашей закупки и это является услугой, то можно выбрать победителя по стоимости услуг. Так как материалы по приемлемой стоимости можно
                                подобрать, а вот стоимость услуг достаточно тяжело уменьшить в дальнейшем. Но всегда обращайте внимание на самое выгодное ценовое предложение. Обязательно изучите его.</p>
                            <p>Смотрите на рейтинг поставщика, чем выше рейтинг, тем меньше шансов, что может случиться какая либо накладка при выполнения закупки.</p>
                            <p>Иногда поставщики указывают уникальное предложение. Оно отмечается специальным значком. Изучите их, там действительно может быть интересное предложение, которое в общем итоге
                                окажется выгоднее, чем стоимость проводимого тендера.</p>

                            <p style="text-decoration: underline;">Выполнение закупки</p>
                            <p>Если у вас все правильно и полно оформлено в техническом задании, то стоимость закупки не увеличивается. Однако в процессе общения с поставщиком зачастую выявляются некоторые
                                моменты, которые вы не учли при оформлении технического задания и это изменяет стоимость закупки. Причем в любую сторону, как в меньшую, так и в бОльшую.</p>
                            <p>Самое главное, при выполнении закупки не «разводиться» на дополнительные услуги, которые может навязывать поставщик, не гнаться за бесконечным улучшением качества, связанным
                                с непропорциональным увеличением стоимости закупки.</p>


                            <h4>для исполнителя</h4>
                            <p>Старайтесь давать минимальную стоимость выполнения закупки. Вы можете даже сработать в ноль по одному-двум тендерам, но удачно выполненный заказ, помогает повысить ваш рейтинг,
                                и в итоге может привести к бОльшему количеству заказов по более высокой стоимости. Ведь клиенты ориентируются не только на стоимость выполнения, но и на рейтинг поставщика.</p>
                            <p>Обращайте внимание на возможность эксклюзивного предложения. Например при ремонте авто, вы можете указать более высокую стоимость, чем у конкурентов, но при этом подарить бесплатное
                                техническое обслуживание в дальнейшем, что в итоге по сумме будет меньше, и вы получаете клиента уже точно не на один раз. Старайтесь пользоваться такими возможностями.</p>
                            <p>Если вы постоянно проигрываете в тендерах, то это может быть знаком для вас, что у вас не самое эффективное построение бизнеса. Что где-то эффективность процесса, работы, технологий
                                не самое удачное.</p>
                            <p>Мы можем помочь провести аудит работы компании, понять где эффективность не столь высока, где причины невозможности выигрыша тендера.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!---QUALITY_PAGE----->