<fieldset><legend style='padding-left: 30px;'  scroll-to-me="change-password" id="change-password"><h3>Смена пароля</h3></legend>
    <div class='row' ng-form="changeForm" novalidate>
        <div class='col-sm-6 col-sm-offset-3 text-center'>
            <div class='form-group margin30'>
                <label >Введите старый пароль</label>
                <input type='password' class='form-control' ng-model="stScope.ChangePassRequest.oldPassword"
                       pattern="^[a-zA-Z0-9_-]{4,50}$" required name='oldPassword'>
                <div class="text-danger" ng-show="changeForm.$submitted || changeForm.oldPassword.$touched">
                    <div  ng-show="changeForm.oldPassword.$error.required">Пароль обязателен для заполнения</div>
                    <div  ng-show="changeForm.oldPassword.$error.pattern">Пароль должен содержать только латинские символы, цифры, тире или нижнее подчеркивание. Быть длиннее 4 символов </div>
                </div>

            </div>
            <div class='form-group margin30'>
                <label>Введите новый пароль</label>
                <input type='password' class='form-control' ng-model="stScope.ChangePassRequest.newPassword"
                       pattern="^[a-zA-Z0-9_-]{4,50}$" required name='newPassword'>
                <div class="text-danger" ng-show="changeForm.$submitted || changeForm.newPassword.$touched">
                    <div  ng-show="changeForm.newPassword.$error.required">Пароль обязателен для заполнения</div>
                    <div  ng-show="changeForm.newPassword.$error.pattern">Пароль должен содержать только латинские символы, цифры, тире или нижнее подчеркивание. Быть длиннее 4 символов </div>
                </div>
            </div>
            <div class='form-group margin30'>
                <label> Введите новый пароль еще раз</label>
                <input type='password' class='form-control' ng-model="stScope.ChangePassRequest.newPassword2"
                       pattern="^[a-zA-Z0-9_-]{4,50}$" required name='newPassword2' equalspas="stScope.ChangePassRequest.newPassword">
                <div class="text-danger" ng-show="changeForm.$submitted || changeForm.newPassword2.$touched">
                    <div  ng-show="changeForm.newPassword2.$error.required">Пароль обязателен для заполнения</div>
                    <div  ng-show="changeForm.newPassword2.$error.equalspas">Провероный пароль не совпадает</div>
                </div>
            </div>
            </div>
            <div class='col-xs-12 text-center'>
                <input type='button' ng-click='stScope.changePassword(changeForm)' class='btn btn-danger btn-lg' value='Сменить пароль'/>
            </div>
       </div>
</fieldset>

