<div class='col-xs-12 well' scroll-to-me="filter-settings" id="filter-settings">
    <fieldset><legend>Настройка фильтра поиска</legend><p>Отметьте интересующие Вас катерогии тендеров</p>
        <div ng-repeat="typeObject in stScope.TypeObjectsCollection">
            <h3 style='text-decoration: underline;color: #945016;'>{{typeObject.typeName}}</h3>
            <div ng-repeat="typeService in  typeObject.typeServices">
                 <h4 style='text-decoration: underline;'>{{typeService.serviceNameProvider}}</h4>
                <div ng-repeat="selector in typeService.categorySelectors">
                    <h5>{{selector.selectorName}}  |
                        <small style="cursor: pointer;" ng-click="stScope.checkAll(selector)"> отметить все </small>
                        <small style="cursor: pointer;" ng-click="stScope.unCheckAll(selector)"> | отменить все  </small>
                    </h5>
                    <div class='row well'>
                        <p class='col-xs-12 col-sm-6 col-md-6 text-center' ng-repeat="option in selector.selectorOptions">
                            <input type='checkbox' ng-checked="option.checked" ng-click="option.checked= true"> {{option.optionName}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class='col-xs-12 text-right' style='margin-top: 0px;padding: 10px 0;background-color: #F5F5F5;'>
        <button ng-click='stScope.saveProviderFilterSettings()' style='margin-right: 10px;'
                   class='btn btn-success btn-lg'> Сохранить параметры фильтра </button>
    </div>
</div>