<fieldset><legend style='padding-left: 30px;' scroll-to-me="mail-settings" id="mail-settings"><h3>Настроить параметры почтовой рассылки</h3></legend>
    <div class='row' ng-form="mailSetForm" novalidate>
        <div class='col-xs-12'>
            <div class='form-group margin30'>
                <p class='col-xs-11 col-xs-offset-1 p-md ' style='font-size: 15px;'>
                    <input type='checkbox' class='check-bg' id='mail_all' name='mail_all'
                           ng-model="stScope.UserParameters.mailAll"
                           ng-checked="stScope.UserParameters.mailAll"/>
                      Получать рассылку от Ubeten.com</p>
            </div>
            <div class='form-group margin30'>
                <p class='col-xs-11 col-xs-offset-1 p-md ' style='font-size: 15px;'>
                    <input type='checkbox' class='check-bg' id='mail_comment' name='mail_comment'
                           ng-model="stScope.UserParameters.mailComment"
                           ng-checked="stScope.UserParameters.mailComment"/>
                      Получать уведомления о новых комментариях по тендерам, в которых я принимаю участие</p>
            </div>
            <div class='form-group margin30'>
                <p class='col-xs-11 col-xs-offset-1 p-md ' style='font-size: 15px;'>
                    <input type='checkbox' class='check-bg' id='mail_offer' name='mail_offer'
                           ng-model="stScope.UserParameters.mailOffer"
                           ng-checked="stScope.UserParameters.mailOffer"/>
                      Получать уведомления о новых предложениях конкурентов в тендерах, в которых я принимаю участие</p>
            </div>
            <div class='form-group margin30'>
                <p class='col-xs-11 col-xs-offset-1 p-md ' style='font-size: 15px;'>
                    <input type='checkbox' class='check-bg' id='mail_tender' name='mail_tender'
                           ng-model="stScope.UserParameters.mailTender"
                           ng-checked="stScope.UserParameters.mailTender" />
                      Получать уведомления о новых тендерах для моей категории участия</p>
            </div>
            <div class='col-xs-12 text-center'>
                <input type='button' ng-click="stScope.saveMailSetting()" class='btn btn-success btn-lg' value='Сохранить изменения'/>
            </div>
       </div>
    </div>
</fieldset>

