<fieldset scroll-to-me="money_transaction" id="money_transaction">
    <legend style='padding-left: 30px;'><h3>Пополнение счета</h3></legend>

    <div ng-form="yaForm" novalidate class="modal-body text-center">
        <label class="text-left col-xs-12 control-label">Пополнить счет на сумму:</label>
        <div class="input-group col-xs-12 col-sm-6 col-md-6">
            <input type="text" class="form-control" name="sum"
                   ng-model="mScope.YandexForm.sum"  required pattern="[0-9\s]{1,20}"
                   title="Сумма должна состоять только из цифр" placeholder="">
            <div class="input-group-addon">руб.</div>
        </div>
        <div class="input-group col-xs-12 col-sm-6 col-md-6">
            <div class="text-danger text-center" ng-show="yaForm.sum.$touched">
                <div  ng-show="yaForm.sum.$error.required">Необходимо указать сумму пополнения</div>
                <div  ng-show="yaForm.sum.$error.pattern">Сумма должна быть выражена числовым значением в рублях</div>
            </div>
        </div>
        <div class="text-left">
            <span style="color: #F86262;" id='moneyTransactionSpan' class="help-block"></span>
        </div>
        <div class="input-group col-sm-6 col-md-6">
            <label  class="text-left col-xs-12 control-label">Выберите способ оплаты:</label>
            <select class="form-control input-sm" name="paymentType" required ng-model="mScope.YandexForm.paymentType">
                <option value="PC">Оплата из кошелька в Яндекс.Деньга</option>
                <option value="AC">Оплата с произвольной банковской карты</option>
                <option value="WM">Оплата из кошелька в системе WebMoney</option>
                <option value="GP">Оплата наличными через кассы и терминалы</option>
                <option value="AB">Оплата через Альфа-Клик</option>
                <option value="PB">Оплата через интернет-банк Промсвязьбанка</option>
            </select>
            <div class="text-danger text-center" ng-show="yaForm.paymentType.$touched">
                <div  ng-show="yaForm.paymentType.$error.required">Необходимо выбрать способ оплаты</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button"  onclick="history.back()" class="btn btn-default">Назад</button>
        <button type="button" ng-click="mScope.submitYandexForm(yaForm)" class="btn btn-success">Оплатить</button>
    </div>

</fieldset>


<!--служебные элементы--------------------------------------------------------------------------------------------->

    <!-----------YANDEX-------------------->
    <form action="https://money.yandex.ru/eshop.xml" method="post" id="YandexForm">
        <input name="shopId" value="47502" type="hidden"/>
        <input name="scid" value="32439" type="hidden"/>
        <input id="t_sum" name="sum" value="{{mScope.YandexForm.sum}}.00" type="hidden">
        <input id="t_customerNumber" name="customerNumber" value="{{mScope.YandexForm.customerNumber}}" type="hidden"/>
        <input id="t_paymentType" name="paymentType" value="{{mScope.YandexForm.paymentType}}" type="hidden"/>
        <input id="t_uniq" name="t_uniq" value="{{mScope.YandexForm.t_uniq}}" type="hidden"/>
    </form>



