<fieldset scroll-to-me="money" id="money">
    <div class='col-xs-12 col-sm-12 col-md-6'>
        <div class='panel panel-success'><div class='panel-heading'><h3 class='panel-title'>Доступные средства</h3></div>
            <div class='panel-body'><p class='text-center' style='margin-top: 5px;'>
                <span ng-class="{'balanceless': mScope.ProviderBalance.value <= '0' , 'balancegreat': mScope.ProviderBalance.value > '0' }" ng-bind="mScope.ProviderBalance.value"> </span> руб.
                <div class='alert alert-danger' role='alert' ng-show="mScope.ProviderBalance.value <= '0'">Вам необходимо пополнить баланс</div>
                <p style='font-size: 12px; color: #666;'>Данные средства расходуются при оплате комиссии за выигрыш тендера.</p></div>
            </div>
        </div>
    <div class='col-xs-12 col-sm-12 col-md-6'>
    <a class='btn btn-success btn-lg' href="#/user_page/money_transaction">Пополнить счет</a>
    <p style='margin-top: 20px; font-size: 12px;text-align: justify;color: #555;'>Пополнение счета осуществляется
        заранее или после совершения сделки по тендеру. Баланс по счету
        может уходить в минус, но помните, что организации задерживающие выплаты коммисии попадают в список должников.
        А если отрицательный балас не погашается прололжительное время, аккаунт пользователя и вовсе может быть заморожен.</p>
    </div>
</fieldset>


