<fieldset><legend style='padding-left: 30px;' scroll-to-me="provider-info-form" id="provider-info-form">
    <h3>Информация о компании</h3></legend>


    <form name="providerForm" ng-submit="submitProvider(providerForm.$invalid)" novalidate>
        <!---форма регистрации для исполнителя-->
        <fieldset>
            <legend>Контактное лицо</legend>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="firstNameContactPerson">Имя</label>
                    <input type="text" class="form-control" id="firstNameContactPerson"
                           ng-model="provider.firstNameContactPerson" name='firstNameContactPerson'
                           pattern="^[а-яА-ЯЁьъ\\s]{3,20}$" required>

                    <div class="text-danger"
                         ng-show="providerForm.$submitted || providerForm.firstNameContactPerson.$touched">
                        <div ng-show="providerForm.firstNameContactPerson.$error.required">Имя обязательно для
                            заполнения
                        </div>
                        <div ng-show="providerForm.firstNameContactPerson.$error.pattern">Имя должно содержать только
                            символы кирилицы, и содержать более 3 символов
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="lastNameContactPerson">Фамилия</label>
                    <input type="text" class="form-control" id="lastNameContactPerson" name='lastNameContactPerson'
                           ng-model="provider.lastNameContactPerson" pattern="^[а-яА-ЯЁьъ\\s]{3,20}$" required>

                    <div class="text-danger"
                         ng-show="providerForm.$submitted || providerForm.lastNameContactPerson.$touched">
                        <div ng-show="providerForm.lastNameContactPerson.$error.required">Фамилия обязательна для
                            заполнения
                        </div>
                        <div ng-show="providerForm.lastNameContactPerson.$error.pattern">Фамилия должна содержать
                            только символы кирилицы, содержать более 3 символов
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="p_login">Логин</label>
                    <input type="text" class="form-control" id="p_login" uniqeditlogin name='p_login'
                           ng-model="provider.p_login" pattern="^[a-zA-Z0-9_-]{4,30}$" required>

                    <div class="text-danger" ng-show="providerForm.$submitted || providerForm.p_login.$touched">
                        <div ng-show="providerForm.p_login.$error.required">Логни обязателен для заполнения</div>
                        <div ng-show="providerForm.p_login.$error.pattern">Логин должен содержать только латинские
                            символы, цифры, тире или нижнее подчеркивание
                        </div>
                        <div ng-show="providerForm.p_login.$error.uniqeditlogin">К сожалению, данный логин уже занят.
                            Используйте другой.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="emailContactPerson">Адрес электронной почты</label>
                    <input type="email" class="form-control" id="emailContactPerson" name='emailContactPerson'
                           ng-model="provider.emailContactPerson" required uniqeditemail>

                    <div class="text-danger"
                         ng-show="providerForm.$submitted || providerForm.emailContactPerson.$touched">
                        <div ng-show="providerForm.emailContactPerson.$error.required">Адрес электронной почты
                            обязателен для заполнения
                        </div>
                        <div ng-show="providerForm.emailContactPerson.$error.email">Адрес электронной почты не
                            действителен
                        </div>
                        <div ng-show="providerForm.emailContactPerson.$error.uniqeditemail">К сожалени, данный email уже
                            зарегистрирован. Используйте другой
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="phoneNumberContactPerson">Телефон</label>

                    <div class="input-group">
                        <div class="input-group-addon">+7</div>
                        <input type="text" class="form-control" id="phoneNumberContactPerson"
                               name='phoneNumberContactPerson' ng-model="provider.phoneNumberContactPerson" uniqeditphone phonemask
                               required>
                    </div>
                    <div class="text-danger"
                         ng-show="providerForm.$submitted || providerForm.phoneNumberContactPerson.$touched">
                        <div ng-show="providerForm.phoneNumberContactPerson.$error.required"> Номер телефона
                            обязателен для заполнения
                        </div>
                        <div ng-show="providerForm.phoneNumberContactPerson.$error.uniqeditphone">К сожалению, данный
                            номер телефона уже зарегистрирован в системе, используйте другой
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend style="margin-top: 40px;">Реквизиты компании</legend>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="companyName">Наименование компании</label>
                    <input type="text" class="form-control" id="companyName" name='companyName'
                           ng-model="provider.companyName" required>

                    <div class="text-danger"
                         ng-show="providerForm.$submitted || providerForm.companyName.$touched">
                        <div ng-show="providerForm.companyName.$error.required">Название компании обязательно для
                            заполнения
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-xs-12">
                    <label class="control-label" for="companyName">Описание компании</label>
                    <textarea  class="form-control" id="companyDescription" name='companyDescription'
                           ng-model="provider.companyDescription"> </textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="inn">ИНН</label>
                    <input type="text" class="form-control" id="inn" name='inn' ng-model="provider.inn" uniqeeditinn required
                           pattern="^[0-9]{3,20}$">

                    <div class="text-danger" ng-show="providerForm.$submitted || providerForm.inn.$touched">
                        <div ng-show="providerForm.inn.$error.required">ИНН компании обязателен для заполнения</div>
                        <div ng-show="providerForm.inn.$error.pattern">ИНН должен состоять только из цифр, без
                            пробелов. Содержать от 3 до 20 цифр
                        </div>
                        <div ng-show="providerForm.inn.$error.uniqeeditinn">К сожалени, данный ИНН уже зарегистрирован
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <!----Доработка по локации исполнителя-->
        <fieldset style="margin-top: 17px;">
            <legend>Адрес компании</legend>
            <div locationset maplink="providerMap" adressparent="provider"></div>
        </fieldset>
        <!----Доработка по локации исполнителя-->

        <div class="text-center" style="margin-top: 40px;">
            <button type="submit" ng-disabled="providerForm.$submitted && providerForm.$invalid" class="btn btn-success btn-lg">
                Сохранить изменения
            </button>
        </div>
    </form>







</fieldset>