<fieldset><legend style='padding-left: 30px;' scroll-to-me="region-settings" id="region-settings"><h3>Настроить регион участия в тендерах</h3></legend>
    <p>Укажите регионы и города России, в которых Вас интересуют проводимые заказчиками тенедры. Добавьте регион к списку и сохраните изменения.</p>
    <p>Если Вы не заполните данные настройки, то поиск тендеров для Вас будет проходить по всей России.</p>
    <div class='row' ng-if="stScope.PreferRegions.length>'0'" >
        <div class='col-xs-12'>
            <h3>Выбранные регионы поиска тендеров</h3>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Регион</th>
                    <th>Район</th>
                    <th>Город</th>
                    <th class="text-center">
                        <span class="glyphicon glyphicon-trash"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="region in stScope.PreferRegions track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{region.regionCode}}</td>
                    <td>{{region.rayonCode}}</td>
                    <td>{{region.cityCode}}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="stScope.deleteRegionFromPrefered($index)">Удалить</button>
                    </td>
                </tr>

                </tbody>
            </table>
       </div>
    </div>
    <div class="well" ng-form="newRegionForm" novalidate>

              <div preferregion adressparent="stScope.NewLocate"></div>

              <div class="row text-center" style="margin-top: 40px;" >
                    <button type="button" ng-click="stScope.addRegionToPreffer(newRegionForm)" class="btn btn-default btn-lg">Добавить регион</button>
              </div>
        </div>
    </div>

    <div class='col-xs-12 text-center'>
        <input type='button' ng-click="stScope.savePrefferRegios()" class='btn btn-success btn-lg' value='Сохранить изменения'/>
    </div>
</fieldset>
