<fieldset><legend style='padding-left: 30px;' scroll-to-me="setting-menu" id="setting-menu"><h3>Настройки</h3></legend>
    <div class='row text-center'>
        <div class='marginbottom20 col-sm-8  col-sm-offset-2'  ng-if="uScope.User.provider">
            <a class='btn btn-default btn-block btn-lg' href='#/user_page/provider_info'>
                Информация о компании</a></div>
        <div class='marginbottom20 col-sm-8  col-sm-offset-2'  ng-if="uScope.User.provider">
            <a class='btn btn-default btn-block btn-lg' href='#/user_page/region_settings'>
                Настроить регион участия</a></div>
        <div class='marginbottom20 col-sm-8  col-sm-offset-2'  ng-if="uScope.User.provider">
            <a class='btn btn-default btn-block btn-lg' href='#/user_page/provider_filter'>
                Настройки категорий участия</a></div>
        <div class='marginbottom20 col-sm-8  col-sm-offset-2'  ng-if="uScope.User.provider || uScope.User.consumer">
            <a class='btn btn-default btn-block btn-lg' href='#/user_page/password_change'>
                Сменить пароль</a></div>
        <div class='marginbottom20 col-sm-8  col-sm-offset-2'  ng-if="uScope.User.provider">
            <a class='btn btn-default btn-block btn-lg' href='#/user_page/mail_setting'>
                Настроить почтовую рассылку</a></div>
        <div class='marginbottom20 col-sm-8  col-sm-offset-2'  ng-if="uScope.User.provider || uScope.User.consumer" >
            <a class='btn btn-danger btn-block btn-lg'  href='#/user_page/user_delete'>
                Удалить свой акаунт</a></div>
    </div>
</fieldset>