<fieldset scroll-to-me="tender-list" id="tender-list">
    <legend style='padding-left: 30px;' ><h3 ng-bind="lScope.listTema"></h3></legend>

    <h1 ng-if="lScope.TenderListForView.length == '0'" style="color:#777; font-size: 23px; font-weight: bold;">
        В данной категории пока нет тендеров.</h1>

    <div class='row text-center' style="margin-bottom: 25px; border:1px solid #dedede;" ng-repeat="tender in lScope.TenderListForView">
        <div class='col-sm-12' style='padding: 0;'>
            <div class='col-sm-4 text-center' style='padding: 0; overflow: hidden;'>
                <img style='height:230px;' ng-src="{{tender.tenderObjects[0].objectFotos.length > 0 && tender.tenderObjects[0].objectFotos[0].fotoMinLink || '/res/images/picture/image2.jpg'}}"/>
            </div>
            <div class='col-sm-8'>
                <div class='col-sm-12 text-left'><h3>{{tender.tenderName}}</h3></div>
                <div class='row col-sm-12' style='margin-bottom:10px;'>
                    <div class='col-xs-6 text-center' style='padding-right: 0;'>
                        <span class='glyphicon glyphicon-comment' aria-hidden='true'> </span> Комментарии <span
                            class='badge' ng-bind="tender.messageList.length"></span>
                    </div>
                    <div class='col-xs-6 text-center' style='padding-right: 0;'>
                        <span class='glyphicon glyphicon-briefcase' aria-hidden='true'> </span>
                        Предложения <span
                            class='badge'>{{tender.offerList.length}}</span>
                    </div>
                </div>
                <div class='row col-sm-12 text-left' style='margin-bottom:10px;'>
                    <div class='col-sm-12'>
                        <label><span class='glyphicon glyphicon-pushpin' aria-hidden='true'></span> Категория:
                        </label>
                        <span>{{tender.typeService.serviceNameProvider}}</span>
                    </div>
                    <div class='col-sm-12'>
                        <label><span class='glyphicon glyphicon-time' aria-hidden='true'></span> Сроки
                            проведения:</label>
                        <span> {{tender.dateBegin | date:'dd.MM.yyyy'}} - {{ tender.dateEnd | date:'dd.MM.yyyy'}}</span>
                    </div>
                    <div class='col-sm-12'>
                        <label><span class='glyphicon glyphicon-rub' aria-hidden='true'></span> Ожидаемая цена:
                        </label>
                        <span>{{tender.expectedPrice}} руб.</span>
                    </div>
                    <div class='col-sm-12'>
                        <label><span class='glyphicon glyphicon-info-sign' aria-hidden='true'></span> Статус тендера:
                        </label>
                        <span>{{tender.tenderStatus.statusName}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-sm-12'>
            <div class="col-sm-12 text-left" style="margin-top: 17px;">
                <div id="selectorValueList">
                    <div class='col-sm-4' ng-repeat="selectorV in tender.SelectorValueList track by $index" ng-if="selectorV.name">
                        <p><label class='control-label'>{{selectorV.name}}:</label>{{selectorV.valuesHtml}}</p>
                    </div>
                </div>
                <div id="commonParametersList">

                    <div class='col-sm-4' ng-repeat="commonParameter in tender.commonValueList">
                        <p><label class='control-label'>{{commonParameter.parameterName}}: </label> {{commonParameter.parameterValue}}</p>
                    </div>

                </div>
            </div>
            <div class='col-sm-12  col-md-offset-4 col-md-8' style="margin-bottom: 20px;">
                <div class='col-sm-6 col-md-6 text-center' style='padding: 5px;'>
                </div>
                <div class='col-sm-6 col-md-7 text-center' style='padding: 5px;'>
                    <a href='#/tender/{{tender.id}}' class='btn btn-info btn-block btn-lg {button}'>Просмотреть тендер</a>
                </div>
            </div>
        </div>
    </div>
<fieldset>