<div class="container" style="margin-top: 20px;">
    <div id="alertsMessageDiv" class="row text-center  ng-hide"  ng-show="uScope.CheckedSelectors.length == '0'" >
        <div class='alert alert-warning alert-dismissible' role='alert'>
            <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
            <strong>Обязательно</strong> настройте фильтрацию поиска интересующих Вас тендеров. Для этого перейдите в Настройки ->
            <a href= '#/user_page/provider_filter'>настройки фильтов</a></div>
    </div>

    <div class="row">
        <div class="col-sm-3"
             style="border-right:1px solid #ddd;border-left:1px solid #ddd;box-shadow: 7px 21px 78px -24px rgba(186,186,186,0.43); margin-bottom: 20px; padding-bottom: 10px;"
             id="leftCol">
            <ul class="nav nav-pills nav-stacked text-center" id="sidebar1">
                <li ng-class="{active: uScope.isCurrentPath('/tender_list/tenders_my_cat') }"
                    ng-disabled="uScope.isCurrentPath('/tender_list/tenders_my_cat')"
                    ng-if="uScope.User.provider">
                    <a href="#/user_page/tender_list/tenders_my_cat" ><span class="glyphicon glyphicon-th" aria-hidden="true">
                        </span> Тендеры<span class="badge" ng-bind="uScope.TendersMyCat.length"></span>
                    </a>
                </li>
                <li ng-class="{ active: uScope.isCurrentPath('/tender_list/run_tenders') }"
                    ng-disabled="uScope.isCurrentPath('/tender_list/run_tenders')"
                    ng-if="uScope.User.provider">
                    <a href="#/user_page/tender_list/run_tenders"  ><span class="glyphicon glyphicon-th-large" aria-hidden="true">
                        </span> Участвую<span class="badge" ng-bind="uScope.TendersWithOfferForProvider.length"></span>
                    </a>
                </li>
                <li ng-class="{active: uScope.isCurrentPath('/tender_list/win_tenders') }"
                    ng-disabled="uScope.isCurrentPath('/tender_list/win_tenders')"
                    ng-if="uScope.User.provider">
                    <a href="#/user_page/tender_list/win_tenders"><span class="glyphicon glyphicon-th-large" aria-hidden="true">
                        </span> Выиграл<span class="badge" ng-bind="uScope.TendersWinForProvider.length"></span>
                    </a>
                </li>
                <li ng-class="{active: uScope.isCurrentPath('/tender_list/my_tenders') }"
                    ng-disabled="uScope.isCurrentPath('/tender_list/my_tenders')"
                    ng-if="uScope.User.provider || uScope.User.consumer">
                    <a  href="#/user_page/tender_list/my_tenders" ><span class="glyphicon glyphicon-th" aria-hidden="true">
                        </span> Мои тендеры<span class="badge" ng-bind="uScope.TendersMy.length"></span>
                    </a>
                </li>
                <li ng-class="{active: uScope.isCurrentPath('/tender_list/actual_tenders')}"
                    ng-disabled="uScope.isCurrentPath('/tender_list/actual_tenders')"
                    ng-if="uScope.User.provider || uScope.User.consumer">
                    <a href="#/user_page/tender_list/actual_tenders"><span class="glyphicon glyphicon-th-large" aria-hidden="true">
                        </span> Актуальные<span class="badge" ng-bind="uScope.TendersMyActual.length"></span>
                    </a>
                </li>
                <li ng-class="{active: uScope.isCurrentPath('/tender_list/ended_tenders') }"
                    ng-disabled="uScope.isCurrentPath('/tender_list/ended_tenders')"
                    ng-if="uScope.User.provider || uScope.User.consumer">
                    <a href="#/user_page/tender_list/ended_tenders" ><span class="glyphicon glyphicon-th-large" aria-hidden="true">
                        </span> Завершенные<span class="badge" ng-bind="uScope.TendersMyEnded.length"></span>
                    </a>
                </li>
                <li ng-class="{active: uScope.isCurrentPath('/settings') }"
                    ng-disabled="uScope.isCurrentPath('/settings')"
                    ng-if="uScope.User.provider || uScope.User.consumer">
                    <a href="#/user_page/settings"><span class="glyphicon glyphicon-cog" aria-hidden="true">
                        </span> Настройки</a>
                </li>
                <li ng-class="{active: uScope.isCurrentPath('/money') }"
                    ng-disabled="uScope.isCurrentPath('/money')"
                    ng-if="uScope.User.provider">
                    <a href="#/user_page/money"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true">
                        </span> Счет</a>
                </li>

            </ul>
        </div>

        <div class="col-sm-9" ui-view >
            <div class="row text-center">
                <div class="col-xs-12 text-center"
                     style="margin-top: 40px;position: relative; padding: 30px;">
                    <a href="#/new-tender-start" class="btn btn-success btn-lg" style=""><span class="glyphicon glyphicon-plus"></span> Разместить тендер</a>
                    <h4>Приветствуем Вас в меню пользователя. Выберите необходимый пункт меню</h4>

                </div>
            </div>

        </div>

    </div>



</div>
