<fieldset  scroll-to-me="user-delete" id="user-delete"><legend style='padding-left: 30px;'><h3>Удаление пользователя</h3></legend>
    <div class='row text-center'>
        <div class='col-xs-12'>
            <h3>Вы уверены что хотите удалить свой аккаунт?</h3>
            <p class='text-center'>Ваш аккаунт не может быть удылен пока у Вас есть активные тендеры</p></div>
        <div class='marginbottom20 col-xs-12  col-sm-6'>
            <a class='btn btn-danger' ng-click="stScope.userDeleteBySelf()" > Да, я хочу удалиться</a></div>
        <div class='col-xs-12  col-sm-6'>
            <a class='marginbottom20 btn btn-default ' href='#/settings'>
                Отмена</a></div>
</div>
</fieldset>