<meta charset="UTF-8">
<h2>Проверка статуса запроса на проверку ТС</h2>
<div class="row">
    <div class="col-xs-6">
        <label>Номер IDCheckTS</label>
        <input class="form-control" ng-model="eosagoTsStatusRequest.requestID" type="text"/>
    </div>
</div>
<div class="row text-center ng-scope" style="padding: 10px 0 22px 0;">
   <form novalidate name="eosagoTsStatusRequestForm" ng-submit="geteosagoTsStatusRequestFromXML(eosagoTsStatusRequestForm.$invalid)">
    <div class="col-xs-6 " style="padding-top: 4px;">
        <br>
        <button type="submit" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Запрос статуса </button>
    </div>
    <div class="col-xs-6 " style="padding-top: inherit; margin-bottom: 20px;">
        <label> Запрос сервера</label>
        <select class="form-control" ng-model="eosagoTsStatusRequest.serverInstance" name="serverInstance" required
                ng-options="server.constant as server.name for server in serversEosago">
            <option value="" > - - - Доступные серверы - - -  </option>
        </select>
        <div class="text-danger" ng-show="eosagoTsStatusRequestForm.$submitted || eosagoTsStatusRequestForm.serverInstance.$touched">
            <span ng-show="eosagoTsStatusRequestForm.serverInstance.$error.required">Необходимо выбрать сервер</span>
        </div>
   </div>
   </form>
</div>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="eosagoTsStatusResponse.response"  rows="5"></textarea>
</div>


