<meta charset="UTF-8">
<h2>Base64</h2>
<h4>Работа с текстом типа: "PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kY==....."  </h4>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="base64.text"  rows="5"></textarea>
</div>
<div class="row text-center" style="padding:20px 0 20px 0;">
    <div class="col-xs-6">
        <button class="btn btn-default btn-block" ng-click="getBase64()"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Закодировать в BASE64</button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-default btn-block" ng-click="getText()">Расскодировать BASE64 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
    </div>
</div>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="base64.hash"  rows="5"></textarea>
</div>
