<meta charset="UTF-8">
<h2>Запрос КБМ отправкой xml сообщения</h2>
<p>В запросах используйте InsurerID - 99700000</p>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="kbmXmlRequest.xml"  rows="5"></textarea>
</div>
<div class="row text-center ng-scope" style="padding: 10px 0 22px 0;">
   <form novalidate name="kbmXMLRequestForm" ng-submit="getKBMFromXML(kbmXMLRequestForm.$invalid)">
    <div class="col-xs-6 " style="padding-top: 4px;">
        <br>
        <button type="submit" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Запросить КБМ</button>
    </div>
    <div class="col-xs-6 " style="padding-top: inherit; margin-bottom: 20px;">
        <label> Запрос сервера</label>
        <select class="form-control" ng-model="kbmXmlRequest.serverInstance" name="serverInstance" required
                ng-options="server.constant as server.name for server in serversKBM">
            <option value="" > - - - Доступные серверы - - -  </option>
        </select>
        <div class="text-danger" ng-show="kbmXMLRequestForm.$submitted || kbmXMLRequestForm.serverInstance.$touched">
            <span ng-show="kbmXMLRequestForm.serverInstance.$error.required">Необходимо выбрать сервер</span>
        </div>
   </div>
   </form>
</div>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="kbmXmlResponse.response"  rows="5"></textarea>
</div>
