<div id="new-tender-start" class="container">
    <h2 class="text-center" style="margin:30px 5px 30px 5px;">Разместить новый тендер</h2>
    <fieldset style="min-height: 260px;"> <legend>Категория тендера</legend>
        <div class="form-group">
            <div class="well-sm col-xs-12 text-center">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="service_logo" style="background-position: 0px 0px;background-image: url('{{tCtrl.TenderFormObject.typeObject.logoUrl}}');"></div>
                    </div>

                    <div class="col-xs-12">
                        <h4>{{tCtrl.TenderFormObject.typeObject.shortName}}</h4>
                        <p class="text-muted">{{tCtrl.TenderFormObject.typeObject.footnote}}</p>
                    </div>

                </div>
            </div>

            <form name="newTenderForm" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label" for="typeObject">Укажите тип объекта тендера</label>
                    <select class="form-control input-lg" name="typeObject" id="typeObject" ng-model="tCtrl.TenderFormObject.typeObject"
                            ng-options="typeObject as typeObject.typeName for typeObject in tCtrl.TypeObjectsCollection" required>
                            <option value="" > - - - Доступные объекты - - -  </option>
                    </select>
                    <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.typeObject.$touched">
                        <div  ng-show="newTenderForm.typeObject.$error.required">Укажите тип объекта</div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="tCtrl.TenderFormObject.typeObject">
                <div class="col-md-6">
                    <label class="control-label" for="typeService">Тип предоставляемой услуги</label>
                    <select class="form-control input-lg" name="typeService" id="typeService"  ng-model="tCtrl.TenderFormObject.typeService"
                            ng-options="typeService as typeService.serviceNameConsumer for typeService in tCtrl.TenderFormObject.typeObject.typeServices"
                        required>
                        <option value="" > - - - Доступные услуги - - -  </option>
                    </select>
                    <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.typeService.$touched">
                        <div  ng-show="newTenderForm.typeService.$error.required">Укажите тип услуги</div>
                    </div>
                </div>
             </div>

     <!----->   <div id="categorySelectors" style="margin-top: 40px;" ng-if="tCtrl.TenderFormObject.typeService">
                <div ng-repeat="categoriaSelector in tCtrl.TenderFormObject.typeService.categorySelectors"
                     ng-if="categoriaSelector.depended == false">

                    <h5 style=" font-size: 15px;">{{categoriaSelector.selectorName}}
                           <span ng-if="categoriaSelector.selectorComment">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                  ng-click="categoriaSelector.showHelp = !categoriaSelector.showHelp" > </span>
                            <span ng-show="categoriaSelector.showHelp" class="help-block" style=" font-size: 14px;">{{categoriaSelector.selectorComment}}</span>
                        </span>
                    </h5>
                    <div class='row well' ng-class="{errorselector : categoriaSelector.invalid}" required-one="categoriaSelector" data-selector_block="{{categoriaSelector.parameterName}}" style='background-color: #fff;'>
                         <div ng-if="categoriaSelector.consumerSelectorType == 'checkbox'">

                                <p class='col-xs-12 col-sm-6 col-md-6 text-center p-md ' ng-repeat="selectorOption in categoriaSelector.selectorOptions">
                                    <input type="{{categoriaSelector.consumerSelectorType}}" class='check-bg'
                                           ng-model="selectorOption.checked"
                                           name="{{categoriaSelector.parameterName}}">  {{selectorOption.optionName}}
                                    <span ng-if="selectorOption.optionComment">
                                              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                                    ng-click="selectorOption.showHelp = !selectorOption.showHelp" > </span>
                                             <span ng-show="selectorOption.showHelp" class="help-block" style=" font-size: 14px;">{{selectorOption.optionComment}}</span>
                                          </span>

                                </p>
                        </div>
                        <div ng-if="categoriaSelector.consumerSelectorType == 'radio'">

                                <p class='col-xs-12 col-sm-6 col-md-6 text-center p-md ' ng-repeat="selectorOption in categoriaSelector.selectorOptions">
                                    <input type="{{categoriaSelector.consumerSelectorType}}" class='check-bg'
                                           ng-checked = "categoriaSelector.checkedOptionId == selectorOption.optionId"
                                           ng-click="categoriaSelector.checkedOptionId = selectorOption.optionId"
                                           name="{{categoriaSelector.parameterName}}">  {{selectorOption.optionName}}
                                  <span ng-if="selectorOption.optionComment">
                                              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                                    ng-click="selectorOption.showHelp = !selectorOption.showHelp" > </span>
                                             <span ng-show="selectorOption.showHelp" class="help-block" style=" font-size: 14px;">{{selectorOption.optionComment}}</span>
                                          </span>

                                </p>
                        </div>
                        <div class="row text-center" ng-show="categoriaSelector.invalid" >
                            <div class="col-xs-12">Необходимо выбрать хотя бы один из пунктов</div>
                        </div>
                   </div>
                   <div ng-repeat="dependedSelector in categoriaSelector.dependedSelectors" required-one="dependedSelector" ng-if="tCtrl.showDependetSelector(categoriaSelector, dependedSelector)">

                        <h5 style=" font-size: 15px;"> {{dependedSelector.selectorName}}
                              <span ng-if="dependedSelector.selectorComment">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                  ng-click="dependedSelector.showHelp = !dependedSelector.showHelp" > </span>
                            <span ng-show="dependedSelector.showHelp" class="help-block" style=" font-size: 14px;">{{dependedSelector.selectorComment}}</span>
                        </span>
                        </h5>
                        <div class='row well'  ng-class="{errorselector : dependedSelector.invalid}" data-selector_block="{{dependedSelector.parameterName}}" style='background-color: #fff;'>
                                <div ng-if="dependedSelector.consumerSelectorType == 'checkbox'">
                                        <p class='col-xs-12 col-sm-6 col-md-6 text-center p-md ' ng-repeat="selectorOptionD in dependedSelector.selectorOptions">
                                            <input type="{{dependedSelector.consumerSelectorType}}" class='check-bg'
                                                   ng-model="selectorOptionD.checked"
                                                   name="{{dependedSelector.parameterName}}">  {{selectorOptionD.optionName}}
                                            <span ng-if="selectorOptionD.optionComment">
                                              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                                    ng-click="selectorOptionD.showHelp = !selectorOptionD.showHelp" > </span>
                                             <span ng-show="selectorOptionD.showHelp" class="help-block" style=" font-size: 14px;">{{selectorOptionD.optionComment}}</span>
                                          </span>
                                        </p>
                                </div>
                                <div ng-if="dependedSelector.consumerSelectorType == 'radio'">

                                        <p class='col-xs-12 col-sm-6 col-md-6 text-center p-md ' ng-repeat="selectorOptionD in dependedSelector.selectorOptions">
                                            <input type="{{dependedSelector.consumerSelectorType}}" class='check-bg'
                                                   ng-checked = "dependedSelector.checkedOptionId == selectorOptionD.optionId"
                                                   ng-click="dependedSelector.checkedOptionId = selectorOptionD.optionId"
                                                    name="{{dependedSelector.parameterName}}">  {{selectorOptionD.optionName}}
                                          <span ng-if="selectorOptionD.optionComment">
                                              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                                                    ng-click="selectorOptionD.showHelp = !selectorOptionD.showHelp" > </span>
                                             <span ng-show="selectorOptionD.showHelp" class="help-block" style=" font-size: 14px;">{{selectorOptionD.optionComment}}</span>
                                          </span>

                                        </p>
                                </div>
                            <div class="row text-center" ng-show="dependedSelector.invalid" >
                                <div class="col-xs-12">Необходимо выбрать хотя бы один из пунктов</div>
                            </div>

                        </div>

                    </div>
               </div>
            </div><!----->
     </form>
        </div>
    </fieldset>

    <div class="text-center next_button_div" style="margin: 40px 0 40px 0;" ng-if="tCtrl.TenderFormObject.typeService" >
        <button type="button" ng-click="tCtrl.secondBlockTry()" class="btn btn-primary btn-lg next_button">Далее <span aria-hidden="true">&rarr;</span></button>
    </div>
</div>
