

<div id="THIRD_BLOCK" class="container" style="position: relative; border:1px solid #ddd; min-height:700px; margin-top:10px; border-radius:6px; background-color:#FDFDFD; max-width:900px; padding:10px 30px 100px 30px;" ><!--THIRD_BLOCK-->

    <ng-form name="newTenderForm" novalidate>
    <fieldset ng-if="tCtrl.TenderFormObject.typeService.commonParameters.length > 0">
        <legend>Параметры тендера</legend>
        <div class='col-sm-12 text-left'>
            <div ng-repeat="commonParameter in  tCtrl.TenderFormObject.typeService.commonParameters">
                <div class='form-group col-sm-4' ng-if="commonParameter.fieldType == 'input' && commonParameter.varType =='text'" >
                    <label class='control-label'>{{commonParameter.parameterName}}</label>
                    <input type="{{commonParameter.varType}}" ng-required="commonParameter.required" pattern="{{commonParameter.parameterRegEx}}"
                           ng-model="commonParameter.value" class='form-control input-sm' name='{{commonParameter.parameterIdent}}'/>
                    <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.{{commonParameter.parameterIdent}}.$touched">
                        <div  ng-show="newTenderForm.{{commonParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                        <div  ng-show="newTenderForm.{{commonParameter.parameterIdent}}.$error.pattern">{{commonParameter.comment}}</div>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>

    <fieldset><legend>Прикрепить дополнительные материалы </legend>
        <p ng-if="tCtrl.TenderFormObject.typeService.addFileComment">{{tCtrl.TenderFormObject.typeService.addFileComment}}</p>
            <input type='file' style="display: none;" id="addFileInput" addfiler="tCtrl.TenderFormObject.tenderFileList"
                   accept="image/gif, image/jpeg,image/png,image/pjpeg,image/tiff,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
        application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,  application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.ms-excel,
        application/vnd.ms-powerpoint,application/msword, application/x-7z-compressed, application/zip,text/plain,application/pdf,application/x-rar-compressed "  multiple="multiple"/>
        <div class="row" >
            <div>
                <div ng-repeat="additionalFile in tCtrl.TenderFormObject.tenderFileList" class='row text-center well well-sm' style='margin-bottom: 20px;'>
                    <div class='form-group col-sm-9 text-left' style='margin-bottom:0;'>
                       <ng-form name="AddFileForm{{$index}}">
                            <label class='control-label'>Наименование прилагаемого файла</label>
                            <input type='text' class='form-control' name='fileName' required ng-model="additionalFile.fileName">
                            <span  class='help-block text-left'>{{additionalFile.originName}}</span>
                            <div class="text-danger" ng-show=" AddFileForm{{$index}}.$submitted || AddFileForm{{$index}}.fileName.$touched">
                                <div  ng-show="AddFileForm{{$index}}.fileName.$error.required">Необходимо передать название файла</div>
                            </div>
                       </ng-form>
                    </div>
                    <div class='col-sm-3'><br/>
                         <button type='button' class='btn btn-default' ng-click="tCtrl.removeAddFile($index)" style='margin-top: 5px;'>Удалить файл</button>
                    </div>
                </div>
                <div ng-show="tCtrl.TenderFormObject.tenderFileList.small" class="text-danger">Необходимо передать хотя бы  один дополнительный файл по тендеру</div>
            </div>
            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-default" ng-click="tCtrl.showInputFile()">Прикрепить файлы</button>
                <p><span style="" class="help-block">Поддерживаемые форматы:  *.pdf, *.doc, *.xls, *.zip, *.gif, *.jpeg, *.tiff, *.png,</span></p>
                <p><span style="" class="help-block">Максимальный размер файла: 5Mb</span></p>
            </div>
        </div>
    </fieldset>

    <fieldset ng-if="tCtrl.UserisJuridical">
            <legend>Ответственный по тендеру
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"  style="position: relative;font-size: 22px; top: 5px; left: 10px;"
                        ng-click="tCtrl.TenderFormObject.responibleShowHelp = !tCtrl.TenderFormObject.responibleShowHelp">
                </span>
            </legend>
        <div class="row">
            <div class="col-xs-12">
                <p ng-show="tCtrl.TenderFormObject.responibleShowHelp" class="help-block" style=" font-size: 14px; text-align: justify;">
                    При необходимости Вы можете передать контактную информацию ответстенного лица по тендеру.
                    Тогда исполнитель получит именно его контактные данные и дальнейшая работа по тендеру буде проходить
                    через ответсвенного по тендеру.
                </p>
            </div>
        </div>
        <div class="form-inline text-center">
            <p><input type="checkbox" class='check-bg' ng-model="tCtrl.TenderFormObject.needResponsible" name="needResponsible"/>
                Назначить ответственного по тендеру</p>
        </div>
        <div ng-if="tCtrl.TenderFormObject.needResponsible">
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="firstName">Имя ответственного</label>
                    <input type="text" class="form-control" id="firstName"
                           ng-model="tCtrl.TenderFormObject.Responsible.firstName" name='firstName'
                           pattern="^[а-яА-ЯЁьъ\\s]{3,20}$" required>
                    <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.firstName.$touched">
                        <div  ng-show="newTenderForm.firstName.$error.pattern">Имя должно содержать только символы кирилицы, содержать более 3 символов</div>
                        <div  ng-show="newTenderForm.firstName.$error.required">Необходимо передать имя ответственного по тендеру</div>
                    </div>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="lastName">Фамилия ответственного</label>
                    <input type="text" class="form-control" id="lastName" name='lastName'
                           ng-model="tCtrl.TenderFormObject.Responsible.lastName" pattern="^[а-яА-ЯЁьъ\\s]{3,20}$" required>
                    <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.lastName.$touched">
                        <div  ng-show="newTenderForm.lastName.$error.pattern">Фамилия должна содержать только символы кирилицы, содержать более 3 символов</div>
                        <div  ng-show="newTenderForm.lastName.$error.required">Необходимо передать фамилию ответственного по тендеру</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="emailResponible">Адрес электронной почты ответственного</label>
                    <input type="email" class="form-control" id="emailResponible" name='email'
                           ng-model="tCtrl.TenderFormObject.Responsible.email">
                    <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.email.$touched">
                        <div  ng-show="newTenderForm.email.$error.email">Адрес электронной почты не действителен</div>
                        <div  ng-show="newTenderForm.email.$error.required">Необходимо передать адрес электронной почты</div>
                    </div>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="phoneNumberResponible">Телефон ответственного</label>
                    <div class="input-group">
                        <div class="input-group-addon">+7</div>
                        <input type="text" class="form-control" id="phoneNumberResponible" name="phoneNumber"
                               ng-model="tCtrl.TenderFormObject.Responsible.phoneNumber" phonemask required>
                        <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.phoneNumber.$touched">
                             <div  ng-show="newTenderForm.phoneNumber.$error.required">Необходимо передать телефон ответственного</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     </fieldset>

    <fieldset>
        <legend>Адрес проведения тендера</legend>
        <div locationset maplink="tCtrl.map" adressparent="tCtrl.TenderFormObject"></div>
    </fieldset>
    <hr/>

     <!--TODO отвалидируй дату через директиву -->
    <fieldset> <legend>Сроки проведения тендера</legend>
        <div class="form-group col-sm-6">
            <label for="dateBegin" class="control-label">Начало</label>

            <p class="input-group">
                <input type="text"
                       id="dateBegin"
                       class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                       ng-model="tCtrl.TenderFormObject.dateBegin"
                       is-open="popup1.opened"
                       name="dateBegin"
                       ng-required="true" required datevalidation                  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <div class="text-danger text-center" ng-show="newTenderForm.$submitted || newTenderForm.dateBegin.$touched">
                <div  ng-show="newTenderForm.dateBegin.$error.required">Необходимо заполнить дату</div>
                <div  ng-show="newTenderForm.dateBegin.$error.datevalidation">Указана не правильная дата</div>
            </div>
        </div>
        <div class="form-group col-sm-6" >
            <label for="dateEnd" class="control-label">Окончание</label>
            <p class="input-group">
                <input type="text"
                       id="dateEnd"
                       class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                       ng-model="tCtrl.TenderFormObject.dateEnd"
                       is-open="popup2.opened"
                       name="dateEnd"
                       ng-required="true" required datevalidation                  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <div class="text-danger text-center" ng-show="newTenderForm.$submitted || newTenderForm.dateEnd.$touched">
                <div  ng-show="newTenderForm.dateEnd.$error.required">Необходимо заполнить дату</div>
                <div  ng-show="newTenderForm.dateEnd.$error.datevalidation">Указана не правильная дата</div>
            </div>
        </div>
    </fieldset>
    <hr/>

    <fieldset> <legend>Оплата</legend>
        <div class="form-inline text-center">
            <label for="expectedPrice"style="margin-bottom: 17px; width:250px;" class="control-label">Я готов заплатить за работу</label>
            <div class="input-group " style="width: 200px; margin: 0 auto;  margin-bottom: 17px;">
                <input type="text" class="form-control" id="expectedPrice" name="expectedPrice" style="z-index: 0;" ng-model="tCtrl.TenderFormObject.expectedPrice"  required pattern="^[0-9\\s]{1,10}$">
                <div class="input-group-addon">руб.</div>
            </div>
        </div>
        <div class="text-danger text-center" ng-show="newTenderForm.$submitted || newTenderForm.expectedPrice.$touched">
            <div  ng-show="newTenderForm.expectedPrice.$error.required">Необходимо указать ожидаемую стоимость выполнения тендера</div>
            <div  ng-show="newTenderForm.expectedPrice.$error.pattern">Стоимость должна быть выражена числовым значением в рублях</div>
        </div>
        <div class="form-inline text-center">
             <div style="border: 1px solid green; width: 279px; margin: 0 auto; position: relative; padding: 3px 13px 11px 3px; border-radius: 10px;">
                <input type="checkbox" class='check-bg' ng-model="tCtrl.TenderFormObject.needCredit" name="credit">
                <span style="padding: 3px 9px; font-size: 17px;"class="label label-pill label-success">Оформить в кредит</span>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                      style="position: relative;font-size: 22px; top: 5px; left: 10px;"
                      ng-click="tCtrl.TenderFormObject.needCreditShowHelp = !tCtrl.TenderFormObject.needCreditShowHelp" ></span>
             </div>

        </div>
        <div class="col-xs-12">
            <span ng-show="tCtrl.TenderFormObject.needCreditShowHelp" class="help-block" style=" font-size: 14px;">
            Отмечая данный пункт, Вы говорите о том, что Вам необходим кредит для оплаты работы исполнителей по тендеру.
                Данная галочка ни к чему Вас не обязывает, просто дает понять кредитным организациям, что Вы готовы к сотрудничеству.</span>
        </div>
    </fieldset>
    <div class="text-center" style="margin-top: 40px;">
        <button type="button" class="btn btn-success btn-lg" ng-click="tCtrl.submitNewTender(newTenderForm.$invalid)"  ng-disabled="newTenderForm.$invalid">Опубликовать тендер</button>
    </div>

    </ng-form>

    <div style="position: absolute; bottom: 20px; right: 20px; left: 20px;">
        <a type="button" style="float: left;" href="#/new_tender_objects/back" class="btn btn-warning back_button">Назад</a>
        <div class="clearfix"></div>
    </div>


</div> <!--THIRD_BLOCK-->
