<div id="tender_objects" class="container" style="position: relative; border:1px solid #ddd; min-height:700px; margin-top:10px; border-radius:6px; background-color:#FDFDFD; max-width:900px; padding:10px 30px 100px 30px;" > <!---SECOND BLOCK--->
    <ng-form name="newTenderForm" novalidate>
    <fieldset><legend>Опишите новый тендер</legend>
        <div class="row">
            <div class="form-group  col-sm-6">
                <label class="control-label" for="tenderName">Заголовок для тендера</label>
                <input type="text" class="form-control" id="tenderName" name='tenderName' required
                       ng-model="tCtrl.TenderFormObject.tenderName" placeholder="Заголовок тендера">
                <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.tenderName.$touched">
                    <div  ng-show="newTenderForm.tenderName.$error.required">Необходимо заполнить название тендера</div>
                </div>
            </div>
            <div class="form-group  col-sm-12">
                <label class="control-label" for="tenderDescription">Описание тендера</label>
                <textarea class="form-control" id="tenderDescription" name='tenderDescription' rows="7"
                          ng-model="tCtrl.TenderFormObject.tenderDescription" required placeholder="Описание тендера"></textarea>
                <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.tenderDescription.$touched">
                    <div  ng-show="newTenderForm.tenderDescription.$error.required">Необходимо заполнить описание тендера</div>
                </div>
            </div>
        </div>
    </fieldset>



    <fieldset><legend>Заполните информацию по объектам тендера</legend>
        <div>
            <div class='row well tender_object' ng-repeat="tenderObject in tCtrl.TenderFormObject.tenderObjects" >
                <div ng-form name="formObject{{$index}}" novalidate ng-init="tenderObject.id = $index ">
                <div class='row'>
                    <div class='col-xs-6 col-sm-4 col-md-3 text-center' style='overflow: hidden; margin-bottom: 10px;'
                         ng-repeat="objectFoto in tenderObject.objectFotos">
                        <div style='width: 100%; overflow: hidden;'><img class='' ng-src="{{objectFoto.fotoMinLink}}" style='margin:0 auto; height:170px;'></div>
                       <button type='button' class='btn btn-default btn-xs' ng-click="tCtrl.removeFoto(tenderObject.objectFotos,$index)">Удалить</button>
                    </div>
                </div>
                <div ng-show="tenderObject.objectFotos.small" class="text-danger">Необходимо передать хотя бы одно фото для объекта тендера</div>
                <div class='col-xs-12 text-center'>
                    <button type='button' class='btn btn-success'
                            ng-click="tCtrl.showInputFoto('#fotoMultiInput'+tenderObject.id)">Прикрепить фото</button>
                    <input type='file' id="fotoMultiInput{{tenderObject.id}}" filer="tenderObject.objectFotos"
                           accept='image/gif, image/jpeg,image/png,image/pjpeg,image/tiff' multiple='multiple' style="display: none;" />

                    <p><span class='help-block'>Поддерживаемые форматы: *.gif, *.jpeg, *.tiff, *.png</span></p>
                </div>
                <fieldset><legend>Тип объекта - {{tCtrl.TenderFormObject.typeObject.typeName}}</legend>
                    <div>

                        <div class='form-group col-sm-4' ng-repeat="parameterRelation in tenderObject.parameterRelations">
                        <label class='control-label'>{{parameterRelation.objectParameter.parameterName}}</label>

                            <div ng-if="parameterRelation.objectParameter.fieldType == 'input' && parameterRelation.objectParameter.varType =='text'">
                            <input type='text' pattern="{{parameterRelation.objectParameter.parameterRegEx}}"
                                data-comment="parameterRelation.objectParameter.comment"  ng-required="parameterRelation.required"
                                ng-model="parameterRelation.objectParameter.value" class='form-control input-sm'
                                name="{{parameterRelation.objectParameter.parameterIdent}}"/>
                             <div class="text-danger" ng-show="newTenderForm.$submitted || formObject{{tenderObject.id}}.{{parameterRelation.objectParameter.parameterIdent}}.$touched">
                                 <div  ng-show="formObject{{tenderObject.id}}.{{parameterRelation.objectParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                                 <div  ng-show="formObject{{tenderObject.id}}.{{parameterRelation.objectParameter.parameterIdent}}.$error.pattern">{{parameterRelation.objectParameter.comment}}</div>
                             </div>
                            </div>

                            <div ng-if="parameterRelation.objectParameter.fieldType == 'range' && parameterRelation.objectParameter.varType == 'date' && parameterRelation.objectParameter.stopRange == null">
                                <select class='form-control input-sm'
                                       data-comment="parameterRelation.objectParameter.comment"  ng-required="parameterRelation.required"
                                       ng-model="parameterRelation.objectParameter.value"
                                       name="{{parameterRelation.objectParameter.parameterIdent}}"
                                       ng-options="year for year in tCtrl.years(parameterRelation.objectParameter.startRange)">
                                <option value="" > - - - - - -  </option>
                                </select>
                                <div class="text-danger" ng-show="newTenderForm.$submitted || formObject{{tenderObject.id}}.{{parameterRelation.objectParameter.parameterIdent}}.$touched">
                                    <div  ng-show="formObject{{tenderObject.id }}.{{parameterRelation.objectParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                                </div>
                            </div>

                            <div ng-if="parameterRelation.objectParameter.varType == 'catalog' && parameterRelation.objectParameter.ref == false">
                                <select class='form-control input-sm'
                                        data-comment="parameterRelation.objectParameter.comment"  ng-required="parameterRelation.required"
                                        ng-model="parameterRelation.objectParameter.value"
                                        ng-init="parameterRelation.objectParameter.value"
                                        name="{{parameterRelation.objectParameter.parameterIdent}}"
                                        ng-change="tCtrl.RefferalCatalog[tenderObject.id][parameterRelation.objectParameter.parameterIdent] = parameterRelation.objectParameter.value"
                                        ng-options="item as item.{{parameterRelation.objectParameter.catalogNameField}} for item in tCtrl.InputCatalogCollections[parameterRelation.objectParameter.parameterIdent]">
                                    <option value="" > - - - - - -  </option>
                                </select>
                                <div class="text-danger" ng-show="newTenderForm.$submitted || formObject{{tenderObject.id }}.{{parameterRelation.objectParameter.parameterIdent}}.$touched">
                                    <div  ng-show="formObject{{tenderObject.id }}.{{parameterRelation.objectParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                                </div>
                            </div>

                            <div ng-if="parameterRelation.objectParameter.varType == 'catalog' && parameterRelation.objectParameter.ref == true">
                                <select class='form-control input-sm'
                                        data-comment="parameterRelation.objectParameter.comment"  ng-required="parameterRelation.required"
                                        ng-init="parameterRelation.objectParameter.value"
                                        ng-model="parameterRelation.objectParameter.value"
                                        name="{{parameterRelation.objectParameter.parameterIdent}}"
                                        ng-options="item as item.{{parameterRelation.objectParameter.catalogNameField}} for item in tCtrl.RefferalCatalog[tenderObject.id][parameterRelation.objectParameter.refParameter].{{parameterRelation.objectParameter.catalogLink}}">
                                    <option value="" > - - - - - -  </option>
                                </select>
                                <div class="text-danger" ng-show="newTenderForm.$submitted || formObject{{tenderObject.id}}.{{parameterRelation.objectParameter.parameterIdent}}.$touched">
                                    <div  ng-show="formObject{{tenderObject.id }}.{{parameterRelation.objectParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                                </div>
                            </div>





                       </div>






                    </div>
                </fieldset>
                <div class='col-sm-12 text-right' class='text-right'>
                    <button type='button' class='btn btn-default btn-xs' ng-click="tCtrl.removeObject($index)">Убрать лишний</button>
                </div>
                </div>
            </div>
        </div>
    </fieldset>
    </ng-form>


    <div class="row text-center" style="margin-top: 40px;" >
        <button type="button" ng-click="tCtrl.addObject()" class="btn btn-default btn-lg">Добавить объект</button>
    </div>

    <div style="position: absolute; bottom: 20px; right: 20px; left: 20px;">
        <a type="button" style="float: left;" href="#/new-tender-start" class="btn btn-warning back_button">Назад</a>
        <button type="button" style="float: right;" ng-click="tCtrl.thirdBlockTry(newTenderForm)" class="btn btn-primary next_button">Далее</button>
        <div class="clearfix"></div>
    </div>

</div> <!---SECOND BLOCK--->