<div class="container"
     style="min-height:700px; border-radius:6px; background-color:#FDFDFD;padding:10px 0px 40px 0px; margin-bottom:100px;">

    <h2 class="text-center">Введите логин и пароль</h2>

    <div class="row text-center">
        <div class="col-xs-12 text-center"
             style="margin-top: 20px;position: relative; padding: 30px; border-top: 1px solid #ddd;  border-bottom: 1px solid #ddd;">
            <a href="#/registration/start" class="btn btn-success" style="">Зарегистрироваться</a>
            <h4>Если Вы еще не зарегистрированны</h4>

            <p>Для того чтобы принимать участие в закупках и предлагать свои услуги заказчикам или
                разместить на ресурсе свой тендер необходимо зарегистрироваться
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
            <form novalidate>
                <h3 class="text-center">Вход</h3>
                 <div class="form-group">
                    <label >Логин</label>
                    <input type="text" class="form-control" ng-model="credentials.username" name="login" placeholder="">
                </div>
                <div class="form-group">
                    <label >Пароль</label>
                    <input type="password" class="form-control" ng-model="credentials.password"  name="password" placeholder="">
                </div>

                <div class="row">
                    <div class="checkbox col-xs-12 col-sm-6 text-center">
                        <label>
                            <input type="checkbox"> Запомнить меня
                        </label>
                    </div>
                    <div class="checkbox col-xs-12 col-sm-6 text-center">
                        <a href='#/password_recovery' class="btn btn-primary btn-sm">Восстановить пароль</a>
                    </div>

                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-info btn-lg" ng-click="login()" value="Войти"/>
                    <div class="error" ng-show="haveErrors">${error}</div>
                </div>
            </form>

        </div>
    </div>
</div>