<div class="container" style="min-height:700px; border-radius:6px; background-color:#FDFDFD;padding:10px 0px 40px 0px; margin-bottom:100px;">

    <h2 class="text-center">Восстановление пароля</h2>

<div class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3" ng-if="!passwordRecoveryAnsver">
    <div ng-form="loginEmailForm" class="well" id="passwordRecoveryBlock" >
        <p>Не получается войти? Забыли пароль к аккаунту <a href="http://ubeten.com" style="color: #2AB819; font-weight: bold;text-decoration: none;">Ubeten.com</a> ?
            С помощью функции восстановления пароля Вы можете заменить забытый пароль на новый.</p>

        <div class="form-group">
            <label for="loginEmail">Введите свой логин или email</label>
            <input type="text" class="form-control" id="loginEmail" name="loginEmail" ng-model="loginEmail" placeholder="" required>
            <div class="text-danger text-center" ng-show="loginEmailForm.$submitted || loginEmailForm.loginEmail.$touched">
                <div  ng-show="loginEmailForm.loginEmail.$error.required">Передайте ранее зарегистрированный логин или email</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 text-center">
                <a href="#/login" class="btn btn-danger marginbottom20 btn" >Отмена</a>

            </div>
            <div class="col-xs-12 col-sm-6 text-center">
                <input type="button" class="btn btn-success marginbottom20 btn" ng-click="sendRecovery(loginEmailForm)"
                       value="Сбросить пароль"/>
            </div>

        </div>
    </div>
</div>

    <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3" ng-if="passwordRecoveryAnsver">
        <div class="well">
            <p id="passRecAns">На указанный при регистрации почтовый адрес было отправлено письмо с дальнейшими
                указаниями к действиям</p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <a href='#/home' class="btn btn-default btn-sm">Отмена</a>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <a href='#/password_recovery' class="btn btn-primary btn-sm">Попробовать еще раз</a>
        </div>
    </div>


</div>