<div class="container" style="min-height:700px; border-radius:6px; background-color:#FDFDFD;padding:10px 0px 40px 0px; margin-bottom:100px;">

    <h2 class="text-center">Введите новый пароль</h2>

    <div class="row" id="passwordRecoveryBlock">
        <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4">
            <div ng-form="changePasForm" autocomplete="off" action="changeRecoveryPassword" method='POST'>

                <div class="form-group">
                    <label for="passwordChange">Новый пароль</label>
                    <input type="password" class="form-control" id="passwordChange" name="passwordChange" ng-model="passwordChange" required>
                    <div class="text-danger" ng-show="changePasForm.$submitted || changePasForm.passwordChange.$touched">
                        <div  ng-show="changePasForm.passwordChange.$error.required">Передайте новый пароль</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2">Повторите новый пароль</label>
                    <input type="password" class="form-control" id="password2" name="password2" ng-model="password2" required equalspas="passwordChange">
                          <div class="text-danger" ng-show="changePasForm.$submitted || changePasForm.password2.$touched">
                        <div  ng-show="changePasForm.password2.$error.required">Повторите новый пароль</div>
                        <div  ng-show="changePasForm.password2.$error.equalspas">Провероный пароль не совпадает</div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                        <input type="buttton" class="btn btn-primary" ng-click="changePassButton(changePasForm)" value="Изменить пароль"/>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>