<meta charset="UTF-8">
<h2>Проверка ТС по е_осаго</h2>
<p>В запросах используйте InsurerID - 99700000</p>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="eosagoTSRequest.xml"  rows="5"></textarea>
</div>
<div class="row text-center ng-scope" style="padding: 10px 0 22px 0;">
   <form novalidate name="eosagoTSRequestForm" ng-submit="getEosagoTSRequestFromXML(eosagoTSRequestForm.$invalid)">
   
    <div ng-show="showPreloader" >
        <img src="res/img/82.GIF">
    </div>

    <div class="col-xs-6 " style="padding-top: 4px;">
        <br>
        <button type="submit" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Запрос на проверку ТС </button>
    </div>
    <div class="col-xs-6 " style="padding-top: inherit; margin-bottom: 20px;">
        <label> Запрос сервера</label>
        <select class="form-control" ng-model="eosagoTSRequest.serverInstance" name="serverInstance" required
                ng-options="server.constant as server.name for server in serversEosago">
            <option value="" > - - - Доступные серверы - - -  </option>
        </select>
        <div class="text-danger" ng-show="eosagoTSRequestForm.$submitted || eosagoTSRequestForm.serverInstance.$touched">
            <span ng-show="eosagoTSRequestForm.serverInstance.$error.required">Необходимо выбрать сервер</span>
        </div>
   </div>
   </form>
</div>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="eosagoTSResponse.response"  rows="5"></textarea>
</div>


<h5>Образец запроса</h5>
<div class="row">
    <div class="col-xs-12">
        <xmp style="border:none; width:100%;">
            <?xml version="1.0" encoding="UTF-8"?>
            <sch:TSRequest xmlns:sch="com/rsa/eosago/schema-1.1">
                <TSRequestValue>
                    <InsurerID>99700000</InsurerID>
                    <TSInfoRequest>
                        <CountryCar>1</CountryCar>
                        <CarIdent>
                            <VIN>000000000000000000</VIN>
                        </CarIdent>
                        <MarkModelCarRSACode>000000000</MarkModelCarRSACode>
                        <YearIssue>2010</YearIssue>
                        <TypeCar>2531</TypeCar>
                        <CatCar>B</CatCar>
                        <DocumentCar>30</DocumentCar>
                        <DocCarSerial>0000</DocCarSerial>
                        <DocCarNumber>000000</DocCarNumber>
                        <DocumentCarDate>2010-01-01</DocumentCarDate>
                        <EngCap>89</EngCap>
                        <MaxMass>0</MaxMass>
                        <UnladenMass/>
                        <PasQuant>0</PasQuant>
                    </TSInfoRequest>
                    <DateRequest>2015-10-09T16:02:17</DateRequest>
                </TSRequestValue>
            </sch:TSRequest>
        </xmp>
    </div>
</div>
