﻿<div class="container">
    <h2>Соглашение о предоставлении услуг</h2>
    <p style="text-align: justify;">Сторонами настоящего Соглашения (далее - "Соглашение") являются: Общество с ограниченной ответственностью «Центр Электронных Закупок» (далее - Компания) и физическое лицо, обладающее дееспособностью в соответствии с законодательством РФ, которое признается участником гражданских правоотношений, или юридическое лицо, зарегистрированное в соответствии с законодательством РФ, или индивидуальный предприниматель, зарегистрированный в соответствии с законодательством РФ, которое приняло условия настоящего Соглашения (далее — Пользователь).
    </p>
    <p style="text-align: justify;">В соответствии с настоящим Соглашением Компания предлагает Пользователю услуги по использованию сайта <a href="http://www.ubeten.com" target="_blank" class="external">www.</a><a href="http://www.ubeten.com" target="_blank" class="external">ubeten.com</a> для размещения информации о требуемых ему товарах (услугах) c целью последующей их покупки.
    </p>
    <h3>1. ПРЕДМЕТ СОГЛАШЕНИЯ</h3>
    <p style="text-align: justify;">1.1. Предметом настоящего Соглашения является предоставление возможности Пользователям, имеющим доступ в Интернет, размещать информацию о намерении приобрести различные товары или услуги путем размещения соответствующей информации на сайте <a href="http://www.ubeten.com" target="_blank" class="external">www.ubeten.com</a>
    </p>
    <h3>2. ЦЕНА И ПОРЯДОК РАСЧЕТОВ</h3>
    <p style="text-align: justify;">2.1. С Пользователя не взимается плата за регистрацию и размещение заявок на покупку предметов и услуг. Стоимость выставления закупки может определяться <a href="http://molotok.ru/help_item.php?item=898" target="_blank" class="external">самим</a> Пользователем или другими Пользователями, предлагающими свои услуги или товар. Компания может взимать плату с Пользователя за оказание дополнительные возмездных услуг, как то организация самого тендера, его проведение, подготовка технического задания, выбор победителя и т.д.
    </p>
    <p style="text-align: justify;">2.2. Стоимость дополнительных возмездных услуг, а также порядок и срок их оплаты определяются в Положении
        об оплате услуг ubeten.com (далее - "Оплата услуг").
    </p>
    <h3>3. ВСТУПЛЕНИЕ СОГЛАШЕНИЯ В СИЛУ</h3>
    <p style="text-align: justify;">3.1. Моментом заключения настоящего Соглашения считается момент нажатия Пользователем кнопки "Зарегистрироваться", расположенной в конце <a href="https://ubeten.com/#/registration" target="_blank" class="external">Страницы
        регистрации
    </a> сайте <a href="http://www.ubeten.com" target="_blank" class="external">www.ubeten.com</a>. Настоящим Пользователи подтверждают свое согласие со всеми условиями настоящего Соглашения.
    </p>
    <p style="text-align: justify;">3.2. Фактическое использование Пользователем возможностей сайта <a href="http://www.ubeten.com" target="_blank" class="external">www.ubeten.com</a> также подтверждает согласие Пользователя с условиями настоящего Соглашения.
    </p>
    <h3>4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h3>
    <h4>4.1. Пользователь вправе:</h4>
    <p style="text-align: justify;">4.1.1. помещать предложения о заявке на покупку товаров и услуг на сайте <a href="http://www.ubeten.com" target="_blank" class="external">www.ubeten.com</a>.
    </p>
    <p style="text-align: justify;">4.1.2. согласовывать условия и совершать сделки совместно с другими Пользователями;
    </p>
    <p style="text-align: justify;">4.1.3. оценивать и комментировать действия других Пользователей, путем выставления последним оценки, исходя из опыта своих взаимоотношений с ними при помощи Системы регистрации отзывов;
    </p>
    <p style="text-align: justify;">4.1.4. обмениваться мнениями с другими Пользователями в электронных конференциях, соблюдая при этом Правила проведения торгов на ubeten.com, а также направлять другим пользователям электронные сообщения при помощи сервиса внутренней почты Компании. Компания предоставляет пользователям возможность обмена электронными сообщениями через внутреннюю почту, на условиях, предусмотренных настоящим Соглашением;
    </p>
    <p style="text-align: justify;">4.1.5. снять свою закупку до окончания торгов в случаях, предусмотренных Правилами проведения торгов на ubeten.com;
    </p>
    <p style="text-align: justify;">4.1.6. иметь индивидуальный электронный счет на сайте <a href="http://www.ubeten.com" target="_blank" class="external">www.</a><a href="http://www.ubeten.com" target="_blank" class="external">ubeten.com</a>.
    </p>
    <h4>4.2. Пользователь обязуется:</h4>
    <p style="text-align: justify;">4.2.1. соблюдать условия настоящего Соглашения Правила выставления товаров на продажу на ubeten.com, Правила
        проведения торгов на  ubeten.com, Положения
        об оплате услуг  ubeten.com , а также Правила предоставления пользователями сведений ubeten.com и других приложений Соглашения;
    </p>
    <ul>
        <li>пользователям - юридическим лицам и индивидуальным предпринимателям также соблюдать требования, содержащиеся в Постановлении Правительства РФ от 27.09.2007 N 612 "Об утверждении Правил продажи товаров дистанционным способом"; </li>
        <li>всем пользователям неукоснительно соблюдать требования действующего законодательства Российской Федерации; </li>
    </ul>
    <p style="text-align: justify;">4.2.2. не размещать на сайте <a href="http://www.ubeten.com" target="_blank" class="external">www.</a><a href="http://www.ubeten.com" target="_blank" class="external">ubeten.com</a> тендеров на покупку товаров и услуг, оборот которых запрещен действующим законодательством;
    </p>
    <p style="text-align: justify;">4.2.3. не размещать в любой общедоступной области сайта <a href="http://www.ubeten.com" target="_blank" class="external">www.</a><a href="http://www.ubeten.com" target="_blank" class="external">ubeten.com</a> чьи-либо координаты, включая, телефон, адрес электронной почты, другие способы связи;
    </p>
    <p style="text-align: justify;">4.2.4. предоставить Компании на безвозмездной основе право пользования и распоряжения любой информацией, размещаемой Пользователями на сайте <a href="http://www.ubeten.com" target="_blank" class="external">www.</a><a href="http://www.ubeten.com" target="_blank" class="external">ubeten.com</a> и не подпадающей под действие положений о конфиденциальности (статья 7) настоящего Соглашения;
    </p>
    <p style="text-align: justify;">4.2.5. добросовестно исполнять взятые им на себя обязательства как перед Компанией в процессе пользования услугами последней, так и перед другими Пользователями (в случае заключения с последними сделок);
    </p>
    <p style="text-align: justify;">4.2.6. своевременно осуществлять перевод денежных средств на счет Компании для погашения отрицательного баланса своего индивидуального электронного счета;
    </p>
    <p style="text-align: justify;">4.2.7. не использовать программы, а также иные автоматические устройства или оперируемые человеком процессы, предназначенные для отслеживания либо копирования Интернет-страниц сайта или их содержимого, без предварительного письменного разрешения Компании;
    </p>
    <p style="text-align: justify;">4.2.8. воздерживаться от копирования в иной форме, а также от воспроизведения, изменения, дополнения, распространения (включая публичную демонстрацию), использования в коммерческих либо иных целях содержимого сайта www.ubeten.com (либо любой его части), а также воздерживаться от создания на его (ее) основе производных объектов без предварительного письменного разрешения Компании;
    </p>
    <p style="text-align: justify;">4.2.9. не использовать никаких приборов либо компьютерных программ для вмешательства или попытки вмешательства в процесс нормального функционирования сайта, либо в ход торговли;
    </p>
    <p style="text-align: justify;">4.2.10. воздерживаться от любых действий, ведущих к чрезмерной либо неразумной загрузке инфраструктуры сайта.
    </p>
    <p style="text-align: justify;">4.2.11. не посылать, передавать или любым другим способом размещать и/или распространять на сайте информацию относительно схем «финансовых пирамид», а также «письма счастья».
    </p>
    <h4>4.3. Компания вправе:</h4>
    <p style="text-align: justify;">4.3.1. с учетом положений п. 4.4.3, по своему усмотрению вводить, отменять или изменять плату за предоставляемые Компанией дополнительные возмездные услуги;
    </p>
    <p style="text-align: justify;">4.3.2. редактировать и/или удалять с сайта <a href="http://www.ubeten.com" target="_blank" class="external">www.</a><a href="http://www.ubeten.com" target="_blank" class="external">ubeten.com</a> любую информацию Пользователей, включая предложения о продаже и заявки о покупке, если она противоречит настоящему Соглашению, действующему законодательству РФ, а также в иных случаях по усмотрению Компании;
    </p>
    <p style="text-align: justify;">4.3.3. получать доступ, пользоваться и распоряжаться, с соблюдением положений статьи 8 настоящего Соглашения, любой информацией, предоставляемой ему Пользователями, в том числе информацией, направляемой Пользователями в электронных сообщениях посредством сервиса внутренней почты Компании; пользование указанной информацией осуществляется на неисключительных условиях, на неограниченный срок и не имеет территориального ограничения;
    </p>
    <p style="text-align: justify;">4.3.4. приостановить или прекратить регистрацию и доступ Пользователя на сайт www.ubeten.com в случае если у Компании возникнет подозрение, что Пользователь ведет неправомерную деятельность, либо нарушает условия настоящего Соглашения; Применять санкции за нарушение условий Соглашения, в том числе, если информация о нарушении Пользователем условий Соглашения была получена Компанией на основании сведений, содержащихся в электронных сообщениях Пользователя, отправленных или полученных посредством сервиса внутренней почты Компании (вне зависимости от способа получения Компанией таких сведений);
    </p>
    <p style="text-align: justify;">4.3.5. определять Рейтинг для каждого Пользователя. Основаниями для определения указанного Рейтинга являются оценки, выставленные Пользователю другими Пользователями в Системе
        регистрации отзывов;
    </p>
    <p style="text-align: justify;">4.3.6. ограничить или прекратить доступ Пользователя на сайт www.ubeten.com в случае, если его Рейтинг становится равным или меньше "-3" (минус три);
    </p>
    <p style="text-align: justify;">4.3.7. ограничить или прекратить доступ Пользователя на сайт www.ubeten.com при возникновении отрицательного баланса его индивидуального электронного счета на сайте www.ubeten.com.
    </p>
    <p style="text-align: justify;">4.3.8. в ряде случаев отправить запрос Пользователю с просьбой предоставить копию документа, удостоверяющего личность (паспорт), а также фотографии пользователя для сличения его изображения с предоставленной копией документа. Отправка копии документа и фотографий производится в добровольном порядке; полученная информация используется для сверки с регистрационными данными пользователя. Процедура подтверждения личности в отдельных случаях может являться условием для продолжения сотрудничества с ubeten.com. После подтверждения достоверности данных, копии предоставленных документов и фотографий уничтожаются. Запрос таких данных производится исключительно в целях обеспечения безопасности проведения сделок на сайте www.ubeten.com.
    </p>
    <h4>4.4. Компания обязуется:</h4>
    <p style="text-align: justify;">4.4.1. предоставлять зарегистрированным Пользователям доступ к предназначенной для всеобщего обозрения информации о заявках других Пользователей на покупку и продажу товаров и услуг, размещаемых на сайте www.ubeten.com;
    </p>
    <p style="text-align: justify;">4.4.2. размещать заявки зарегистрированных Пользователей на сайте www.ubeten.com на покупку товаров и услуг;
    </p>
    <p style="text-align: justify;">4.4.3. в случае введения, отмены или изменения платы за предоставляемые Компанией дополнительные возмездные услуги извещать Пользователя об этом заранее путем изменения настоящего Соглашения и помещения специального указания в разделе "Новости";
    </p>
    <p style="text-align: justify;">4.4.4. не предоставлять информацию, полученную от Пользователей, (включая адрес электронной почты) третьим лицам для рассылки нежелательной коммерческой информации ("спама").
    </p>
    <h3>5. ОТВЕТСТВЕННОСТЬ СТОРОН</h3>
    <p style="text-align: justify;">5.1. За неисполнение или ненадлежащее исполнение своих обязательств по настоящему Соглашению Стороны несут ответственность в соответствии с законодательством Российской Федерации.
    </p>
    <p style="text-align: justify;">5.2. Пользователь несет ответственность за достоверность и соответствие действующему законодательству РФ предоставляемых им Компании сведений.
    </p>
    <p style="text-align: justify;">5.3. В случае если Компании становится известно о нарушении Пользователем условий настоящего Соглашения, к такому Пользователю Компания вправе применить следующие санкции:
    </p>
    <ul>
        <li>предупреждение; </li>
        <li>ограничение доступа к услугам Компании; </li>
        <li>прекращение доступа к услугам Компании. </li>
        <li>Срок ограничения/прекращения доступа определяется по усмотрению Компании. </li>
    </ul>
    <p style="text-align: justify;">5.4. В случае если исполнитель оказал некачественную услугу заказчику и происходит отказ исполнителя от устранения недостатков после выполненного ремонта, Компания проводит экспертизу на наличие некачественного выполненного ремонта. Все расходы по ее проведению несет Компания. Компания обеспечивает следующие действия:
    </p>
    <ol>
        <li>Клиент выдает доверенность на предоставление его интересов в судебных и иных организациях. </li>
        <li>Компания назначает и проводит экспертизу. </li>
        <li>После проведения экспертизы направляет автомобиль на сервис, выбранный клиентом. </li>
        <li>Сервис, выбранный клиентом должен быть ориентирован на работы с подобной маркой, типом и года выпуска, с учетом нахождения на гарантии. Например, Киа Рио 5 лет не может быть направлена на официальный дилер Мерседеса. Направление на официальные дилеры производится только по согласованию сторон. </li>
        <li>Сумма, выплаченная Компанией в счет устранения недостатков, не может быть более 40 000 рублей для автомобилей иностранного производства и не может быть более 20 000 рублей для автомобилей отечественного производства. </li>
    </ol>
    <h3>6. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h3>
    <p style="text-align: justify;">6.1 Компания не несет ответственности за потребительские свойства товаров и услуг, предлагаемых Пользователями на сайте www.ubeten.com, а также за правомерность выставления их.
    </p>
    <p style="text-align: justify;">6.2 Компания, не участвует в правоотношениях между Пользователями по поводу заключения сделок, не несет ответственности за действия Пользователей.
    </p>
    <p style="text-align: justify;">6.3 Компания не несет ответственности за достоверность информации, размещаемой Пользователями на сайте www.ubeten.com, а также за правомерность ее размещения.
    </p>
    <p style="text-align: justify;">6.4 Компания не несет ответственности за перерывы в предоставлении услуг, вызванные техническими перебоями в работе оборудования и программного обеспечения. Вместе с тем Компания обязуется принимать все разумные меры для предотвращения таких перебоев.
    </p>
    <h3>7. КОНФИДЕНЦИАЛЬНОСТЬ</h3>
    <p style="text-align: justify;">7.1. Компания обязуется сохранять в тайне и не раскрывать третьим лицам информацию, полученную им от Пользователей при их регистрации, а также при редактировании Пользователями своих реквизитов, за исключением случаев, когда раскрытие такой информации необходимо, согласно требованиям действующего российского законодательства.
    </p>
    <p style="text-align: justify;">7.2. Обязанность Компании, изложенная в пункте 7.1 настоящего Соглашения, не распространяется на информацию о псевдониме пользователя и на информацию, отправляемую Компанией Пользователям по сделкам (адрес электронной почты и информацию, которую пользователи помещают специально для контрагентов в соответствующее поле регистрационной формы или формы редактирования реквизитов).
    </p>
    <p style="text-align: justify;">7.3. Обязанность Компании, изложенная в пункте 7.1 настоящего Соглашения, также не распространяется на информацию о поведении Пользователя как покупателя или продавца на сайте www.ubeten.com, а также на комментарии или сообщения, сделанные Пользователем и связанные с Компанией или другими его участниками, в частности, в электронных конференциях (форумах), отправленные посредством сервиса внутренней почты Компании либо в Системе регистрации
        отзывов.
    </p>
    <p style="text-align: justify;">7.4. Пользователь обязуется хранить в тайне и не раскрывать третьим лицам информацию о своем пароле. В случае если информация о пароле Пользователя по тем или иным причинам станет известна третьим лицам, Пользователь обязуется немедленно изменить его.
    </p>
    <p style="text-align: justify;">7.5. Пользователь обязуется хранить в тайне, не раскрывать третьим лицам и не использовать информацию о других Пользователях, ставшую ему известной посредством корреспонденции, связанной с деятельностью настоящего сайта, либо в результате сделки, заключенной при помощи Компании.
    </p>
    <p style="text-align: justify;">7.6. Обязанность Пользователя, изложенная в пункте 7.5 настоящего Соглашения, не распространяется на случаи, когда информация используется Пользователем в отношениях с иными Пользователями для:
    </p>
    <ul>
        <li>корреспонденции, связанной с деятельностью настоящей Компании, не являющейся нежелательной коммерческой корреспонденцией (“спамом”); </li>
        <li>иной цели, известной, одобренной и не запрещенной другими Пользователями. </li>
    </ul>
    <h3>8. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h3>
    <p style="text-align: justify;">8.1. При возникновении между Сторонами споров и разногласий по настоящему Соглашению или в связи с ним Стороны обязуются разрешать их путем переговоров.
    </p>
    <p style="text-align: justify;">8.2. Если какие-либо споры, разногласия или требования, возникающие из настоящего Соглашения, или в связи с ним, в том числе, касающиеся его исполнения, нарушения, прекращения или недействительности, не разрешены в соответствии с п. 8.1. настоящего Соглашения, то дело рассматривается в судебном порядке по местонахождению Компании в соответствии с действующим законодательством РФ
    </p>
    <p style="text-align: justify;">8.3. Компания имеет право в любое время вносить изменения в настоящее Соглашение путем помещения на сайте www.ubeten.com его новой версии. Кроме того, объявление об изменении настоящего Соглашения будет помещаться в разделе "Новости".
    </p>
    <p style="text-align: justify;">8.4. Если Компания в разделе "Новости" прямо не будет указано иное, новая редакция Соглашения и его Приложений вступает в силу через 7 календарных дней после помещения его на сайте www.ubeten.com.
    </p>
    <p style="text-align: justify;">8.5. В случае несогласия с новой редакцией Соглашения Пользователь вправе в одностороннем порядке отказаться от его исполнения, при условии, что Пользователь автоматически утрачивает право пользования услугами Компании.
    </p>
    <p style="text-align: justify;">8.6. Если после изменения Соглашения Пользователь продолжает пользоваться услугами Компании, Пользователь считается согласившимся с новой редакцией Соглашения.
    </p>
    <p style="text-align: justify;">8.7. Настоящее Соглашение может быть расторгнуто Пользователем в любой момент при условии уведомления им Компании в письменной форме, произведенного посредством зарегистрированного почтового отправления, за 30 (тридцать) рабочих дней до момента предполагаемого расторжения настоящего Соглашения. В таком случае Соглашение считается расторгнутым по истечении 30 (тридцати) календарных дней с момента регистрации Почтой России почтового отправления с уведомлением о расторжении Соглашения, направляемого ценным письмом с описью вложения. Расходы по организации почтового отправления возлагаются на Пользователя. Стороны Соглашения не освобождаются от обязательств, возникших до прекращения действия Соглашения по тем или иным основаниям, в частности по урегулированию расчетов. <br><br>После расторжения настоящего Соглашения доступ Пользователя к услугам сайта www.ubeten.com прекращается. Дальнейшее использование услуг сайта Пользователем возможно только после прохождения повторной процедуры регистрации с использованием другого псевдонима.
    </p>
    <p style="text-align: justify;">8.9. Неотъемлемыми частями настоящего Соглашения являются:
    </p>
    <p style="text-align: justify;">Правила предоставления пользователями сведений ubeten.com;
    </p>
    <p style="text-align: justify;">Правила выставления закупок на ubeten.com
    </p>
    <p style="text-align: justify;">Правила проведения закупок на ubeten.com
    </p>
    <p style="text-align: justify;">Положение об оплате услуг ubeten.com
    </p>
    <p style="text-align: justify;">Положение об обработке персональных данных пользователей.
    </p>
    <p>
        <br><br>
    </p>
     <p style="text-align: center;">
        <strong>Правила предоставления пользователями сведений </strong>
    </p>
    <p>
        <br><strong>Далее под понятием «Сведения» будут пониматься любые сведения, которые Пользователь:</strong><br><br><strong>a.</strong> передает Обществу с ограниченной ответственностью «Центр Электронных Закупок» (далее - Компания) при регистрации;<br><strong>b.</strong> передает сайту Компании или иным Пользователям при внесении заявки на куплю-продажу различных предметов и услуг;<br><strong>c.</strong> иным образом размещает в любой общедоступной области сайта <a href="http://www.ubeten.com" target="_blank" class="external">www.ubeten.com</a>;<br><strong>d.</strong> передает сайту Компании или иным Пользователям посредством электронной почты, либо посредством сервиса внутренней почты;<br><br><strong>Сведения, предоставляемые Пользователями </strong><strong>Компании</strong><strong> не должны:</strong><br>1. быть ложными, неточными, неполными, некорректными или вводящими в заблуждение;<br>2. способствовать мошенничеству, обману или злоупотреблению доверием;<br>3. вести к совершению сделок с крадеными или поддельными предметами;<br>4. нарушать или посягать на собственность третьего лица, его коммерческую тайну либо его право на неприкосновенность частной жизни;<br>5. содержать сведений, оскорбляющих чью-либо честь, достоинство или деловую репутацию;<br>6. содержать клеветы или угроз кому бы то ни было;<br>7. призывать к совершению преступления, а также разжигать межнациональную рознь;<br>8. быть непристойными, либо носить характер порнографии;<br>9. содержать компьютерные вирусы, а также иные компьютерные программы, направленные, в частности, на нанесение вреда, неуполномоченное вторжение, тайный перехват либо присвоение данных любой системы либо самой системы, либо ее части, либо личной информации или иных данных;<br>10. причинять вред сайту ubeten.com, а также становиться причиной полной либо частичной потери сайта ubeten.com услуг провайдеров сети Интернет, либо услуг любых иных лиц;<br>11. содержать материалы рекламного характера;<br>12. иным образом нарушать действующее законодательство РФ.<br><br><br>
    </p>
    <p style="text-align: justify;">
        Пользователь настоящим безвозмездно предоставляет Компании право пользования и обработки своих Сведений,включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение персональных данных, а также, в числе прочих, права на соответствующие существующие или могущие появиться в будущем объекты интеллектуальной собственности в пределах, необходимых для выполнения Компанией настоящего Соглашения, а также для того, чтобы предоставить Компании возможность демонстрировать, распространять и продвигать на рынке свои услуги. Пользование Компанией указанными правами осуществляется на неисключительных условиях, на неограниченный срок и не имеет территориальных ограничений. Компания также вправе передавать указанные права третьим лицам в целях исполнения Соглашения; уступать указанные права третьим лицам, в случае уступки прав и обязанностей по Соглашению третьим лицам; в целях осуществления необходимых действий для взыскания с пользователя задолженности за полученные услуги Компанией, в т.ч. в случае уступки любых прав требований, вытекающих из Соглашения, третьим лицам; в целях рассмотрения претензий, предъявляемых пользователями, как самим сайтом, так и третьим лицам, осуществляющим на основании договоров с Компанией деятельность по оказанию услуг на сайте www.ubeten.com в рамках Соглашения.
    </p>
    <p style="text-align: justify;">
        <strong>Файлы Cookies</strong>
    </p>
    <p style="text-align: justify;"> Компания доводит до сведения Пользователей, что в целях предоставления услуг сайта <a href="http://www.ubeten.com" target="_blank" class="external">www.ubeten.com</a>
        Компания применяет данные (файлы) Cookies. Файлы Cookies представляет собой блоки данных, которые собираются посредством веб-браузера и хранятся на жестком диске компьютера Пользователя, а не на сайте  ubeten.com.
    </p>
    <p style="text-align: justify;">
        Файлы Cookies используются на сайте следующим образом:
    </p>
    <ul>
        <li>
            собирают определенную информацию о компьютере Пользователя, включая IP-адрес, операционную систему, тип браузера и адреса ссылающихся сайтов;
        </li>
        <li>
            отслеживают настройки и опции, которые Пользователь указывает при работе с сайтом;
        </li>
        <li>
            помогают оптимизировать работу некоторых сервисов сайта, например, устраняют необходимость часто вводить пароль в ходе сеанса или заново добавлять в корзину заказываемые продукты, если Пользователь не успел завершить транзакцию за одно посещение;
        </li>
        <li>
            для анализа трафика на сайте и сбора статистических данных с целью совершенствования услуг сайта <a href="http://www.ubeten.com" target="_blank" class="external">www.ubeten.com</a>.
        </li>
    </ul>
    <p>
        В случае если Пользователь запрещает использование файлов Cookies, соответствующим образом настроив веб-браузер, он соглашается с тем, что не может пользоваться продуктами и услугами сайта, требующими регистрации, и использовать предлагаемые Компанией услуги в полном объеме.
    </p>
    <p> Компания вправе использовать Сведения Пользователя на любых носителях информации, которые доступны в настоящее время или будут доступны в будущем. При этом Компания обязуется использовать предоставляемые Сведения в соответствии с Соглашением и настоящими Правилами предоставления пользователями сведений Компании.
    </p>
    <p style="text-align: center;">
        <strong>Правила выставления предметов и услуг на </strong><strong>покупку</strong><strong> на Ubeten.com</strong>
    </p>
    <ol>
        <li>
            <strong>Правила выставления лотов на ubeten.com. </strong>
        </li>
    </ol>
    <p>1.1. Заявки на закупку
        товаров и услуг должны размещаться только в соответствующей категории. Только при отсутствии соответствующей товару категории пользователи могут выставлять тендеры в категорию "... все остальное &gt; Другое" после согласования тендера в Компании.
        <br>1.2. В заявке должно быть четко указано, какой товар или услугу и в каком количестве Пользователь хочет закупить.<br>1.3. В поле «Местоположение» заявки на поставку товаров и услуг должно быть указано фактическое место поставки или место оказания услуги, а не местонахождение пользователя, разместившего эту заявку.<br>1.4. В заявке при описании предметов и услуг запрещается указывать чьи-либо координаты, включая телефон, адрес электронной почты, другие способы связи.<br>1.5. В заявке при описании предметов и услуг запрещается использовать графические элементы, фотографии, фрагменты текста и т.п., подготовленные другими лицами без согласия авторов.<br>1.6. Запрещается включать в заявки при описании предлагаемых к закупке предметов и услуг информацию рекламного характера в виде текстов, графики, ссылок на интернет-сайты или в иной форме.<br>1.7. Запрещается размещение тендеров, если целью подобного тендера является рекламная кампания товара, услуги и т.д..<br>1.8. Разрешается включать в заявку при описании предлагаемой стоимости товара и услуг информацию о розыгрышах, конкурсах, лотереях, раздаче призов, эксклюзивном предложении и любую иную аналогичную информацию.<br>1.9. Разрешается в процессе проведения тендера изменять предлагаемую первоначальную стоимость в сторону понижения или повышения.<br>1.10. Запрещается указывать в тендере на закупку
        товаров и услуг заведомо несоразмерную цену товаров и услуг.
        <br>1.11. . Запрещается в заявке на продажу предметов и услуг (в том числе в параметрах категории) указывать сведения, несоответствующие действительности.<br>1.12. Компания оставляет за собой право снять товары или услуги с закупки на Ubeten.com, при нарушении настоящих Правил. <br>1.13. Запрещается выставлять на закупку товары и услуги без технического описания, без документов, описывающих саму услугу или товар.<br>1.14. Запрещается включать в название или описание лота информацию, не относящуюся прямо к описанию и/или свойствам товара или услуги, условиям совершения сделки купли-продажи, доставке товара.<br>1.15. Запрещается при размещении предложения о закупке товаров или услуг указывать в предложении или сообщать каким-либо иным способом пользователям о возможности продажи этих товаров или услуг вне тендера, а также договариваться о продаже товаров или услуг, выставленных на торги, в обход торгов.<br>1.16. Запрещается при размещении предложений о продаже товаров или услуг указывать собственные условия проведения сделок, которые противоречат правилам сайта.<br><br>2. <strong>Ответственность за нарушение правил выставле</strong><strong>ния тендеров</strong><strong>.</strong><br><br>2.1. За нарушение положений пунктов 1.2 - 1.16 соответствующие тендеры подлежат принудительному редактированию или удалению Службой поддержки по усмотрению Компании, а также к Пользователю могут быть применены санкции за указанные нарушения в соответствии с п. 5.3. настоящего Соглашения.<br>2.2. За "повторное нарушение положений пункта 1.4 настоящих Правил предусмотрено принудительное удаление лотов и прекращение доступа пользователя на ubeten.com.
    </p>
    <p style="text-align: center;">
        <br><br>
    </p>
    <p style="text-align: center;">
        <strong>Правила проведения торгов на </strong><strong>ubeten</strong><strong>.</strong><strong>com</strong>
    </p>
    <p>
        <br><strong>1. СПОСОБЫ ПРОДАЖИ</strong><br>На ubeten.com
        один способ закупки товара или услуги: тендеры по системе «аукцион».
        <br><strong>1.1. Аукцион</strong><br>Способ продажи, который представляет собой торги за выставленную Покупателем заявку на товар или услугу. Обычно победителем объявляется поставщик, предложивший минимальную цену, однако Покупатель имеет право определить в качестве победителя иного поставщика, с учетом рейтинга поставщиков, его местоположения и т.д. <br><br><strong>2. ПРОВЕДЕНИЕ СДЕЛОК</strong><br>Продолжительность срока, в течение которого тендер будет выставлен на сайте, определяется Покупателем и может составлять от 3 до 48 часов. В течение этого срока участники могут подавать предложение на выполнение тендера, задавать уточняющие вопросы продавцу, обмениваться мнениями в комментариях или форуме.
    </p>
    <ul>
        <li>
            Не допускается проведение тендеров и/или обсуждение возможности поставки по тендеру между контрагентами в обход торгов сайта в форме обсуждения в комментариях, а также на главном форуме сайта.
        </li>
        <li>
            Не допускается указание контактных данных исполнителя
            в комментариях к тендеру, в предложениях на исполнение, на главном форуме сайта и т.д.
        </li>
    </ul>
    <p><strong>2.1. Подача заявок на п</strong><strong>оставку товара или услуги</strong>
    </p>
    <ul>
        <li>Поставщик имеет право изменить свою предложенную стоимость в сторону уменьшения или увеличения ее цены при проведении тендера. </li>
        <li>Поставщик имеет право указать стоимость более высокую, чем предлагает покупатель только в случае каких-то дополнительных экслюзивных условий. В ином случае его заявка может быть снята, если неочевидно, что стоимость покупки, указанная покупателем занижена. </li>
        <li>В целях повышения уровня безопасности торгов ubeten.com оставляет за собой право в любой момент воспрепятствовать подаче заявки тем или иным участником, ограничивая количество ставок одного Пользователя в единицу времени.
        </li>
    </ul>
    <p><strong>2.2. </strong><strong>Выбор поставщика</strong>
    </p>
    <ul>
        <li>В процессе торгов участники торгов и все заинтересованные Пользователи могут задавать вопросы о выставленном на продажу товаре в форуме по конкретному тендеру.
        </li>
        <li>Покупатель может досрочно завершить торги по тендеру. Если тендер был выставлен на аукцион и на тендер поступили ставки поставщиков, то возможно снятие с аукциона как без отмены ставок, так и с отменой ставок. В первом случае аукцион признается успешным: победителя торгов определяет Покупатель путем нажатия соответствующей клавиши в меню.
        </li>
        <li>При досрочном завершении торгов с отменой ставок необходимо помнить, что отмена ставок допускается только в определенных случаях, которые описаны в разделе «Помощь». В случае злоупотребления функцией отмены ставок, Компания вправе выставить Пользователю предупреждение. При получении двух предупреждений доступ пользователя на ubeten.com может быть прекращен Службой поддержки Компании. </li>
    </ul>
    <p><br><strong>2.3. Завершение сделки</strong>
    </p>
    <ul>
        <li>После выбора Поставщика Покупателем каждому открываются координаты друг другу. В течение 2 (двух) рабочих дней с момента завершения тендера покупателю и поставщику необходимо связаться друг с другом по электронной почте или телефону для окончательного уточнения и подтверждения способов поставки и оплаты товара или услуги. Обязательства по выходу первым на связь лежат на покупателе.
        </li>
        <li>После выполнения закупки товара или услуги покупателю необходимо отметить качество выполнения тендера Поставщиком в личном кабинете с указанием окончательной стоимостью выполнения заказа. </li>
        <li>Поставщик также должен отметить в личном кабинете окончание выполнения поставки товара или услуги. </li>
    </ul>
    <p><br><strong>2.4. Отзывы о действиях других Пользователей</strong>
    </p>
    <p>Ubeten.com
        приветствует размещение Пользователями отзывов о партнерах по сделкам. Продавец товара может оставить отзыв о Покупателе, а Покупатель — о Продавце. При этом Пользователи не должны забывать о необходимости уважительного отношения ко всем Пользователям и не должны злоупотреблять возможностью публиковать информацию.
        <br><br><br>
    </p>

    <p><br>
    </p>
    <p style="text-align: center;">
        <br><br>
    </p>
    <p style="text-align: center;">
        <br><br>
    </p>
    <p style="text-align: center;">
        <strong>Положение об оплате услуг Ubeten.com</strong>
    </p>
    <p>
        <strong>Перечень возмездных услуг, предоставляемых </strong><strong>Компанией</strong><strong>, стоимость и условия оплаты.</strong><br><br>Личный счет на ubeten.com невозможно использовать для получения денежных средств за товар, а так же для оплаты товара покупателем
    </p>
    <p>
        <br><br>
    </p>
    <p>
        .<strong> 1. ОПЛАТА ДОПОЛНИТЕЛЬНЫХ ПЛАТНЫХ УСЛУГ</strong><br>1.1. Торговая площадка предоставляет Пользователям дополнительные платные услуги. Под дополнительными услугами в целях настоящего пункта подразумеваются услуги рекламного характера, связанные с рекламированием товара, выставленного Пользователем для продажи, позволяющие выделить выставленный Пользователем товар среди множества других товаров и привлечь внимание потенциальных покупателей к товару, выставленному Пользователем.<br>
    </p>
    <table class="table table-responsive table-bordered table-hover"><colgroup><col><col></colgroup>
        <tbody>
        <tr>
            <td>
                <p><strong>Название категории верхнего уровня</strong>
                </p>
            </td>
            <td>
                <p><strong>Стоимость услуги (для одного лота)</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Организация и проведение тендера с выбором поставщика
                </p>
            </td>
            <td>
                <p>200 руб.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Организация тендера с поиском возможных поставщиков без выбора поставщика
                </p>
            </td>
            <td>
                <p>100 руб
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Составление технического задания без выезда на место осмотра
                </p>
            </td>
            <td>
                <p>100 руб
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Составление технического задания с выездом на место осмотра
                </p>
            </td>
            <td>
                <p>500 руб
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <strong>2</strong><strong>. УСЛОВИЯ И ПОРЯДОК ОПЛАТЫ УСЛУГ ТОРГОВОЙ ПЛОЩАДКИ</strong><br><strong>2</strong><strong>.1.</strong> Общие положения: <br><strong>2</strong><strong>.1.1.</strong> Цены на услуги ubeten.com устанавливаются в рублях; цены на услуги включают в себя НДС 18%. <br><strong>2</strong><strong>.1.2.</strong> При возникновении отрицательного баланса индивидуального электронного счета Пользователь обязуется компенсировать сумму задолженности перед Торговой площадкой путем перечисления средств на счет Торговой площадки. <br><strong>2</strong><strong>.1.3.</strong> Пользователь вправе по своему усмотрению определять сумму денежных средств, переводимых им для оплаты услуг. Начисленные на счет средства в рамках положительного баланса индивидуального электронного счета используются Пользователем исключительно по своему усмотрению с соблюдением Соглашения. <br><strong>2</strong><strong>.1.4.</strong> Оплата услуг Компании может производиться при помощи банковских карт, электронных денежных средств, путем перечисления денежных средств на банковский счет Компании, а также иными способами, предусмотренными законодательством РФ и поименованными на сайте Компании. <br><strong>2</strong><strong>.1.5.</strong> По поступлении денежных средств на счет Компании Пользователю сообщается по электронной почте о балансе его индивидуального электронного счета. <br><strong>2</strong><strong>.1.6.</strong> Дополнительные платные услуги предоставляются Пользователю только при наличии и в пределах положительного баланса его индивидуального электронного счета. <br><strong>2</strong><strong>.1.7.</strong><strong>
    </strong>Компания вправе по своему усмотрению устанавливать и изменять цены на свои услуги, извещая об этом Пользователя путем изменения настоящего Соглашения и помещения специального указания в разделе « Новости». <br><strong>2</strong><strong>.1.8.</strong> Перед оплатой услуг по процедуре, указанной в п. 3.2.2. настоящего Положения, предоставляемых Компанией, Пользователь может связаться со Службой поддержки, воспользовавшись электронной почтой и согласовать возможность предоставления Компанией выбранной Пользователем возмездной услуги. <br><strong>2</strong><strong>.1.9.</strong> Компания вправе по своему усмотрению отказать Пользователю в предоставлении возмездной услуги, если ее предоставление каким-либо образом будет нарушать нормальную работу сайту, и/или противоречить настоящему Соглашению о предоставлении услуг на
        ubeten.com, и/или противоречить действующему законодательству РФ.
        <br><strong>2</strong><strong>.2.</strong> Порядок использования оплаченных пользователем услуг:<br><strong>2</strong><strong>.2.1.</strong> Пользователь, желающий воспользоваться возмездными услугами cайта, узнает в рубрике «Счет: Баланс и пополнение счета» раздела «Мой тендер &gt; Мои данные» номер индивидуального электронного счета, присвоенный ему при регистрации. <br><strong>2</strong><strong>.2.2.</strong> Пользователь оплачивает услуги Компании на счет Компании, указывая свой номер индивидуального электронного счета и псевдоним. <br><strong>2</strong><strong>.2.3.</strong> Пользователь заказывает и принимает как оказанные дополнительные платные услуги путем заполнения соответствующих форм на сайте и выражения своего согласия на заказ, оплату и факт оказания таких услуг на условиях настоящего Положения нажатием кнопки «ОК» или «Продолжить». <br><strong>2</strong><strong>.2.4.</strong> Компания выполняет заказ Пользователя и направляет ему по электронной почте уведомление о выполнении заказа с указанием стоимости услуг и суммы остатка на счете Пользователя после списания стоимости услуг. <br><strong>2</strong><strong>.3.</strong> Перечисление денежных средств на счет Компании:<br><strong>2</strong><strong>.3.1.</strong> Для оплаты услуг Компании Пользователю необходимо перечислить денежные средства на банковский счет Компании способами, предусмотренными п. 3.1.4. настоящего Положения. Денежные средства должны направляться по приведенным ниже реквизитам Компании (с обязательным указанием в платежном документе номера индивидуального электронного счета и псевдонима пользователя):<br>
    </p>
    <table class="table table-responsive table-bordered table-hover"><colgroup><col><col></colgroup>
        <tbody>
        <tr>
            <td>
                <p><strong>Наименование получателя:</strong>
                </p>
            </td>
            <td>
                <p><strong>ООО «Центр электронных закупок» ОАО «Сбербанк России», г. Москва</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>ИНН, КПП:</strong>
                </p>
            </td>
            <td>
                <p style="text-align: justify;"><strong>ИНН 9705031815, КПП 775003035</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Номер счета:</strong>
                </p>
            </td>
            <td>
                <p style="text-align: justify;"><strong>40702810038000044912</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Наименование банка:</strong>
                </p>
            </td>
            <td>
                <p style="text-align: justify;">
                    <strong>Московский банк ОАО «Сбербанк России», БИК 044525225, </strong>
                </p>
                <p style="text-align: justify;">
                    <strong>к/с 30101810400000000225 в ОПЕРУ Московского ГТУ Банка России</strong>
                </p>
                <p><br>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Наименование платежа:</strong>
                </p>
            </td>
            <td>
                <p><strong>Оплата услуг ubeten.com клиентом [псевдоним пользователя], [номер счета пользователя]</strong>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <br><strong>2</strong><strong>.3.2.</strong> Для оплаты услуг Компании Пользователь может использовать банковские карты VISA, Eurocard/MasterCard, Diners Club, системы онлайн-платежей WebMoney, QIWI Кошелек, Деньги@Mail.Ru, Яндекс.Деньги, систему оплаты со счета мобильного телефона (Mobi.деньги), а также иные методы онлайн-оплаты, если таковые имеются.<br><strong>2</strong><strong>.4.</strong> В случае недостаточности средств на электронном счете Пользователя для оплаты услуг Компании, Пользователь обязуется оплатить услуги Компании в срок не позднее14 дней с даты завершения тендера, по оплате которых образовалась задолженность. В случае нарушения указанного срока доступ Пользователя к использованию ubeten.com может быть приостановлен.
    </p>

    <p style="text-align: center;">
        <br><br>
    </p>
    <p style="text-align: center;">
        <strong>Положение об обработке персональных данных пользователей</strong>
    </p>
    <p>
        <br><strong>1. Условия и порядок обработки персональных данных, предоставляемых пользователями </strong><strong>ubeten</strong><strong>.</strong><strong>com</strong><strong>
    </strong><br>1.1. Для целей настоящего Положения используются следующие основные понятия:<br>- персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (Пользователю). В состав персональных данных пользователей ubeten.com входят следующие данные: фамилия, имя, отчество пользователя, дата рождения, адрес электронной почты и иные данные предоставляемые пользователями в случаях, указанных в пункте 1 настоящего Положения.<br>- обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых ubeten.com с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;<br>- распространение персональных данных - действия, направленные на раскрытие персональных данных неопределенному кругу лиц;<br>- блокирование персональных данных - временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);<br>- уничтожение персональных данных - действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных работников и/или в результате которых уничтожаются материальные носители персональных данных работников;<br>- обезличивание персональных данных - действия, в результате которых становится невозможным без использования дополнительной информации определить принадлежность персональных данных конкретному субъекту персональных данных;<br>- информация - сведения (сообщения, данные), предоставляемые пользователями ubeten.com в следующих случаях: при регистрации пользователей, при внесении заявки на куплю-продажу различных предметов и услуг, иным образом размещает в любой общедоступной области сайта ubeten.com (включая Cистему отзывов и форумы), пользователями посредством электронной почты, с помощью технологии OpenID через OpenID-провайдера.<br>1.2. В состав персональных данных пользователей ubeten.com входят следующие данные: фамилия, имя, отчество Пользователя, дата рождения, адрес электронной почты и иные данные входящие в состав персональных данных настоящего Положения. <br>1.3. Сведения, предоставляемые пользователями ubeten.com должны соответствовать перечню требований, перечисленных в пунктах 1-12 Правил предоставления пользователями сведений ubeten.com. <br>1.4. Пользователь настоящим предоставляет ubeten.com право обработки персональных данных, принимая во внимание, что ubeten.com не имеет права получать и обрабатывать персональные данные пользователей о его расовой, национальной принадлежности, политических взглядах, религиозных или философских убеждениях, состоянии здоровья, интимной жизни.<br>1.5. ubeten.com гарантирует соблюдать конфиденциальность персональных данных и обеспечить безопасность персональных данных при их обработке.<br>1.6. Срок, в течение которого действует согласие Пользователя на обработку персональных данных, а также способ его отзыва, определяется сроком, который необходим для целей обработки персональных данных. Если данный срок не установлен, то срок составляет 5 лет. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию по достижении целей обработки или в случае утраты необходимости в достижении этих целей.<br>1.7. На основании письменного обращения Пользователя ubeten.com с требованием о прекращении обработки его персональных данных Торговая площадка прекратит обработку таких персональных данных в течение 10 (десяти) рабочих дней, о чем будет направлено уведомление Пользователю в течение 10 (десяти) рабочих дней в порядке, предусмотренном п. 2.1. настоящего Положения. В порядке, предусмотренным действующим законодательством РФ, согласие может быть отозвано Пользователем путем письменного обращения или обращения по электронной почте в Администрацию ubeten.com.<br><strong>2. Направление уведомлений.</strong><br>2.1. ubeten.com при исполнении настоящего Соглашения вправе направлять Пользователю любые уведомления (в том числе порождающие правовые последствия), ответы на заявления, претензии и прочие обращения, одним из следующих способов: <br>а) на адрес электронной почты Пользователя, указанный при регистрации на интернет сайте ubeten.com; <br>б) на адрес электронной почты Пользователя, указанный им в любом заявлении, ранее полученном ubeten.com; <br>в) на номер телефона Пользователя в виде смс-рассылки, предоставленный ubeten.com;<br>г) на почтовый адрес Пользователя, указанный им в любом заявлении, ранее полученном ubeten.com.<br>При направлении уведомления способами, указанными в настоящем пункте (кроме п.п. «г»), уведомление считается полученным Пользователем по истечении 24 часов с момента направления соответствующего уведомления. При направлении уведомления способом, указанным в п.п. «г» настоящего пункта, уведомление считается полученным Пользователем по истечении 3 (трех) рабочих дней с момента направления соответствующего уведомления. <br>2.2. Принимая условия настоящего Соглашения, Пользователь выражает свое согласие на получение от Торговой площадки сообщений, содержащих информацию об услугах, сервисах, предоставляемых ubeten.com и его партнерами, маркетинговых акциях и программах, проводимых ubeten.com, а также иную информацию рекламного характера, касающуюся предмета коммерческой деятельности ubeten.com и оказываемых ubeten.com услуг, также с целью уведомления Пользователей о существующей задолженности с требованием произвести оплату имеющейся задолженности. Указанные сообщения могут быть направлены Пользователю в порядке, предусмотренном п. 2.1. настоящего Положения.<br>2.3. Пользователь вправе отказаться от получения указанных в настоящем пункте сообщений путем направления уведомления в произвольной форме по адресу электронной почты ubeten.com либо путем отказа от рассылки в личном кабинете Пользователя, а также путем направления заявления в письменной форме по адресу местонахождения ubeten.com.
    </p>
    <p style="text-align: center;">
        <br><br>
    </p>
    <div class="text-center" style="margin-top: 40px;">
        <button type="button"  onclick="history.back()" class="btn btn-default btn-lg ">
            Назад
        </button>
    </div>
</div>