<div class="container">
<p align="center">
    <strong>ДОГОВОР</strong>
</p>
<p align="center">
    <strong>об оказании информационно-справочных услуг поставщикам (оферта)</strong>
</p>
<p>
    Настоящий публичный договор (оферта) об оказании информационно-справочных услуг (далее Договор) определяет взаимоотношения между Обществом с ограниченной
    ответственностью «Центр Электронных Закупок», в лице генерального директора Загорина Александра Федоровича, действующего на основании Устава, именуемое в
    дальнейшем «Компания», и любым лицом (физическое лицо, ИП или организация), прошедшем процедуру регистрации в качестве поставщика на сайте компании
    ubeten.com и тем самым, принявшим публичное предложение (оферту) о заключении данного договора, именуемый в дальнейшем «Исполнитель», совместно именуемые
    «Стороны».
</p>
<p>
    <strong></strong>
</p>
<p align="center">
    <strong>1. ТЕРМИНОЛОГИЯ ДОГОВОРА</strong>
</p>
<p>
    <strong>Компания - </strong>
    ООО «Центр Электронных Закупок», предоставляющая доступ к участию в закупках, проводимых на сайте Компании ubeten.com.
</p>
<p>
    <strong>Поставщик </strong>
    – исполнитель, получатель информационно-справочной услуги о проводимых закупках, и прошедший процедуру регистрации в качестве поставщика на сайте компании
    ubeten.com.
</p>
<p>
    <strong>Регистрация </strong>
    – процедура подтверждения сведений о физическом лице, ИП или организации на сайте компании ubeten.com, включающая проверку ФИО, наименование организации,
    паспортных данных или данных о компании, сведений о компании, категории участия, региона работы и т.д.
</p>
<p>
    <strong>Пользователь </strong>
    - лицо, разместившее заказ на закупку услуги на сайте компании ubeten.com.
</p>
<p>
    <strong>Услуга – </strong>
    ремонт, поставка, изготовление, продажа чего-либо и т.д., то есть, любое действие поставщика, заказ на предоставление услуг которого размещает пользователь
    на сайте компании ubeten.com.
</p>
<p>
    <strong>Заказ на закупку </strong>
    - информация, поступающая от пользователя компании, описывающая потребность в услуге (ремонт автомобиля, поставка запасных частей, продажа автомобиля и
    т.д. и прочие особенности заказа).
</p>
<p>
    <strong>Система </strong>
    - совокупность программно-аппаратных средств, обеспечивающая бесперебойный приѐм и обработку заказов от пользователей, и их рассылку поставщикам.
</p>
<p>
    <strong>Личный кабинет</strong>
    – специальный раздел сайта, содержащий информацию о счете, отражающем информацию о состоянии баланса денежных средств перечисленных поставщиком за услуги
    компании, его задолженности, выполненных услугах и т.д., доступ к которому осуществляется посредством сайта ubeten.com.
</p>
<p>
    <strong></strong>
</p>
<p align="center">
    <strong>2. НОРМАТИВНО-ПРАВОВАЯ БАЗА ДОГОВОРА</strong>
</p>
<p>
    2.1. В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ) в случае принятия изложенных в настоящем договоре условий
    (акцепта) любое физическое лицо, а также любой уполномоченный представитель юридического лица, обладающие в соответствии с законодательством Российской
    Федерации, правом на заключение подобных договоров, производя акцепт данной оферты, становится «Поставщиком»
</p>
<p>
    2.2. В соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в публичном договоре (оферте).
    Прохождение поставщиком регистрации посредством использования сайта компании ubeten.com свидетельствует об акцепте, то есть согласии Поставщика с настоящим
    договором.
</p>
<p>
    2.3. Принятие договора (акцепт оферты) является полным и безоговорочным и означает согласие поставщика со всеми без исключения и дополнения условиями
    договора. А также свидетельствует о том, что Поставщик понимает значение своих действий, все условия договора ему понятны, поставщик не находится под
    влиянием заблуждения, обмана, насилия, угрозы, и т.п.
</p>
<p>
    2.4. Поставщик гарантирует, что имеет полное право и полномочия на заключение и исполнение настоящего договора.
</p>
<p>
    2.5. Ответственность за несоблюдение норм законодательства, указанных в п.2.1, 2.2. и 2.4. возлагается на Поставщика.
</p>
<p align="center">
    <strong>3. ПРЕДМЕТ ДОГОВОРА</strong>
</p>
<p>
    3.1. Предметом настоящего договора является оказание Компанией информационных услуг поставщику по предоставлению заказов на закупку услуг пользователей,
    размещенных посредством сайта компании ubeten.com, которые Поставщик обязуется оплатить Компании в течение 14 дней со дня выбора пользователем Поставщика.
</p>
<p>
    3.2. В случае если пользователь после проведения заказа на закупку и итогового выбора Поставщика отказался от получения услуги, то в этом поставщик не
    оплачивает информационные услуги Компании, оказанные в соответствии с п.3.1., а если средства уже перечислены на счет Компании, то они подлежат возврату в
    течение 7 дней.
</p>
<p align="center">
    <strong>4.ПРАВА И ОБЯЗАННОСТИ СТОРОН</strong>
</p>
<p>
    4.1. В рамках настоящего договора Компания обязуется:
</p>
<p>
    4.1.1. Предоставить информационные услуги Поставщику о поступлении заказов на закупку пользователей, а также представлять Поставщику данные о числе
    оказанных услуг, их объеме и стоимости.
</p>
<p>
    4.1.2. Не предоставлять услуги Поставщику в соответствии с Разделом 3 настоящего договора при отрицательном остатке средств за выигранный заказ на закупку
    на виртуальном счете Поставщика. Информация о балансе персонального счета может быть получена через мобильное приложение «Твой тендер» или на сайте
    компании ubeten.com в личном кабинете.
</p>
<p>
    4.1.3. Производить консультацию Поставщика по интересующим его вопросам через сайт ubeten.com или по телефонам горячей линии.
</p>
<p>
    4.2. В рамках настоящего договора Поставщик обязуется:
</p>
<p>
    4.2.1. Осуществлять услуги в соответствии с законодательством РФ.
</p>
<p>
    4.2.2. Брать оплату с пользователя за оказание услуги в соответствии с условиями, которые Поставщик предложил во время участия в закупке, в случае если
    заказ на закупку, размещенный через мобильное приложение «Твой тендер» или на сайте компании ubeten.com, не отличается от итогового согласованного между
    Поставщиком и пользователем.
</p>
<p>
    4.2.3. Отмечать в личном кабинете начало исполнения услуги и его окончание с окончательной суммой исполнения.
</p>
<p>
    4.3. В рамках настоящего договора Компания имеет право:
</p>
<p>
    4.3.1. Получать вознаграждение за предоставление информационно-справочных услуг (Приложение № 1 к настоящему Договору).
</p>
<p>
    4.3.2. Компания имеет право совершать контрольные звонки пользователям в любое время без предупреждения Поставщика.
</p>
<p>
    4.3.2. Присваивать рейтинг Поставщикам в зависимости от количества, качества оказанных услуг и на основании отзывов пользователей.
</p>
<p>
    4.3.3. Отказать в регистрации или приостановить ее действие на сайте компании ubeten.com, если предоставленные данные Поставщиком не являются корректными,
    не предоставлены полностью или есть задолженность по предыдущей регистрации в соответствии с Разделом 3.
</p>
<p>
    <strong></strong>
</p>
<p align="center">
    <strong>5. ЦЕНА УСЛУГ И ПОРЯДОК РАСЧЕТОВ</strong>
</p>
<p>
    5.1. Компания получает оплату за оказанную информационную услугу в соответствии с Приложением № 1 к настоящему Договору.
</p>
<p>
    5.2. Информация о стоимости услуги и размере вознаграждения Компании указывается в личном кабинете, после выбора поставщика пользователем.
</p>
<p>
    5.3. Оплата Поставщиком информационно-справочных услуг Компании осуществляется путем перечисления денежных средств на расчетный счет Компании с помощью
    безналичного перевода или посредством перевода денежных средств c банковских карт.
</p>
<p align="center">
    <strong>6. СРОК ДЕЙСТВИЯ ДОГОВОРА</strong>
</p>
<p>
    6.1. Настоящий договор вступает в силу с момента регистрации Поставщика на сайте Компании ubeten.com.
</p>
<p>
    6.2. Любая Сторона вправе расторгнуть настоящий договор в одностороннем порядке.
</p>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    <strong>7. КОНФИДЕНЦИАЛЬНАЯ ИНФОРМАЦИЯ</strong>
</p>
<p>
    7.1. Принимая условия настоящей оферты, Поставщик дает безоговорочное согласие на обработку своих персональных данных, а именно: ФИО, наименование
    организации, паспортных данных или данных о компании, сведений о компании, категории участия, региона работы и т.д.
</p>
<p>
    7.2. Компания обязуется не разглашать и не использовать в своих интересах, равно как и в интересах любых третьих лиц, прямо или опосредованно персональную
    информацию о поставщиках и предпринять все зависящие от них меры с целью сохранения в тайне данной информации.
</p>
<p align="center">
    <strong>8. ДЕЙСТВИЯ НЕОПРЕДЕЛЕННОЙ СИЛЫ</strong>
</p>
<p>
    8.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему договору, если таковое явилось следствием
    обстоятельств непреодолимой силы, возникших после заключения договора в результате событий чрезвычайного характера, наступление которых сторона, не
    исполнившая обязательство полностью или частично, не могла ни предвидеть, ни предотвратить разумными мерами. Надлежащим доказательством возникновения,
    прекращения таких обстоятельств и их продолжительности будет являться свидетельство соответствующей торговой палаты или иного компетентного органа или
    организации.
</p>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    <strong>9. ОТВЕТСТВЕННОСТЬ СТОРОН</strong>
</p>
<p>
    9.1. Поставщик несет ответственность за достоверность предоставленной им необходимой в целях исполнения настоящего договора информации, и своевременность
    ее предоставления.
</p>
<p>
    9.2. В случае предоставления Поставщиком недостоверной информации о ФИО, наименование организации, паспортных данных или данных о компании, сведений о
    компании, категории участия, региона работы и т.д. Компания, а также не ведения личного кабинета в соответствии с 4.2.2., 4.2.3. вправе наложить штрафные
    санкции.
</p>
<p>
    9.3. В случае предоставления недостоверной информации Поставщик обязуется возместить все убытки, которые понесла компания в связи с предоставлением
    поставщиком такой информации.
</p>
<p>
    9.4. Все споры и разногласия, которые могут возникнуть в ходе исполнения настоящего договора, будут разрешаться сторонами путем переговоров.
</p>
<p>
    9.5. При не урегулировании сторонами возникших разногласий спор разрешается в судебном порядке по месту нахождения Компании.
</p>
<p align="center">
    <strong>10. ПРОЧИЕ УСЛОВИЯ</strong>
</p>
<p>
    10.1. Во всем, что не оговорено в настоящем договоре, стороны руководствуются действующим законодательством РФ
</p>
<p align="right">
    Приложение 1
</p>
<p align="right">
    Стоимость информационных услуг
</p>
<p align="right">
    в соответствии с Главой 3
</p>
<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td width="225" valign="top">
            <p align="center">
                <strong>Категории</strong>
            </p>
        </td>
        <td width="236" valign="top">
            <p align="center">
                <strong>Подкатегория</strong>
            </p>
        </td>
        <td width="161" valign="top">
            <p align="center">
                <strong>Стоимость, % от стоимости закупки</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td width="225" rowspan="2">
            <p align="center">
                Автомобили
            </p>
        </td>
        <td width="236">
            <p align="center">
                Ремонт, техническое обслуживание
            </p>
        </td>
        <td width="161">
            <p align="center">
                10
            </p>
        </td>
    </tr>
    <tr>
        <td width="236">
            <p align="center">
                Продажа автомобилей, годных остатков
            </p>
        </td>
        <td width="161">
            <p align="center">
                5
            </p>
        </td>
    </tr>
    <tr>
        <td width="225">
        </td>
        <td width="236">
        </td>
        <td width="161">
        </td>
    </tr>
    </tbody>
</table>

    <div class="text-center" style="margin-top: 40px;">
        <button type="button"  onclick="history.back()" class="btn btn-default btn-lg ">
            Назад
        </button>
    </div>
</div>