<meta charset="UTF-8">
<h2>Показатели работоспособности ДиКБМ</h2>
<div class="row text-right">
    <button ng-click="refresh()" class="btn btn-success btn-sm">Обновить</button>
</div>
<table class="table">
    <tr>
        <th>Метрика</th>
        <th>Обновлено</th>
        <th>Значение</th>
    </tr>
    <tr  ng-repeat="m in metrics" ng-class="{success : m.value < m.controlValue , danger :  m.value > m.controlValue}" >
        <td>{{ m.name }}</td>
        <td>{{ m.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{ m.value | number:3 }} {{m.razmer}}</td>
    </tr>
</table>


