<div id="CancelTenderForm" class="container"
     style="position: relative; border:1px solid #ddd; min-height:400px; margin-top:10px; border-radius:6px; background-color:#FDFDFD; max-width:900px; padding:30px 30px 25px 30px;" >

    <fieldset><legend>Отменить проведение тендера</legend>
        <div ng-form="cancelTenderForm" class="text-center">

            <div>
                <div class="row text-left" style="margin:20px 0 30px 0;">
                    <div class="col-xs-12">
                        <h4>Вы уверены что хотите отменить проведение тендера?</h4>
                    </div>
                    <div class="col-xs-12">
                        <label for="canceledReason" class="text-left col-xs-12 control-label" style="padding-left: 0;">Укажите причину отмены
                            тендера</label>
                            <textarea class="form-control" id="canceledReason" rows="3" required
                                      name="canceledReason"
                                      ng-class="{'errorBorder' :  tScope.cancelTenderCheck.emptyComment}"
                                      ng-model="tScope.CancelTender.cancelReasonComment"
                                      style=" resize: none;"></textarea>
                        <div class="text-danger" ng-show="cancelTenderForm.$submitted || cancelTenderForm.canceledReason.$touched">
                            <div  ng-show="cancelTenderForm.canceledReason.$error.required">Опишите причину отмены тендера</div>
                        </div>
                    </div>
                </div>
                <p style="font-size: 11px;">Хотим предупредить, при частой отмене проводимых тендеров, у Вас
                    формируется отрицательный рейтинг как у заказчика.
                    Рекомендуем отменять тендеры только по веской причине.</p>
            </div>
            <div class="modal-footer">
                <button type="button"  onclick="history.back()" class="btn btn-default">Назад</button>
                <button type="button" ng-click="tScope.consCancelTender(cancelTenderForm)" class="btn btn-primary">Отменить тендер</button>
            </div>
</div>
    </fieldset>
</div>


