<div id="cons_change_provider" scroll-to-me="cons_change_provider" class="container"
     style="position: relative; border:1px solid #ddd; min-height:400px; margin-top:10px; border-radius:6px; background-color:#FDFDFD; max-width:900px; padding:30px 30px 25px 30px;" ng-form="ConOverTenderForm">

    <fieldset><legend>Завершить тендер</legend>
        <div class="text-center">
            <div class="row text-left">
                <div class="col-xs-12">
                    <h4>Мы рады, что Ваш тендер выполнен и надеемся, что Вам понравилось использование нашего сервиса</h4>
                </div>
                <div class="col-xs-12">
                    <p class="text-left col-xs-12 control-label" style="padding-left: 0;">В целях повышения качества обслуживания клиентов, просьба оценить Вашего исполнителя</p>
                    <label class="text-left col-xs-12 control-label" style="padding-left: 0;">Отзыв о компании исполнителе</label>
                        <textarea class="form-control" id="commentAboutProvider"
                                  name="commentAboutProvider" required
                                  ng-class="{'errorBorder' : tScope.overTenderCheck.emptyComment}"
                                  ng-model="tScope.OverTender.comment" rows="3" style=" resize: none;"></textarea>

                    <div class="text-danger" ng-show="ConOverTenderForm.$submitted || ConOverTenderForm.commentAboutProvider.$touched">
                        <div  ng-show="ConOverTenderForm.commentAboutProvider.$error.required">Опишите качество работ исполнителя</div>
                    </div>

                </div>
                <div class="col-xs-12" style="margin-top:20px;">
                    <label class="text-left col-xs-12 control-label" style="padding-left: 0;">Оцените исполнителя</label>
                    <div style="height: 50px; margin: 20px 0px;" >
                        <div class="row" style="margin: 0;">
                            <div ng-repeat = "star in tScope.ratingStarList" ng-click="tScope.ratingStarClick(star, $index)" class="text-center ratingStar {{star.css}}">
                                <p style="margin: 6px 0;">{{star.rating}}</p>
                            </div>
                            <div class="text-center ratingTablo"
                                 ng-class="{'errorBorder' : tScope.overTenderCheck.emptyRating}">
                                <p style="margin: 0;">{{tScope.OverTender.rating}}</p>
                                <p style="font-size: 11px; color:#436F4E;">оценка</p>
                            </div>
                            <div class="text-danger col-xs-12" ng-show="tScope.overTenderCheck.emptyRating">Оцените исполнителя</div>
                        </div>
                    </div>

                </div>

            </div>

            <p style="font-size: 11px;">Наш сервис стремиться предоставлять только качественные услуги и привлекать только ответсвенных и добросовестных исполнителей.
                Ваш отзыв важен для нас, и будет учтен в рейтинге компании-исполнителя</p>
        </div>
        <div>
            <button type="button"  onclick="history.back()" class="btn btn-default">Назад</button>
            <button type="button" ng-click="tScope.consOverTender(ConOverTenderForm)" class="btn btn-success">Тендер выполнен</button>
        </div>


    </fieldset>
</div>

