<div id="cons_change_provider" scroll-to-me="cons_change_provider" class="container"
     style="position: relative; border:1px solid #ddd; min-height:400px; margin-top:10px; border-radius:6px; background-color:#FDFDFD; max-width:900px; padding:30px 30px 25px 30px;" ng-form="ConChangeProviderForm">

    <fieldset><legend>Отказаться от исполнителя</legend>
        <div class="text-center">
            <div class="row text-left">
                <div class="col-xs-12">
                    <h4>Вы уверены, что хотите отказаться от выбранного исполнителя?</h4>
                </div>
                <div class="col-xs-12">
                    <label for="changeReasonComment" class="text-left col-xs-12 control-label" style="padding-left: 0;">Укажите причину отказа от исполнителя</label>
                        <textarea class="form-control" id="changeReasonComment" required
                                  name="changeReasonComment"
                                  ng-class="{'errorBorder' : tScope.changeProviderCheck.emptyComment}"
                                  ng-model="tScope.ChangeProvider.changeReasonComment"
                                  rows="3" style=" resize: none;"></textarea>
                    <div class="text-danger" ng-show="ConChangeProviderForm.$submitted || ConChangeProviderForm.changeReasonComment.$touched">
                        <div  ng-show="ConChangeProviderForm.changeReasonComment.$error.required">Опишите причину отказа от исполнителя</div>
                    </div>
                </div>
            </div>
            <p style="font-size: 11px;">Наш сервис стремиться предоставлять только качественные услуги и привлекать только ответсвенных
                и добросовестных исполнителей. Все комментарии анонимны</p>
        </div>
        <div >
            <button type="button"  onclick="history.back()" class="btn btn-default">Назад</button>
            <button type="button" ng-click="tScope.consChangeProvider(ConChangeProviderForm)" class="btn btn-primary">Отказаться от исполнителя</button>
        </div>

    </fieldset>
</div>


