<div id="ProviderOverTenderModal" scroll-to-me="ProviderOverTenderModal" class="container"
     style="position: relative; border:1px solid #ddd; min-height:400px; margin-top:10px; border-radius:6px; background-color:#FDFDFD; max-width:900px; padding:30px 30px 25px 30px;">
    <fieldset class=" text-center"><legend>Тендер выполнен</legend>
            <div>
                <div class="col-xs-12">
                        <h4>Вы уверены, что хотите завершешить тендер и подтвердить его выполнение?</h4>
                        <p>Подверждая завершение, Вы заверяете, что выполнили свои обязательства по выграному тендеру</p>
                </div>
                <p style="font-size: 11px;">После подтверждения выполнения тендра заказчиком, тендер будет отображаться в выполненных Вами тендерах.
                Также на электронный адрес Вашего контактного лица придет уведомление.</p>
            </div>
            <div  class="col-xs-12" >
                <button type="button"  onclick="history.back()" class="btn btn-default">Назад</button>
                <button type="button" ng-click="tScope.provOverTender()" class="btn btn-success">Тендер выполнен</button>
            </div>
</fieldset>
</div>

