<!-- OfferModal -->
<div id="OfferModal" class="container"
     style="position: relative; border:1px solid #ddd; min-height:400px; margin-top:10px; border-radius:6px; background-color:#FDFDFD; max-width:900px; padding:30px 30px 25px 30px;" >

        <fieldset><legend>{{tScope.OfferModal.title}}</legend>

         <div>

                <input type="hidden" name="offer_id" id="offer_id" value=""/>
                <fieldset>
                    <legend>Описание предложения</legend>
                    <div id="offerDescription">
                        {{tScope.OfferModal.offerDescription}}
                    </div>
                </fieldset>
                <fieldset style="margin-top: 17px;">
                    <legend>Адрес выполнения</legend>
                    <lable id="addresOffer">{{tScope.OfferModal.fullAdress}}</lable>
                    <div class="form-group">
                        <div class="col-xs-12" style="height:200px;" id="mapOneOffer"></div>
                    </div>
                </fieldset>
                <fieldset style="margin-top: 17px;">
                    <legend style="margin-bottom: 0;">Сроки выполнения</legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <p for="datePeriodOffer" class="control-label">Обязуемся исполнить Ваш тендер в сроки: </p>
                        </div>
                        <div class="col-xs-12  text-center">
                            <p id="datePeriodOffer" style="font-size: 20px;">{{tScope.OfferModal.dateBegin| date:'dd.MM.yyyy'}} по  {{tScope.OfferModal.dateEnd | date:'dd.MM.yyyy'}}</p>
                        </div>
                    </div>
                </fieldset>
                <fieldset style="margin-top: 17px;">
                    <legend style="margin-bottom: 0;">Предлагаемая цена</legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <p for="priceOffer" class="control-label" >Исполнитель готов выполнить работу за: </p>
                        </div>
                        <div class="col-xs-12  text-center">
                            <p><span id="priceOffer" style="font-size: 30px;color: #216120;">{{tScope.OfferModal.priceOffer | currency: "" :0 }}</span>  руб.</p>
                        </div>
                    </div>
                </fieldset>
            </div>
        <div class="modal-footer">
            <button type="button"  onclick="history.back()" class="btn btn-default">Назад</button>
            <button type="button" ng-if="tScope.Tender._my" ng-click="tScope.acceptOffer(tScope.OfferModal.offerId)" class="btn btn-success">Выбрать победителя</button>
        </div>
            </fieldset>
</div>

