<!-- OfferModal -->
<div class="container" id="SubmitOfferModal" ng-form name="newOfferForm" novalidate style="position: relative; border:1px solid #ddd; min-height:400px; margin-top:10px; border-radius:6px; background-color:#FDFDFD; max-width:900px; padding:30px 30px 25px 30px;">

        <fieldset><legend>Ваше предложение</legend>


                <div >
                    <fieldset>
                        <legend>Описание предложения</legend>
                        <div class="form-group">
                        <textarea class="form-control col-md-12" name='offerDescription'
                                  rows="10" required placeholder="Описание предложения"
                                  ng-model="tScope.NewOffer.offerDescription"></textarea>
                            <div class="text-danger" ng-show="newOfferForm.$submitted || newOfferForm.offerDescription.$touched">
                                <div  ng-show="newOfferForm.offerDescription.$error.required">Необходимо заполнить описание вашего предложения</div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Адрес выполнения тендера</legend>
                        <div locationset maplink="tScope.submitOfferMap" adressparent="tScope.NewOffer" callback="tScope.setMapLang"></div>
                    </fieldset>

                    <fieldset style="margin-top: 17px;">
                        <legend>Сроки выполнения</legend>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Начало</label>

                            <p class="input-group">
                                <input type="text"
                                       id="offerDateBegin"
                                       class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                                       ng-model="tScope.NewOffer.offerDateBegin"
                                       is-open="popup1.opened"
                                       name="offerDateBegin"
                                       ng-required="true" required datevalidation                  />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                             <div class="text-danger text-center" ng-show="newOfferForm.$submitted || newOfferForm.offerDateBegin.$touched">
                                <div  ng-show="newOfferForm.offerDateBegin.$error.required">Необходимо заполнить дату</div>
                                <div  ng-show="!newOfferForm.offerDateBegin.$error.required && newOfferForm.offerDateBegin.$error.datevalidation">Указана не правильная дата</div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6" >
                            <label class="control-label">Окончание</label>
                            <p class="input-group">
                                <input type="text"
                                       id="offerDateEnd"
                                       class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                                       ng-model="tScope.NewOffer.offerDateEnd"
                                       is-open="popup2.opened"
                                       name="offerDateBegin"
                                       ng-required="true" required datevalidation                  />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                            <div class="text-danger text-center" ng-show="newOfferForm.$submitted || newOfferForm.offerDateEnd.$touched">
                                <div  ng-show="newOfferForm.offerDateEnd.$error.required">Необходимо заполнить дату</div>
                                <div  ng-show="!newOfferForm.offerDateEnd.$error.required && newOfferForm.offerDateEnd.$error.datevalidation">Указана не правильная дата</div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset style="margin-top: 17px;">
                        <legend>Предлагаемая цена</legend>
                        <div class="form-inline text-center">
                            <label for="price" style="margin-bottom: 17px; width:250px;" class="control-label">Готовы
                                выполнить работу за:</label>
                            <div class="input-group " style="width: 200px; margin: 0 auto;  margin-bottom: 17px;">
                                <input type="text" class="form-control" id="price" name="price" style="z-index: 0;"
                                       ng-model="tScope.NewOffer.price"  required pattern="^[0-9\\s]{1,10}$">
                                <div class="input-group-addon">руб.</div>
                            </div>
                        </div>
                        <div class="text-danger text-center" ng-show="newOfferForm.$submitted || newOfferForm.price.$touched">
                            <div  ng-show="newOfferForm.price.$error.required">Необходимо указать стоимость выполнения тендера</div>
                            <div  ng-show="newOfferForm.price.$error.pattern">Стоимость должна быть выражена числовым значением в рублях</div>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button"  onclick="history.back()" class="btn btn-default">Назад</button>
                    <button type="button" ng-click="tScope.submitOffer(newOfferForm)" class="btn btn-success">Сделать предложение</button>
                </div>

        </fieldset>
</div>

