
<!--========================================================================================================-->
<!--========================================================================================================-->
<!--блок единичного тендера-->

<div ng-if="tScope.Tender" class="container">
<div class="row">
    <div class="col-xs-12 text-right" style="margin-top: 0px;padding: 10px 0;background-color: #F5F5F5;">
        <a href="#/edit_tender/{{tScope.Tender.id}}" ng-if="tScope.Tender._my && !tScope.Tender.ownerCloseTender" style=" margin-right: 10px;" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Редактировать тендер
        </a>
        <a ng-if="tScope.Tender._my && tScope.Tender.tenderStatus.id == '2'" id='buttonCancelTender' style=" margin-right: 10px;"
                href="#/cancel_tender/{{tScope.Tender.id}}" class="btn btn-warning btn-sm"><span
                class="glyphicon glyphicon-trash" aria-hidden="true"></span> Отменить тендер
        </a>
        <a ng-if="tScope.Tender._provider && !tScope.Tender._my && !tScope.Tender.providerCloseTender"
                style=" margin-right: 10px;" href="#/provider_over_tender/{{tScope.Tender.id}}" class="btn btn-warning btn-sm"><span
                class="glyphicon glyphicon-ok" aria-hidden="true"></span> Завершить тендер
        </a>
        <a  ng-if="!tScope.Tender._my && tScope.Tender.tenderStatus.id == '2'" id='buttonSubmitOffer' style=" margin-right: 10px;"
                href="#/submit_offer/{{tScope.Tender.id}}" class="btn btn-primary btn-sm"><span
                class="glyphicon glyphicon-plus" aria-hidden="true"></span> Сделать предложение
        </a>
    </div>
    <div class="col-xs-12">
        <h3 id="tenderNameField">{{tScope.Tender.tenderName}}</h3>
    </div>
    <div class="col-xs-12 text-center">
            <div class="" role="alert" >
                <div ng-if="tScope.Tender._my && tScope.Tender.tenderStatus.id == '6'" class='alert alert-danger' role='alert'>Тендер отменен. Далее он не будет отображаться в результатах поиска</div>
            </div>
    </div>
</div>

<div class="row text-center" style="margin-top: 17px;">

    <div class='col-sm-4' style="background-color: #E6F8FF; padding: 20px 5px;">
        <label><span class='glyphicon glyphicon-pushpin' aria-hidden='true'></span> Категория: </label>
        <p id="tenderSubcatNameField">
            {{tScope.Tender._my ? tScope.Tender.typeService.serviceNameConsumer : tScope.Tender.typeService.serviceNameProvider}}
        </p>
    </div>

    <div class='col-sm-4' style="background-color:#FFE6E6; padding: 20px 5px;">
        <label><span class='glyphicon glyphicon-time' aria-hidden='true'></span> Сроки проведения:</label>

        <p id="tenderDatePeriodField">{{tScope.Tender.dateBegin | date:'dd.MM.yyyy'}} - {{ tScope.Tender.dateEnd | date:'dd.MM.yyyy'}}</p>
    </div>

    <div class='col-sm-4' style="background-color: #E8FFE6; padding: 20px 5px;">
        <label><span class='glyphicon glyphicon-rub' aria-hidden='true'></span> Ожидаемая цена: </label>

        <p id="tenderExpPriceField">{{tScope.Tender.expectedPrice | currency: "" :0}} руб.</p>
    </div>
</div>


<div class="row text-left" style="margin-top: 17px;" >
    <div id="selectorValueList">
        <div class='col-sm-4' ng-repeat="selectorV in tScope.SelectorValueList track by $index" ng-if="selectorV.name">
           <p><label class='control-label'>{{selectorV.name}}:</label>{{selectorV.valuesHtml}}</p>
        </div>
    </div>
    <div id="commonParametersList">

        <div class='col-sm-4' ng-repeat="commonParameter in tScope.Tender.commonValueList">
          <p><label class='control-label'>{{commonParameter.parameterName}} : </label> {{commonParameter.parameterValue}}</p>
        </div>

    </div>
</div>

<div class="row" style="padding:32px;border-bottom: 1px solid #ddd;">

    <div class='col-xs-12 col-sm-8'>
        <h4>Описание тендера</h4>
        <p id="tenderDescriptionField">{{tScope.Tender.tenderDescription}}</p>
    </div>


    <div class='col-xs-12 col-sm-4' id="tenderAdressDiv">
        <h4>Адрес тендера</h4>
        <label id="tenderFormatedAdress">{{tScope.Tender.fullAdress ?tScope.Tender.fullAdress : tScope.geocode()}}</label>
        <!--Карта оборажает положение тендера-->
        <div class="col-xs-12" style="height:300px;" id="mapTenderDiv"></div>

    </div>


</div>

<div class="row" style="padding:32px;border-bottom: 1px solid #ddd;">
    <h4>Тип заказчика</h4>
    <div id="tenderUserType" class="alert alert-success col-xs-12 col-sm-6" role="alert">
        {{tScope.Tender.juridical ? 'Юридическое лицо' : 'Физическое лицо'}}
     </div>
</div>


<div class="row" style="padding:32px;border-bottom: 1px solid #ddd;" ng-if="tScope.Tender.tenderFileList.length > 0" >
    <h4>Дополнительные материалы</h4>
    <ul id="tenderAdditionFilesList" class="list-unstyled">

        <li ng-repeat="val in tScope.Tender.tenderFileList" style='font-size: 16px;'><span class='glyphicon glyphicon-file' aria-hidden='true'></span> - <a href='{{val.fileLink}}'>{{val.fileName}} </a><span class='label label-primary'>.{{val.fileLink.split('.').pop()}}</span></li>

    </ul>
</div>



<div class="row" style="padding: 10px 20px;border-bottom: 1px solid #ddd;">
    <h4>Количество объектов тендера <span id="tenderObjectCountField" class="label label-primary"></span> {{tScope.Tender.tenderObjects.length}}</h4>
</div>
<div id="tenderObjectsList">

    <div class='row well' ng-repeat="tenderObject in tScope.Tender.tenderObjects">
        <fieldset><legend>Объект тендера # {{$index+1}}</legend>
            <div class='row'>
                <div class='col-xs-6 col-sm-4 col-md-3 text-center' style='overflow: hidden; margin-bottom: 10px; cursor:zoom-in;'
                     ng-repeat="objectFoto in tenderObject.objectFotos">
                   <div style="overflow: hidden; width: 100%;">
                    <a href="{{objectFoto.fotoLink}}" data-lightbox="Фото $index">
                        <img  ng-src="{{objectFoto.fotoMinLink}}" alt="{{tScope.Tender.tenderName}}" class="img-thumbnail" style='margin:0 auto; height:170px;' />
                    </a>
                   </div>
                </div>
            </div>
            <div>
                <div class='col-sm-4' style='border: 1px solid #ddd; padding: 10px 20px 0px 20px; border-radius: 3px; background-color: #fff;'
                        ng-repeat="objectParameter in tenderObject.objectParameterValues" ng-show="objectParameter.parameterValue && objectParameter.parameterName">
                    <label class='control-label'>{{objectParameter.parameterName}}</label>
                    <p>{{objectParameter.parameterValue}} {{objectParameter.postFix}}</p>
                </div>
            </div>
        </fieldset>
    </div>



</div>

<div class="row" id="tenderOwnerInfoDiv" style="margin-top: 17px;"   ng-if="!tScope.Tender._guest && tScope.Tender.tenderStatus.id == '3' && tScope.Tender.userOvnerInfo">
    <div class="col-xs-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Вы выбраны исполнителем по данному тендеру</h3>
            </div>

            <!--если есть ответсвенный-->
            <div class="panel-body" ng-if="tScope.Tender.haveResponsible">
                <div class='col-sm-12' style=''>
                    <div class='col-sm-4'>
                        <label><span class='glyphicon glyphicon-user' aria-hidden='true'></span>  Ответственное лицо по тендеру : </label>
                        <span style='white-space: pre;'> {{tScope.Tender.responsibleInfo.firstName }} {{tScope.Tender.responsibleInfo.lastName}}</span>
                    </div>
                    <div class='col-sm-4'>
                        <label><span class='glyphicon glyphicon-phone-alt' aria-hidden='true'></span>  Телефон: </label>
                        <span style='white-space: pre;'>{{tScope.Tender.responsibleInfo.phoneNumber }} </span>
                    </div>
                    <div class='col-sm-4'>
                        <label><span class='glyphicon glyphicon-envelope' aria-hidden='true'></span>  Адрес электронной почты: </label>
                        <span style='white-space: pre;'>{{tScope.Tender.responsibleInfo.email }} </span>
                    </div>
                </div>
            </div>

            <!--если нет ответсвенного-->
            <div class="panel-body"  ng-if="!tScope.Tender.haveResponsible">
                <div class='col-sm-12' style=''>
                    <div class='col-sm-4'>
                        <label><span class='glyphicon glyphicon-user' aria-hidden='true'></span>  Заказчик : </label>
                        <span style='white-space: pre;'> {{tScope.Tender.userOvnerInfo.privateInfo.firstName }} {{tScope.Tender.userOvnerInfo.privateInfo.lastName}}</span>
                    </div>
                    <div class='col-sm-4'>
                        <label><span class='glyphicon glyphicon-phone-alt' aria-hidden='true'></span>  Телефон: </label>
                        <span style='white-space: pre;'>{{tScope.Tender.userOvnerInfo.privateInfo.phoneNumber }} </span>
                    </div>
                    <div class='col-sm-4'>
                        <label><span class='glyphicon glyphicon-envelope' aria-hidden='true'></span>  Адрес электронной почты: </label>
                        <span style='white-space: pre;'>{{tScope.Tender.userOvnerInfo.privateInfo.email }} </span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div id="allOffersParentDiv" class="row" style="margin-top: 17px;"
     ng-show="!tScope.Tender._guest && tScope.Tender.tenderStatus.id == '2'">
    <div class="col-xs-12">
        <fieldset>
            <legend>Предложения по тендеру.</legend>
            <div ng-if="tScope.Tender.offerList.length == '0'" class='alert alert-warning' id="emptyOfffers" role='alert'>По данному тендеру пока нет предложений</div>

            <div id="allOffersDiv" ng-show="tScope.Tender.offerList.length > 0">
                <div class="row" style="border-bottom:1px solid #ddd;">
                    <div class="col-xs-12">
                        <ul class="nav nav-pills navbar-right">

                            <li ng-class="{'active' : tScope.shoWOffersListTable}" ng-init="tScope.shoWOffersListTable = true">
                                <a href="" ng-click="tScope.showOffersList($event)" >
                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Списком
                                </a>
                            </li>

                            <li ng-class="{'active' : tScope.shoWmapOffersDiv}">
                                <a href=""  ng-click="tScope.showOffersMap($event)">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> На карте
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>




                <div class="row">

                    <div class="col-xs-12 text-right" style="padding: 5px;background-color: #f4f4f4;border-bottom:1px solid #ddd;font-size: 11px;">
                        <p style="margin: 0;">Представлены 5 лучших предложений по цене | <a href="#">Посмотреть все</a></p>
                    </div>

                    <!--вывод офферов таблицей-->
                    <div id="OffersListTable" class="table" ng-show="tScope.shoWOffersListTable">

                        <div ng-repeat="offer in tScope.Tender.offerList | orderBy:'price'" class="col-xs-12" style="border-bottom:1px solid #ddd;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3 text-center" style="overflow: hidden; margin-bottom: 10px;">
                                    <h5><b>Предложение от компании {{offer.provider.juridicalInfo.companyName}}</b></h5>
                                    <a class="btn btn-info btn-xs"  href='#/show_offer/{{tScope.Tender.id}}/{{offer.id}}'>Посмотреть предложение</a>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 text-center" style="overflow: hidden; margin-bottom: 10px;">
                                    <h5><b>Предлагаемая стоимость</b></h5>
                                    <p> {{offer.price | currency: "" :0}} руб.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Карта оборажает предложения по тендеру-->
                    <div class="col-xs-12" style="height:400px;" id="mapOffersDiv" ng-show="tScope.shoWmapOffersDiv">

                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<!---Предложения-->
<div id="winnerParentDiv" ng-if="!tScope.Tender._guest && tScope.Tender.tenderStatus.id == '3'"
     class="row" style="margin-top: 17px;"><!---Победитель-->
    <div class="col-xs-12">
        <fieldset>
            <div class="" role="alert" id="winnerDivText">
                <div ng-if="tScope.Tender._my && !tScope.Tender.ownerCloseTender" class='alert alert-success' role='alert'>По данному тендеру уже выбран исполнитель. Исполнитель получит Ваши контакты и свяжется с Вами</div>
                <div ng-if="tScope.Tender._my && tScope.Tender.ownerCloseTender" class='alert alert-success' role='alert'>Вы завершили данный тендер. Самое время дать старт для нового</div>
                <div ng-if="!tScope.Tender._my && !tScope.Tender.userOvnerInfo " class='alert alert-success' role='alert'>По данному тендеру уже выбран исполнитель. Вы не можете делать предложения по нему</div>

            </div>
            <div class="text-right" ng-if="tScope.Tender._my && !tScope.Tender.ownerCloseTender">
                <a style=" margin-right: 10px;" href="#/cons_change_provider/{{tScope.Tender.id}}" class="btn btn-warning btn-sm"><span
                        class="glyphicon glyphicon-ok" aria-hidden="true"></span> Отказаться от исполнителя
                </a>
                <a id='buttonConsOverTender' style=" margin-right: 10px;" href="#/cons_over_tender/{{tScope.Tender.id}}" class="btn btn-success btn-sm"><span
                        class="glyphicon glyphicon-ok" aria-hidden="true"></span> Тендер выполнен
                </a>
            </div>


        </fieldset>
    </div>


</div>
<!---Победитель-->

<div class="row well" style="margin-top: 17px;">
    <div class="col-xs-12">
        <h3>Добавить комментарий</h3>

        <div class="form-group" ng-form>
            <textarea class="form-control" id="new_comment" ng-model="tScope.NewComment.text" rows="3" style=" resize: none;"></textarea>
            <div class="text-right" style="margin-top: 17px;">
                <button type="submit" ng-click="tScope.submitNewComment()" class="btn btn-default">Отправить комментарий
                </button>
            </div>
        </div>
    </div>
</div>
<!---Добавить комментарий-->

<div class="row" style="margin-top: 17px;">
    <div class="col-xs-12">
        <fieldset id="commentsDiv" ng-if="tScope.TenderMessageList.length > 0" >
            <legend>Комментарии</legend>

            <div class='media' style="border-bottom:1px solid #ddd;"
                 ng-repeat="message in tScope.TenderMessageList">
                <div class='media-left'>
                    <a href=''><img class='media-object' src='/res/img/person.png' alt='64x64'
                                    data-holder-rendered='true' style='width: 64px; height: 64px;'></a>
                </div>
                <div class='media-body'>
                    <h5 class='media-heading'><b>#{{message.userOwner.user_id | letername: tScope.Tender.id }}</b> <span style="font-size: 11px; color:#5A5A5A;">({{message.dateCreate | date:'dd.MM.yyyy HH:mm' }})</span></h5>
                    <div class="col-xs-12">
                     {{message.text}}
                    </div>
                    <div class="col-xs-12 text-right">
                        <button type="button" class="btn btn-default btn-xs" ng-click="tScope.addAsverForComment(message.id, message.userOwner.user_id)">Ответить
                        </button>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>

</div>
    <div class="row" id="lastComment"></div>

<!---Блок с комментариями-->

</div>

<div ng-if="!tScope.Tender && tScope.ready">
    <div class="alert alert-warning" role="alert"  style="max-width: 800px; margin: 80px auto;">
        <h3>К сожалению запрашиваемый тендер не найден</h3>
        <p>Если Вы уверены, что все правильно, свяжитесь с нами по адресу - <a href="mailto:info@ubeten.com">info@ubeten.com</a></p>
        <p>Наши администраторы ответят на все вопросы, и постараются решить любые возникшие проблемы.</p>
    </div>
</div>


<!--FOTO-MODAL-->
<div class="modal fade" id="FotoModal">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Приближение</h4>
            </div>
            <div class="modal-body text-center">
                <img style="max-width: 100%;"  src="{{tScope.fotoModalImg}}">

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
