<meta charset="UTF-8">
<h2>Gzip</h2>
<h4>Работа с текстом типа: "H4sIAAAAAAAAAKuqKEuuqEouAwCkpoeECAAAAA==....."  </h4>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="gzip.text"  rows="5"></textarea>
</div>
<div class="row text-center" style="padding:20px 0 20px 0;">
    <div class="col-xs-6">
        <button class="btn btn-default btn-block" ng-click="getGZIP()"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Закодировать в BASE64+GZIP</button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-default btn-block" ng-click="getText()">Расскодировать BASE64+GZIP <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
    </div>
</div>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="gzip.hash"  rows="5"></textarea>
</div>
