<meta charset="UTF-8">
<h2>Проверка собственника по е_осаго</h2>
<p>В запросах используйте InsurerID - 99700000</p>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="eosagoOwnerRequest.xml"  rows="5"></textarea>
</div>
<div class="row text-center ng-scope" style="padding: 10px 0 22px 0;">
   <form novalidate name="eosagoOwnerRequestForm" ng-submit="getEosagoOwnerRequestFromXML(eosagoOwnerRequestForm.$invalid)">
       <div ng-show="showPreloader" >
           <img src="res/img/82.GIF">
       </div>

       <div class="col-xs-6 " style="padding-top: 4px;">
        <br>
        <button type="submit" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Запрос на проверку собственника </button>
    </div>
    <div class="col-xs-6 " style="padding-top: inherit; margin-bottom: 20px;">
        <label> Запрос сервера</label>
        <select class="form-control" ng-model="eosagoOwnerRequest.serverInstance" name="serverInstance" required
                ng-options="server.constant as server.name for server in serversEosago">
            <option value="" > - - - Доступные серверы - - -  </option>
        </select>
        <div class="text-danger" ng-show="eosagoOwnerRequestForm.$submitted || eosagoOwnerRequestForm.serverInstance.$touched">
            <span ng-show="eosagoOwnerRequestForm.serverInstance.$error.required">Необходимо выбрать сервер</span>
        </div>
   </div>
   </form>
</div>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="eosagoOwnerResponse.response"  rows="5"></textarea>
</div>

<h5>Образец запроса</h5>
<div class="row">
    <div class="col-xs-12">
        <xmp style="border:none; width:100%;">
            <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
            <ns2:InsurerOwnerRequest xmlns:ns2="com/rsa/eosago/schema-1.1">
                <InsurerOwnerRequestValue>
                    <InsurerID>99700000</InsurerID>
                    <PhysicalPersonInfoRequest>
                        <Country>643</Country>
                        <PersonNameBirthHash>0000000000000000HASS00000000000000000</PersonNameBirthHash>
                        <PersonDocument>
                            <DocPerson>12</DocPerson>
                            <Serial>0000</Serial>
                            <Number>000000</Number>
                        </PersonDocument>
                        <AddressRSACode>0002200100000</AddressRSACode>
                    </PhysicalPersonInfoRequest>
                    <DateRequest>2015-01-01T00:00:00</DateRequest>
                </InsurerOwnerRequestValue>
            </ns2:InsurerOwnerRequest>
        </xmp>
    </div>
</div>
