/*коррекция навбара*/
@import url(https://fonts.googleapis.com/css?family=Play&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,700italic,700,600italic,600,400italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
html, body{
    font-family: 'Open Sans', sans-serif;
}
.navbar-wrapper{
    background-color:#404042;
    border-bottom: 1px solid #adadad;
}
.navbar{
   margin-bottom: 0;
}
.navbar-default{
    background-image:none;
    background-color:rgba(255,255,255,0.0);
    border: none; box-shadow: none;
}

.navbar-default .navbar-nav>li>a {
    color: #D8D3D3;
    text-shadow:none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #1ac6ff;
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}
.navbar-default .navbar-brand {
    color:#7DE471;
}
.navbar-default .navbar-brand:hover{
    color:#C0E8BB;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover{
    background-color: rgba(221, 221, 221, 0.1);
}
.navbar-default .navbar-toggle:focus{
    background-color: rgba(221, 221, 221, 0.1);
}
/*-------------------карусель----------------------------------------------------------*/

.carousel-inner>.item>img{
    margin: 0 auto;
    min-width: 100%;
}
.carousel-inner{
    overflow: hidden;
    height:400px;
}
.carousel-caption {
    top:30px;
}

/*--------------логотип-------------------------------------------*/
.header{
    min-height: 110px;
    background-color:rgb(84, 51, 51);
    border-bottom: 1px solid #adadad;
}
.header .logo-div{
    position: relative;
    height: 90px;
}
.header .logo-div img{
    top:18px;
    left:7px;
    position: absolute;
    max-height: 90%;
}
.logo-div h1{
    color: #24C2FF;
    font-size: 30px;
    position:absolute;
    left: 115px;
    top: 9px;
}
.logo-div p {
    color: #66cc66;
    font-size: 14px;
    position: absolute;
    left: 115px;
    top: 60px;
    min-width: 150px;
}

.header_mes{
    padding: 8px 22px 1px 22px;
    margin: 16px 18px 27px;
    font-size: 15.5px;
}

.header a.reg{
    text-shadow:none;
    color: #fff;
    text-decoration: none;
    line-height: 32px;
}
.header a.reg:hover {
    color: #1ac6ff;
    text-decoration: none;
}
/*кнопочки*/
.header .btn-block{
    min-width: 180px;
}



/*--------------------лого услуг---------------------------------------------*/
.service_logo{
    margin: 0 auto;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    background-size: auto 100%;
}
.service_logo2{
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('/res/img/icons/home_iconall.png');
    height: 100px;
    width: 100px;
    background-size: auto 100%;
}


.inworking{
  opacity: 0.4;

}
.relative{
  position: relative;
}
.inwpar{
    font-size: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 45px;
    left: 0;
    right: 0;
    color:#F36D3B;
    /* Safari */
    -webkit-transform: rotate(-20deg);

    /* Firefox */
    -moz-transform: rotate(-20deg);

    /* IE */
    -ms-transform: rotate(-20deg);

    /* Opera */
    -o-transform: rotate(-20deg);

    /* Internet Explorer */
    -ms-transform:rotate(-20deg);
    transform: rotate(-20deg);

}
/*accordion general page*/
.h-accord{
    cursor: pointer;
}
.c-accord{
    overflow:hidden;
}

.slide-toggle {
    transition: height 0.3s linear;
}



.loader{
    opacity: 0.3;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1999;
    background-color: #060606;
    display: none;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.alert_fon{
    opacity: 0.3;
    position: fixed;
    height:115px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1999;
    background-color: #000;

}


.message_fon{
    opacity: 0.2;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1999;
    background-color: #000;
}
.custom_alert{
    position: fixed;
    z-index: 2000;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;

}

.custom_message{
    top:20%;
    background-color: #fcfcfc;
    position: absolute;
    padding: 35px;
    width: 50%;
    z-index: 2000;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}


@media (max-width: 860px) {
    .custom_message{
       width: 90%;
    }
}


.close-message{
    position: absolute;
    top:5px;
    right: 10px;
}

.next_button{
    width: 120px;
}
.back_button{
    width: 120px;
}

.check-bg{
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: relative;
    top: 4px;
}

. p-md{
    font-size: 20px;
}

.error {
    padding: 5px;
    margin: 11px 0px 10px 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.marginbottom20{
    margin-bottom: 20px;
}

.margin30{
    margin: 30px;
}

fieldset{
    padding:15px;
}


/*------------------------Angular----FAdeIN/OUT----------------*/
.fade {
   opacity: 1;
}
.fade.ng-enter {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}


.fade.ng-leave {
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
}

.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

/*validation classes*/
input.ng-valid.ng-touched{
border-color:#0C9E31;
}
input.ng-invalid.ng-touched{
    border-color:#F86262;
}

/*validation classes*/
select.ng-valid.ng-touched{
    border-color:#0C9E31;
}
select.ng-invalid.ng-touched{
    border-color:#F86262;
}

textarea.ng-valid.ng-touched{
    border-color:#0C9E31;
}
textarea.ng-invalid.ng-touched{
    border-color:#F86262;
}



.errorselector {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.sh-sel-true{
    background-image: url('/res/img/shema/trueselected.png');
}

.sh-sel-false{
    background-image: url('/res/img/shema/falseselected.png');
}

.ratingStar{
    background: url("/res/img/icons/stars.png") no-repeat;
    height: 30px;
    margin-right: 20px;
    float:left;
    width: 33px;
    background-position: 0px -2px;
}
.ratingStarChacked{
    background-position: 0px -66px;
}
.ratingTablo{
    border:2px solid #7a7a76;
    height: 43px;
    width: 55px;
    font-size: 27px;
    color:green;
    position: relative;
    float: right;
}

.errorBorder{
    border: 1px solid red;
}
textarea.ng-valid.ng-touched.errorBorder {
    border: 1px solid red;
}

.balanceless{
    font-size:35px;
    color:red;
    margin-top:15px;
}
.balancegreat{
    font-size:35px;
    color:green;
    margin-top:15px;
}



/*для меню*/
div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}
div.navbar-collapse.collapse.in {
    max-height: 2000px;
}
.preloader {
    margin-top: 70px;
    padding: 50px;
    background: url('/res/img/gif/wheel.gif') no-repeat 50% 50% transparent;
}
.marginLeft38{
    margin-left: 38px;
}
/*
.btn-primary{
    background-color: #33ccff;
    border-color: #00A0D5;
}
.btn-success{
    background-color: #66cc66;
    border-color: #289C28;
}
.header .btn{
    padding: 7px 17px;
    text-align: left;
}*/

.indexTab{
    min-height: 210px;
    position: relative;
    background: #c3c4bf;
    background-image: url(/res/img/2-fon-dlya-sayta.png); /* fallback */
    background-image: url(/res/img/2-fon-dlya-sayta.png), linear-gradient(to bottom, #ffffff 15%, #c1c2bd 85%);
    border:1px solid #AAA;
    border-radius: 15px;
    margin-bottom: 20px;
}
.indexTabImg{
    position: absolute;
    top: -10px;
    left:30px;
}

.navbar-wrapper .navbar-default .navbar-nav>li>a {
    font-size: 18px;
}
.navbar-collapse{
    border-top: none;
}
.text-ar{
    height: 300px !important;
}



@media (min-width: 768px) {
    .sidebar {
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

