<div class="container" ng-form="editTenderForm" novalidate>

<h2 class="text-center" style="margin:30px 5px 30px 5px;" xmlns="http://www.w3.org/1999/html">Редактировать тендер</h2>

<fieldset><legend>Категория тендера
    <span>
       <span class="glyphicon glyphicon-question-sign" aria-hidden="true" ng-click="showCatHelp = !showCatHelp" > </span>
       <span ng-show="showCatHelp" class="help-block" style=" font-size: 14px;">Данные параметры тендера неизменяемы. Изменяя данные параметры Вы переводите тендер в другие категории, что автоматические отменяет все предложения исполнителей. При необходимости Вы можете отменить тендер и создать заново.</span>
    </span>
</legend>


<p>
<b><span class='glyphicon glyphicon-pushpin' aria-hidden='true'></span> Вид услуги : </b>{{tScope.Tender.typeService.serviceNameConsumer }}
</p>

<div class="row text-left" style="margin-top: 17px;" >
    <div>
        <div class='col-sm-4' ng-repeat="selectorV in tScope.SelectorValueList track by $index" ng-if="selectorV.name">
            <p><label class='control-label'>{{selectorV.name}}:</label>{{selectorV.valuesHtml}}</p>
        </div>
    </div>
</div>
</fieldset>
<fieldset>
<legend>Описание тендера</legend>
    <div class="row">
        <div class="form-group  col-sm-6">
            <label class="control-label" for="tenderName">Заголовок тендера</label>
            <input type="text" class="form-control" id="tenderName" name='tenderName' required
                   ng-model="tScope.Tender.tenderName" placeholder="Заголовок тендера">
            <div class="text-danger" ng-show="editTenderForm.$submitted || editTenderForm.tenderName.$touched">
                <div  ng-show="editTenderForm.tenderName.$error.required">Необходимо заполнить название тендера</div>
            </div>
        </div>
        <div class="form-group  col-sm-12">
            <label class="control-label" for="tenderDescription">Описание тендера</label>
                <textarea class="form-control" id="tenderDescription" name='tenderDescription' rows="8"
                          ng-model="tScope.Tender.tenderDescription" required placeholder="Описание тендера"></textarea>
            <div class="text-danger" ng-show="editTenderForm.$submitted || editTenderForm.tenderDescription.$touched">
                <div  ng-show="editTenderForm.tenderDescription.$error.required">Необходимо заполнить описание тендера</div>
            </div>
        </div>
    </div>
</fieldset>


    <fieldset><legend>Информация по объектам тендера</legend>



            <div class='row well' ng-repeat="tenderObject in tScope.Tender.tenderObjects"ng-init="tenderObject.id = $index">
                <fieldset><legend>Объект тендера # {{$index+1}}</legend>

                    <div ng-form name="formObject{{$index}}" novalidate >
                        <div class='row'>
                            <div class='col-xs-6 col-sm-4 col-md-3 text-center' style='overflow: hidden; margin-bottom: 10px;'
                                 ng-repeat="objectFoto in tenderObject.objectFotos">
                                <div style='width: 100%; overflow: hidden;'><img class='' ng-src="{{objectFoto.fotoMinLink}}" style='margin:0 auto; height:170px;'></div>
                                <button type='button' class='btn btn-default btn-xs' ng-click="tScope.removeFoto(tenderObject.objectFotos,$index)">Удалить</button>
                            </div>
                        </div>
                        <div class='col-xs-12 text-center'>
                            <button type='button' class='btn btn-success'
                                    ng-click="tScope.showInputFoto('#fotoMultiInput'+tenderObject.id)">Прикрепить фото</button>
                            <input type='file' id="fotoMultiInput{{tenderObject.id}}" filer="tenderObject.objectFotos"
                                   accept='image/gif, image/jpeg,image/png,image/pjpeg,image/tiff' multiple='multiple' style="display: none;" />

                            <p><span class='help-block'>Поддерживаемые форматы: *.gif, *.jpeg, *.tiff, *.png</span></p>
                        </div>
                    </div>
                    
                    <fieldset><legend>Тип объекта - {{tenderObject.typeObject.typeName}}</legend>
                        <div>

                            <div class='form-group col-sm-4' ng-repeat="parameterRelation in tenderObject.parameterRelations">
                                <label class='control-label'>{{parameterRelation.objectParameter.parameterName}}</label>

                                <div ng-if="parameterRelation.objectParameter.fieldType == 'input' && parameterRelation.objectParameter.varType =='text'">
                                    <input type='text' pattern="{{parameterRelation.objectParameter.parameterRegEx}}"
                                           data-comment="parameterRelation.objectParameter.comment"  ng-required="parameterRelation.required"
                                           ng-model="parameterRelation.objectParameter.value"
                                           class='form-control input-sm'
                                           name="{{parameterRelation.objectParameter.parameterIdent}}"/>
                                    <div class="text-danger" ng-show="editTenderForm.$submitted || formObject{{$index}}.{{parameterRelation.objectParameter.parameterIdent}}.$touched">
                                        <div  ng-show="formObject{{$index}}.{{parameterRelation.objectParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                                        <div  ng-show="formObject{{$index}}.{{parameterRelation.objectParameter.parameterIdent}}.$error.pattern">{{parameterRelation.objectParameter.comment}}</div>
                                    </div>
                                </div>

                                <div ng-if="parameterRelation.objectParameter.fieldType == 'range' && parameterRelation.objectParameter.varType == 'date' && parameterRelation.objectParameter.stopRange == null">
                                    <select class='form-control input-sm'
                                            data-comment="parameterRelation.objectParameter.comment"  ng-required="parameterRelation.required"
                                            ng-model="parameterRelation.objectParameter.value"
                                            name="{{parameterRelation.objectParameter.parameterIdent}}"
                                            ng-options="year as year for year in tScope.years(parameterRelation.objectParameter.startRange) track by year">
                                        <option value="" >- - - - -</option>
                                    </select>
                                    <div class="text-danger" ng-show="editTenderForm.$submitted || formObject{{$index}}.{{parameterRelation.objectParameter.parameterIdent}}.$touched">
                                        <div  ng-show="formObject{{$index }}.{{parameterRelation.objectParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                                    </div>
                                </div>

                                <div ng-if="parameterRelation.objectParameter.varType == 'catalog' && parameterRelation.objectParameter.ref == false">
                                    <select class='form-control input-sm'
                                            data-comment="parameterRelation.objectParameter.comment"  ng-required="parameterRelation.required"
                                            ng-model="parameterRelation.objectParameter.value"
                                            name="{{parameterRelation.objectParameter.parameterIdent}}"
                                            ng-change="tScope.RefferalCatalog[tenderObject.id][parameterRelation.objectParameter.parameterIdent] = parameterRelation.objectParameter.value"
                                            ng-options="item as item.{{parameterRelation.objectParameter.catalogNameField}} for item in tScope.InputCatalogCollections[parameterRelation.objectParameter.parameterIdent] track by item.{{parameterRelation.objectParameter.catalogNameField}}">
                                        <option value="" > - - - - - -  </option>
                                    </select>
                                    <div class="text-danger" ng-show="editTenderForm.$submitted || formObject{{$index }}.{{parameterRelation.objectParameter.parameterIdent}}.$touched">
                                        <div  ng-show="formObject{{$index }}.{{parameterRelation.objectParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                                    </div>
                                </div>

                                <div ng-if="parameterRelation.objectParameter.varType == 'catalog' && parameterRelation.objectParameter.ref == true">
                                    <select class='form-control input-sm'
                                            data-comment="parameterRelation.objectParameter.comment"  ng-required="parameterRelation.required"
                                            ng-model="parameterRelation.objectParameter.value"
                                            name="{{parameterRelation.objectParameter.parameterIdent}}"
                                            ng-options="item as item.{{parameterRelation.objectParameter.catalogNameField}} for item in tScope.RefferalCatalog[tenderObject.id][parameterRelation.objectParameter.refParameter].{{parameterRelation.objectParameter.catalogLink}} track by item.{{parameterRelation.objectParameter.catalogNameField}}">
                                        <option value="" > - - - - - -  </option>
                                    </select>
                                    <div class="text-danger" ng-show="editTenderForm.$submitted || formObject{{$index}}.{{parameterRelation.objectParameter.parameterIdent}}.$touched">
                                        <div  ng-show="formObject{{$index}}.{{parameterRelation.objectParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class='col-sm-12 text-right' class='text-right'>
                        <button type='button' class='btn btn-default btn-xs' ng-click="tScope.removeObject($index)">Убрать лишний</button>
                    </div>
                </fieldset>
            </div>

        <div class="row text-center" style="margin-top: 40px;" >
            <button type="button" ng-click="tScope.addObject()" class="btn btn-default btn-lg">Добавить объект</button>
        </div>

    </fieldset>


    <fieldset><legend>Дополнительные материалы </legend>
        <p ng-if="tScope.Tender.typeService.addFileComment">{{tScope.Tender.typeService.addFileComment}}</p>
        <input type='file' style="display: none;" id="addFileInput" addfiler="tScope.Tender.tenderFileList"
               accept="image/gif, image/jpeg,image/png,image/pjpeg,image/tiff,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
        application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,  application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.ms-excel,
        application/vnd.ms-powerpoint,application/msword, application/x-7z-compressed, application/zip,text/plain,application/pdf,application/x-rar-compressed "  multiple="multiple"/>
        <div class="row" >
            <div>
                <div ng-repeat="additionalFile in tScope.Tender.tenderFileList" class='row text-center well well-sm' style='margin-bottom: 20px;'>
                    <div class='form-group col-sm-9 text-left' style='margin-bottom:0;'>
                        <ng-form name="AddFileForm{{$index}}">
                            <label class='control-label'>Наименование прилагаемого файла</label>
                            <input type='text' class='form-control' name='fileName' required ng-model="additionalFile.fileName">
                            <span  class='help-block text-left'>{{additionalFile.originName}}</span>
                            <div class="text-danger" ng-show=" AddFileForm{{$index}}.$submitted || AddFileForm{{$index}}.fileName.$touched">
                                <div  ng-show="AddFileForm{{$index}}.fileName.$error.required">Необходимо передать название файла</div>
                            </div>
                        </ng-form>
                    </div>
                    <div class='col-sm-3'><br/>
                        <button type='button' class='btn btn-default' ng-click="tScope.removeAddFile($index)" style='margin-top: 5px;'>Удалить файл</button>
                    </div>
                </div>
                <div ng-show="tScope.Tender.tenderFileList.small" class="text-danger">Необходимо передать хотя бы  один дополнительный файл по тендеру</div>
            </div>
            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-default" ng-click="tScope.showInputFile()">Прикрепить файлы</button>
                <p><span style="" class="help-block">Поддерживаемые форматы:  *.pdf, *.doc, *.xls, *.zip, *.gif, *.jpeg, *.tiff, *.png,</span></p>
                <p><span style="" class="help-block">Максимальный размер файла: 5Mb</span></p>
            </div>
        </div>
    </fieldset>

    <fieldset ng-if="tScope.Tender.commonValueList.length > 0">
        <legend>Параметры тендера</legend>
        <div class='col-sm-12 text-left'>
            <div ng-repeat="commonParameter in  tScope.Tender.typeService.commonParameters">
                <div class='form-group col-sm-4' ng-if="commonParameter.fieldType == 'input' && commonParameter.varType =='text'" >
                    <label class='control-label'>{{commonParameter.parameterName}}</label>
                    <input type="{{commonParameter.varType}}" ng-required="commonParameter.required" pattern="{{commonParameter.parameterRegEx}}"
                           ng-model="commonParameter.value" class='form-control input-sm' name='{{commonParameter.parameterIdent}}'/>
                    <div class="text-danger" ng-show="newTenderForm.$submitted || newTenderForm.{{commonParameter.parameterIdent}}.$touched">
                        <div  ng-show="newTenderForm.{{commonParameter.parameterIdent}}.$error.required">Необходимо указать данный параметр</div>
                        <div  ng-show="newTenderForm.{{commonParameter.parameterIdent}}.$error.pattern">{{commonParameter.comment}}</div>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>


    <fieldset>
        <legend>Адрес проведения тендера</legend>
        <div locationset maplink="tScope.TenderMap" adressparent="tScope.Tender" callback="tScope.setMapLang"></div>
    </fieldset>

    <hr/>

    <!--TODO отвалидируй дату через директиву -->
    <fieldset> <legend>Сроки проведения тендера</legend>
        <div class="form-group col-sm-6">
            <label class="control-label">Начало</label>

            <p class="input-group">
                <input type="text"
                       class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                       ng-model="tScope.dateBeginTender"
                       is-open="popup1.opened"
                       name="dateBegin"
                       ng-required="true"                   />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <div class="text-danger text-center" ng-show="editTenderForm.$submitted || editTenderForm.dateBegin.$touched">
                <div  ng-show="editTenderForm.dateBegin.$error.required">Необходимо заполнить дату</div>
                <div  ng-show="editTenderForm.dateBegin.$error.datevalidation">Указана не правильная дата</div>
            </div>
        </div>
        <div class="form-group col-sm-6" >
            <label class="control-label">Окончание</label>
            <p class="input-group">
                <input type="text"
                       class="form-control" uib-datepicker-popup="dd.MM.yyyy"
                       ng-model="tScope.dateEndTender"
                       is-open="popup2.opened"
                       name="dateEnd"
                       ng-required="true"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="popup2.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>

            <div class="text-danger text-center" ng-show="editTenderForm.$submitted || editTenderForm.dateEnd.$touched">
                <div  ng-show="editTenderForm.dateEnd.$error.required">Необходимо заполнить дату</div>
                <div  ng-show="editTenderForm.dateEnd.$error.datevalidation">Указана не правильная дата</div>
            </div>
        </div>
    </fieldset>
    <hr/>

    <fieldset> <legend>Оплата</legend>
        <div class="form-inline text-center">
            <label for="expectedPrice"style="margin-bottom: 17px; width:250px;" class="control-label">Я готов заплатить за работу</label>
            <div class="input-group " style="width: 200px; margin: 0 auto;  margin-bottom: 17px;">
                <input type="text" class="form-control" id="expectedPrice" name="expectedPrice" style="z-index: 0;" ng-model="tScope.Tender.expectedPrice"  required pattern="^[0-9\\s]{1,10}$">
                <div class="input-group-addon">руб.</div>
            </div>
        </div>
        <div class="text-danger text-center" ng-show="editTenderForm.$submitted || editTenderForm.expectedPrice.$touched">
            <div  ng-show="editTenderForm.expectedPrice.$error.required">Необходимо указать ожидаемую стоимость выполнения тендера</div>
            <div  ng-show="editTenderForm.expectedPrice.$error.pattern">Стоимость должна быть выражена числовым значением в рублях</div>
        </div>
        <div class="form-inline text-center">
            <div style="border: 1px solid green; width: 279px; margin: 0 auto; position: relative; padding: 3px 13px 11px 3px; border-radius: 10px;">
                <input type="checkbox" class='check-bg' ng-model="tScope.Tender.needCredit" name="credit">
                <span style="padding: 3px 9px; font-size: 17px;"class="label label-pill label-success">Оформить в кредит</span>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"
                      style="position: relative;font-size: 22px; top: 5px; left: 10px;"
                      ng-click="tScope.Tender.needCreditShowHelp = !tScope.Tender.needCreditShowHelp" ></span>
            </div>

        </div>
        <div class="col-xs-12">
            <span ng-show="tScope.Tender.needCreditShowHelp" class="help-block" style=" font-size: 14px;">
            Отмечая данный пункт, Вы говорите о том, что Вам необходим кредит для оплаты работы исполнителей по тендеру.
                Данная галочка ни к чему Вас не обязывает, просто дает понять кредитным организациям, что Вы готовы к сотрудничеству.</span>
        </div>
    </fieldset>


    <div class="text-center" style="margin-top: 40px;">
        <button type="button"  onclick="history.back()" class="btn btn-default btn-lg">Назад</button>
        <button type="button" class="btn btn-success btn-lg" ng-click="tScope.submitEditedTender(editTenderForm)"  ng-disabled="editTenderForm.$invalid">Сохранить изменения</button>
    </div>



</div>
