<!-------------------------------ConsumerRegistrationForm------------------------------------------>
<div  class="container"  id="consumer_registration_form" scroll-to-me="consumer_registration_form">
    <h2 class="text-center" style="margin:30px 5px 30px 5px;">Регистрация заказчика</h2>

    <form name="consumerRegForm"  ng-submit="submitRegistrationConsumer(consumerRegForm.$invalid)" novalidate enctype='multipart/form-data'>
        <!---форма регистрации для заказчика-->

        <fieldset><!---Информация о заказчике-->
            <legend>Информация о заказчике</legend>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName" ng-model="consumer.firstName" name='firstName' pattern="^[а-яА-ЯЁьъ\\s]{3,20}$" required>
                    <div class="text-danger" ng-show="consumerRegForm.$submitted || consumerRegForm.firstName.$touched">
                        <div  ng-show="consumerRegForm.firstName.$error.required">Имя обязательно для заполнения</div>
                        <div  ng-show="consumerRegForm.firstName.$error.pattern">Имя должно содержать только символы кирилицы, содержать более 3 символов</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="lastName">Фамилия</label>
                    <input type="text" class="form-control" id="lastName" name='lastName' ng-model="consumer.lastName" pattern="^[а-яА-ЯЁьъ\\s]{3,20}$" required>
                    <div class="text-danger" ng-show="consumerRegForm.$submitted || consumerRegForm.lastName.$touched">
                        <div  ng-show="consumerRegForm.lastName.$error.required">Фамилия обязательна для заполнения</div>
                        <div  ng-show="consumerRegForm.lastName.$error.pattern">Фамилия должна содержать только символы кирилицы, содержать более 3 символов</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="login">Логин</label>
                    <input type="text" class="form-control" id="login" uniqlogin name='login' ng-model="consumer.login" pattern="^[a-zA-Z0-9_-]{4,30}$" required>
                    <div class="text-danger" ng-show="consumerRegForm.$submitted || consumerRegForm.login.$touched">
                        <div  ng-show="consumerRegForm.login.$error.required">Логни обязателен для заполнения</div>
                        <div  ng-show="consumerRegForm.login.$error.pattern">Логин должен содержать только латинские символы, цифры, тире или нижнее подчеркивание</div>
                        <div  ng-show="consumerRegForm.login.$error.uniqlogin">К сожалению, данный логин уже занят. Используйте другой.</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="password">Пароль</label>
                    <input type="password" class="form-control" id="password"  name='password' ng-model="consumer.password" pattern="^[a-zA-Z0-9_-]{4,50}$" required>
                    <div class="text-danger" ng-show="consumerRegForm.$submitted || consumerRegForm.password.$touched">
                        <div  ng-show="consumerRegForm.password.$error.required">Пароль обязателен для заполнения</div>
                        <div  ng-show="consumerRegForm.password.$error.pattern">Пароль должен содержать только латинские символы, цифры, тире или нижнее подчеркивание</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6" ng-show="consumer.password">
                    <label class="control-label" for="password2">Повторите пароль</label>
                    <input type="password" class="form-control" id="password2" name='password2'  ng-model="consumer.password2" required equalspas="consumer.password">
                    <div class="text-danger" ng-show="consumerRegForm.$submitted || consumerRegForm.password2.$touched">
                        <div  ng-show="consumerRegForm.password2.$error.required">Проверочный пароль обязателен для заполнения</div>
                        <div  ng-show="consumerRegForm.password2.$error.equalspas">Провероный пароль не совпадает</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="col-xs-12">
                        <label class="control-label">Тип заказчика</label>
                    </p>
                    <p class="col-xs-12 col-sm-6 text-center" ng-init="consumer.isJuridical='false'">
                        <input type="radio" class="check-bg" ng-model="consumer.isJuridical" value="false" required ng-checked="true">
                                Частное лицо</p>
                    <p class="col-xs-12 col-sm-6 text-center" >
                       <input type="radio" class="check-bg" ng-model="consumer.isJuridical" value="true" required>
                                Юридическое лицо</p>
                </div>

            </div>
        </fieldset>
        <!---Информация о заказчике-->


        <fieldset>
            <legend>Контактная информация</legend>
            <!---Контактная информация-->
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="emailConsumer">Адрес электронной почты</label>
                    <input type="email" class="form-control" id="emailConsumer" name='email' ng-model="consumer.email" required uniqemail>
                    <div class="text-danger" ng-show="consumerRegForm.$submitted || consumerRegForm.email.$touched">
                        <div  ng-show="consumerRegForm.email.$error.required">Адрес электронной почты обязателен для заполнения</div>
                        <div  ng-show="consumerRegForm.email.$error.email">Адрес электронной почты не действителен</div>
                        <div  ng-show="consumerRegForm.email.$error.uniqemail">К сожалени, данный email уже зарегистрирован. Используйте другой</div>
                    </div>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="phoneNumber">Телефон</label>

                    <div class="input-group">
                        <div class="input-group-addon">+7</div>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"  ng-model="consumer.phoneNumber" uniqphone required phonemask>
                    </div>
                    <div class="text-danger" ng-show="consumerRegForm.$submitted || consumerRegForm.phoneNumber.$touched">
                        <div  ng-show="consumerRegForm.phoneNumber.$error.required"> Номер телефона обязателен для заполнения</div>
                        <div  ng-show="consumerRegForm.phoneNumber.$error.uniqphone">К сожалению, данный номер телефона уже зарегистрирован в системе, используйте другой</div>
                     </div>
                </div>
            </div>
        </fieldset>

        <!---Контактная информация-->
        <fieldset>
            <h5>Телефонный номер необходимо подтвердить</h5>
            <span class="help-block">Если Вы не робот, пройдите проверку и запросите код подтвеждения. Проверочный код будет выслан на указанный Вами номер телефона.</span>
            <div class="row text-center">
                <div class="col-xs-6">
                    <div vc-recaptcha on-success="captchaResponse(response)" key="'6LcWMRYTAAAAAHYoidY-XNPVQjhqbt0fHbQ39Z7p'"></div>
                </div>
            </div>

            <hr/>
            <div class="form-inline text-center" ng-init="sendCheckButtonBlock=false">
                <button type="button" style="margin-bottom: 17px;" ng-click="sendCheckCode()"  ng-disabled="sendCheckButtonBlock || consumerRegForm.phoneNumber.$invalid " class="btn btn-info">
                    Получить код подтверждения
                </button>


                <input id="phoneNumberCOD" name="phoneNumberCOD" ng-model="consumer.phoneNumberCOD" required
                       style="width: 150px; margin: 0 auto;  margin-bottom: 17px;" class="form-control" type="text">
                <div class="text-danger" ng-show="consumerRegForm.$submitted">
                    <div  ng-show="consumer.phoneCheckID == '##'">Необходимо запросить проверочный код</div>
                </div>
                <div class="text-danger" ng-show="consumerRegForm.$submitted || consumerRegForm.phoneNumberCOD.$touched">
                    <div  ng-show="consumerRegForm.phoneNumberCOD.$error.required">Необходимо передать проверочный код</div>
                </div>


                <div class='alert alert-warning' ng-show="sendCheckButtonBlock" role='alert'>Проверочный код был выслан на указанный номер телефона.
                    Повторить отправку можно будет через 10 сек.</div>

            </div>
        </fieldset>


        <hr/>
        <fieldset>
            <div class="checkbox">
                <label style="font-size: 16px;">
                    <input type="checkbox" name="acceptAgreement" ng-model="consumer.acceptAgreement" check-required
                           title="Вам неоходимо согласиться с условиями пользовательского соглашения."> Я согласен с
                    <a data-toggle="modal" href="#/registration_consumer_convention" > правилами сервиса </a>
                </label>
                <div class="text-danger" ng-show="consumerRegForm.$submitted">
                    <div  ng-show="consumerRegForm.acceptAgreement.$error.checkRequired">Необходимо согласиться с условиями пользовательского соглашения</div>
                </div>
            </div>
        </fieldset>


        <div class="text-center" style="margin-top: 40px;">
            <button type="submit" ng-disabled="consumerRegForm.$submitted && consumerRegForm.$invalid" class="btn btn-success btn-lg">
                Зарегистрироваться
            </button>
        </div>
    </form>
</div>
