<div id="end_page" class="container" scroll-to-me="end_page"> <!--END_BLOCK-->

    <div ng-if="serverMessage.status">

        <div ng-if="serverMessage.status == 3000">

            <div class="alert alert-success" role="alert" style="max-width: 800px; margin: 35px auto;">
                <h2>Поздравляем!</h2>

                <h3>Регистрация успешно завершена.</h3>

                <p style='font-size: 14px;' ng-bind-html="serverMessage.text | trustedHTML"></p>
            </div>

        </div>

        <div ng-if="serverMessage.status != 3000">

            <div class="alert alert-warning" role="alert" style="max-width: 800px; margin: 35px auto;">
                <h2>Ошибка при регистрации!</h2>

                <h3>При регистрации возникли проблемы</h3>

                <div ng-bind-html="serverMessage.text| trustedHTML"></div>
                <p ng-repeat="error in serverMessage.errors">{{error.errorText}}</p>
            </div>

        </div>

    </div>
</div><!--END_BLOCK-->
