<div class="container">
    <div class="alert alert-warning" role="alert"  style="max-width: 800px; margin: 80px auto;">
        <h3>Email адрес не подтвержден, видимо Вы используете неправильную ссылку.</h3>
        <p>Если Вы уверены, что все правильно, свяжитесь с нами по адресу - <a href="mailto:info@ubeten.com">info@ubeten.com</a></p>
        <p>Наши администраторы ответят на все вопросы, и постараются решить любые возникшие проблемы в кратчайшие сроки.</p>
    </div>
</div>