<!-------------------------------ProvaiderRegistrationForm------------------------------------------>
<div id="provider_registration_form" class="container"  scroll-to-me ="provider_registration_form">
    <h2 class="text-center" style="margin:30px 5px 30px 5px;">Регистрация исполнителя</h2>

    <form name="providerRegForm" ng-submit="submitRegistrationProvider(providerRegForm.$invalid)" novalidate>
        <!---форма регистрации для исполнителя-->
        <fieldset>
            <legend>Контактное лицо</legend>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="firstNameContactPerson">Имя</label>
                    <input type="text" class="form-control" id="firstNameContactPerson"
                           ng-model="provider.firstNameContactPerson" name='firstNameContactPerson'
                           pattern="^[а-яА-ЯЁьъ\\s]{3,20}$" required>

                    <div class="text-danger"
                         ng-show="providerRegForm.$submitted || providerRegForm.firstNameContactPerson.$touched">
                        <div ng-show="providerRegForm.firstNameContactPerson.$error.required">Имя обязательно для
                            заполнения
                        </div>
                        <div ng-show="providerRegForm.firstNameContactPerson.$error.pattern">Имя должно содержать только
                            символы кирилицы, и содержать более 3 символов
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="lastNameContactPerson">Фамилия</label>
                    <input type="text" class="form-control" id="lastNameContactPerson" name='lastNameContactPerson'
                           ng-model="provider.lastNameContactPerson" pattern="^[а-яА-ЯЁьъ\\s]{3,20}$" required>

                    <div class="text-danger"
                         ng-show="providerRegForm.$submitted || providerRegForm.lastNameContactPerson.$touched">
                        <div ng-show="providerRegForm.lastNameContactPerson.$error.required">Фамилия обязательна для
                            заполнения
                        </div>
                        <div ng-show="providerRegForm.lastNameContactPerson.$error.pattern">Фамилия должна содержать
                            только символы кирилицы, содержать более 3 символов
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="p_login">Логин</label>
                    <input type="text" class="form-control" id="p_login" uniqlogin name='p_login'
                           ng-model="provider.p_login" pattern="^[a-zA-Z0-9_-]{4,30}$" required>

                    <div class="text-danger" ng-show="providerRegForm.$submitted || providerRegForm.p_login.$touched">
                        <div ng-show="providerRegForm.p_login.$error.required">Логни обязателен для заполнения</div>
                        <div ng-show="providerRegForm.p_login.$error.pattern">Логин должен содержать только латинские
                            символы, цифры, тире или нижнее подчеркивание
                        </div>
                        <div ng-show="providerRegForm.p_login.$error.uniqlogin">К сожалению, данный логин уже занят.
                            Используйте другой.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="emailContactPerson">Адрес электронной почты</label>
                    <input type="email" class="form-control" id="emailContactPerson" name='emailContactPerson'
                           ng-model="provider.emailContactPerson" required uniqemail>

                    <div class="text-danger"
                         ng-show="providerRegForm.$submitted || providerRegForm.emailContactPerson.$touched">
                        <div ng-show="providerRegForm.emailContactPerson.$error.required">Адрес электронной почты
                            обязателен для заполнения
                        </div>
                        <div ng-show="providerRegForm.emailContactPerson.$error.email">Адрес электронной почты не
                            действителен
                        </div>
                        <div ng-show="providerRegForm.emailContactPerson.$error.uniqemail">К сожалени, данный email уже
                            зарегистрирован. Используйте другой
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="phoneNumberContactPerson">Телефон</label>

                    <div class="input-group">
                        <div class="input-group-addon">+7</div>
                        <input type="text" class="form-control" id="phoneNumberContactPerson"
                               name='phoneNumberContactPerson' ng-model="provider.phoneNumberContactPerson" uniqphone phonemask
                               required>
                    </div>
                    <div class="text-danger"
                         ng-show="providerRegForm.$submitted || providerRegForm.phoneNumberContactPerson.$touched">
                        <div ng-show="providerRegForm.phoneNumberContactPerson.$error.required"> Номер телефона
                            обязателен для заполнения
                        </div>
                        <div ng-show="providerRegForm.phoneNumberContactPerson.$error.uniqphone">К сожалению, данный
                            номер телефона уже зарегистрирован в системе, используйте другой
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend style="margin-top: 40px;">Реквизиты компании</legend>
            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="companyName">Наименование компании</label>
                    <input type="text" class="form-control" id="companyName" name='companyName'
                           ng-model="provider.companyName" required>

                    <div class="text-danger"
                         ng-show="providerRegForm.$submitted || providerRegForm.companyName.$touched">
                        <div ng-show="providerRegForm.companyName.$error.required">Название компании обязательно для
                            заполнения
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label class="control-label" for="inn">ИНН</label>
                    <input type="text" class="form-control" id="inn" name='inn' ng-model="provider.inn" uniqinn required
                           pattern="^[0-9]{3,20}$">

                    <div class="text-danger" ng-show="providerRegForm.$submitted || providerRegForm.inn.$touched">
                        <div ng-show="providerRegForm.inn.$error.required">ИНН компании обязателен для заполнения</div>
                        <div ng-show="providerRegForm.inn.$error.pattern">ИНН должен состоять только из цифр, без
                            пробелов. Содержать от 3 до 20 цифр
                        </div>
                        <div ng-show="providerRegForm.inn.$error.uniqeinn">К сожалени, данный ИНН уже зарегистрирован
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

<!----Доработка по локации исполнителя-->
        <fieldset style="margin-top: 17px;">
            <legend>Адрес компании</legend>
            <div locationset maplink="providerMap" adressparent="provider"></div>
         </fieldset>


<!----Доработка по локации исполнителя-->

        <fieldset>
            <div class="row text-center">
                <div class="col-xs-6">
                    <div vc-recaptcha on-success="captchaResponse(response)" key="'6LcWMRYTAAAAAHYoidY-XNPVQjhqbt0fHbQ39Z7p'"></div>
                </div>
            </div>
         </fieldset>

        <fieldset>
            <div class="checkbox">
                <label style="font-size: 16px;">
                    <input type="checkbox" name="acceptAgreementProvider" ng-model="provider.acceptAgreementProvider"
                           check-required> Я согласен с
                    <a data-toggle="modal" href="#/registration_provider_convention"> правилами сервиса</a>, а также
                    <a data-toggle="modal" href="#/registration_offretite_contract"> договором оферты </a>
                </label>

                <div class="text-danger" ng-show="providerRegForm.$submitted">
                    <div ng-show="providerRegForm.acceptAgreementProvider.$error.checkRequired">Необходимо согласиться с
                        условиями пользовательского соглашения
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="text-center" style="margin-top: 40px;">
            <button type="submit" ng-disabled="providerRegForm.$submitted && providerRegForm.$invalid" class="btn btn-success btn-lg">
                Зарегистрироваться
            </button>
        </div>
    </form>
</div>
<!-------------------------------ProviderRegistrationForm------------------------------------------>

