<div  class="container" id="start_page"  scroll-to-me="start_page">
    <div class="row text-center">
        <h2>Приветствуем Вас на ресурсе <span style="color: #2AB819; font-weight: bold;">Ubeten.com</span>!</h2>

        <p>Мы рада, что вы хотите зарегистрироваться в нашей системе. </p>
        <br/>
        <noscript>
            <div class="alert alert-danger text-center" role="alert">
                <p style="margin-left: 10px; font-size: 16px;"><b>Внимание!</b> Ваш браузер не поддерживает JavaScript. </p>
                <p> Обновите Браузер или включите JavaScript в настройках.</p>
                <p style="margin-left: 10px; font-size: 16px; ">Без JavaScript сайт не будет корректно работать!</p>
            </div>
        </noscript>
        <h3>Выберите форму для регистрации</h3>
    </div>

    <div class="row" style="">
        <div class="col-xs-12 col-sm-6 text-center" style="margin-top: 20px;position: relative; padding: 30px; border-top: 1px solid #ddd;  border-bottom: 1px solid #ddd; min-height: 320px;">

            <h4>Зарегистрироваться как исполнитель</h4>

            <p style="margin-bottom: 50px;">Для того чтобы принимать участие в закупках и предлагать свои услуги заказчикам необходимо
                зарегистрироваться  в соответствии с регистрационной формой, указать данные компании, выбрать позиции в которых компания
                будет участвовать, указать электронный адрес, на который будет приходить сообщения о тендерах,
                контактное лицо, которое будет обрабатывать заявки и т.д.
            </p>

            <div class="text-center" style="margin-top: 40px;position: absolute;left: 0;right: 0;bottom: 20px;">
                <a href="#/registration_provider" class="btn btn-warning btn-lg" style=" width: 230px;">Я исполнитель</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 text-center" style="margin-top: 20px;position: relative; padding: 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; min-height: 320px;">
            <h4>Зарегистрироваться как заказчик</h4>

            <div style="margin-bottom: 50px;">
                <p><a href="http://ubeten.com" style="color: #2AB819; font-weight: bold;text-decoration: none;">Ubeten.com</a>
                    это сервис, который позволяет найти качественного поставщика услуг или товаров по ценам ниже
                    рыночных до 30%,
                    за счет организации онлайн закупок.</p>
                <p>Для того чтобы найти ответственного исполинтеля или поставщика услуг Вам необходимо
                    зарегистрироваться.</p>
            </div>
            <div class="text-center" style="margin-top: 40px;position: absolute;left: 0;right: 0;bottom: 20px;">
                <a href="#/registration_consumer" class="btn btn-info btn-lg" style=" width: 230px;">Я заказчик</a>
            </div>
        </div>
    </div>

</div>