<div class="container" id="container">
    <div class="alert alert-success" role="alert" style="padding: 30px;max-width: 800px; margin: 80px auto;">
        <h3>Поздравлем, email адрес успешно подтвержден.</h3>

        <p>На электронный адрес Вашего контактного лица выслан пароль для входа на ресурс.</p>
    </div>

    <div class="row " style="">
        <div class="col-xs-12 col-sm-6 text-center" style="margin-top: 20px;position: relative; padding: 30px; border-top: 1px solid #ddd;  border-bottom: 1px solid #ddd; min-height: 220px;">

            <h4>Теперь Вы можете пройти в личный кабинет</h4>
            <div class="text-center" style="margin-top: 40px;position: absolute;left: 0;right: 0;bottom: 20px;">
                <a href="#/user_page" class="btn btn-info btn-lg" style=" width: 230px;">Войти</a>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 text-center" style="margin-top: 20px;position: relative; padding: 30px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; min-height: 220px;">
            <h4>... или можете продолжить создание нового тендера</h4>

            <div class="text-center" style="margin-top: 40px;position: absolute;left: 0;right: 0;bottom: 20px;">
                <a href="#/new_tender_objects/forward" class="btn btn-success btn-lg" style=" width: 230px;">Продолжить тендер</a>
            </div>
        </div>
    </div>

</div>