<meta charset="UTF-8">
<h2>Проверка водителя по е_осаго</h2>
<p>В запросах используйте InsurerID - 99700000</p>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="eosagoDriverRequest.xml"  rows="5">

</textarea>
</div>
<div class="row text-center ng-scope" style="padding: 10px 0 22px 0;">
   <form novalidate name="eosagoDriverRequestForm" ng-submit="getEosagoDriverRequestFromXML(eosagoDriverRequestForm.$invalid)">
       <div ng-show="showPreloader" >
           <img src="res/img/82.GIF">
       </div>

       <div class="col-xs-6 " style="padding-top: 4px;">
        <br>
        <button type="submit" class="btn btn-default btn-block" ><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Запрос на проверку водителя </button>
    </div>
    <div class="col-xs-6 " style="padding-top: inherit; margin-bottom: 20px;">
        <label> Запрос сервера</label>
        <select class="form-control" ng-model="eosagoDriverRequest.serverInstance" name="serverInstance" required
                ng-options="server.constant as server.name for server in serversEosago">
            <option value="" > - - - Доступные серверы - - -  </option>
        </select>
        <div class="text-danger" ng-show="eosagoDriverRequestForm.$submitted || eosagoDriverRequestForm.serverInstance.$touched">
            <span ng-show="eosagoDriverRequestForm.serverInstance.$error.required">Необходимо выбрать сервер</span>
        </div>
   </div>
   </form>
</div>
<div class="row">
<textarea class="col-xs-12 text-ar form-control" ng-model="eosagoDriverResponse.response"  rows="5"></textarea>
</div>


<h5>Образец запроса</h5>
<div class="row">
    <div class="col-xs-12">
        <xmp style="border:none; width:100%;">
            <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
            <ns2:DriverRequest xmlns:ns2="com/rsa/eosago/schema-1.1">
                <DriverRequestValue>
                    <InsurerID>99700000</InsurerID>
                    <DriverInfoRequest>
                        <PersonNameBirthHash>00000000000HASSS000000000000000000000000000</PersonNameBirthHash>
                        <DriverDocument>
                            <Serial>0000</Serial>
                            <Number>000000</Number>
                        </DriverDocument>
                        <DriverDocDate>0000-00-00</DriverDocDate>
                    </DriverInfoRequest>
                    <DateRequest>2015-01-01T00:00:00</DateRequest>
                </DriverRequestValue>
            </ns2:DriverRequest>
        </xmp>
    </div>
</div>
