<nav class="container navbar navbar-inverse">
        <div class="navbar-header">
           <a href="#"><h3 style="color:#fff;">Панель администратора UBETEN</h3></a>
        </div>
</nav>
<div class="container" ng-controller="NavigationCtrl">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <h5 class="text-center well well-sm"><b>Пользователи</b></h5>
                <li ng-class="{ active: isCurrentPath('/admin/providers') }"><a href="#/admin/providers">Исполнители</a></li>
                <li ng-class="{ active: isCurrentPath('/admin/consumers') }"><a href="#/admin/consumers">Заказчики</a></li>
                <li ng-class="{ active: isCurrentPath('/admin/tenders') }"><a href="#/admin/tenders">Тендеры</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <h5 class="text-center well well-sm"><b>Информация</b></h5>

            </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
            <div ui-view>
                <h4>Выберите необходимый пункт меню</h4>
            </div>
        </div>
    </div>
</div>
