<meta charset="UTF-8">

<uib-pagination  ng-change="iU.pageChanged()"
                 total-items="iU.Pagination.TotalConsumers"
                 next-text ="Следующий"
                 previous-text ="Предыдущий"
                 last-text ="В конец"
                 first-text ="В начало"
                 ng-model="iU.Pagination.page_num"
                 max-size="iU.Pagination.maxSize"
                 class="pagination-sm"
                 boundary-links="true" rotate="false">
</uib-pagination>


<table class='table table-striped text-center'>
    <tr ng-repeat="consumer in iU.ConsumersCollection">
        <td> Заказчик <b> UNIC_ID: {{consumer.user_id}}</b></td>
        <td>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'></span> Дата регистрации пользователя:</label>
                <span id='dateRegistaration'>{{consumer.dateCreate | date:'dd.MM.yyyy'}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-user' aria-hidden='true'></span> Пользователь: </label>
                <span id='contactPerson'>{{consumer.privateInfo.firstName}} {{consumer.privateInfo.lastName}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-phone-alt' aria-hidden='true'></span> Телефон: </label>
                <span id='contactPhoneNumber'>{{consumer.privateInfo.phoneNumber}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-envelope' aria-hidden='true'></span>  Эл.почта: </label>
                <span id ='contactEmail'>{{consumer.privateInfo.email}}</span></div>
            </td>
    </tr>
</table>

<uib-pagination  ng-change="iU.pageChanged()"
                total-items="iU.Pagination.TotalConsumers"
                 next-text ="Следующий"
                 previous-text ="Предыдущий"
                 last-text ="В конец"
                 first-text ="В начало"
                ng-model="iU.Pagination.page_num"
                max-size="iU.Pagination.maxSize"
                class="pagination-sm"
                boundary-links="true" rotate="false">
</uib-pagination>

<!--
                ng-change="iU.pageChanged()" - какую функцию вызывать при смене страницы
                total-items="iU.Pagination.TotalConsumers" - сколько всего будет позиций которые делятся на 10 на странице
                ng-model="iU.Pagination.page_num" -  изменяемый параметр
                max-size="iU.Pagination.maxSize" -  максимальное количество кнопочек с цифирками
                class="pagination-sm"
                boundary-links="true" - свойства
                rotate="false" - свойста
                >
-->
