<meta charset="UTF-8">

<uib-pagination  ng-change="iU.pageChanged()"
                 total-items="iU.Pagination.TotalProviders"
                 next-text ="Следующий"
                 previous-text ="Предыдущий"
                 last-text ="В конец"
                 first-text ="В начало"
                 ng-model="iU.Pagination.page_num"
                 max-size="iU.Pagination.maxSize"
                 class="pagination-sm"
                 boundary-links="true" rotate="false">
</uib-pagination>

<table class='table table-striped text-center'>

    <tr ng-repeat="provider in iU.ProvidersCollection">
        <td> Исполниетль <b> UNIC_ID: {{provider.user_id}} </b></td>
        <td>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'></span> Дата регистрации пользователя:</label>
                <span id='dateRegistaration'>{{provider.dateCreate | date:'dd.MM.yyyy'}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-user' aria-hidden='true'></span>  Контактное лицо: </label>
                <span id='contactPerson'> {{provider.privateInfo.firstName}} {{provider.privateInfo.lastName}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-phone-alt' aria-hidden='true'></span> Телефон контактного лица: </label>
                <span id='contactPhoneNumber'>{{provider.privateInfo.phoneNumber}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-envelope' aria-hidden='true'></span>  Эл.почта контактного лица: </label>
                <span id ='contactEmail'>{{provider.privateInfo.email}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'></span>  Название компании:</label>
                <span>{{provider.juridicalInfo.companyName}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'></span>  Фактический адрес:</label>
                <span>{{provider.juridicalInfo.factAdress}}</span></div>
            <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'></span>  ИНН:</label>
                <span>{{provider.juridicalInfo.inn}}</span></div>
            </td>
    </tr>



</table>
<uib-pagination  ng-change="iU.pageChanged()"
                 total-items="iU.Pagination.TotalProviders"
                 next-text ="Следующий"
                 previous-text ="Предыдущий"
                 last-text ="В конец"
                 first-text ="В начало"
                 ng-model="iU.Pagination.page_num"
                 max-size="iU.Pagination.maxSize"
                 class="pagination-sm"
                 boundary-links="true" rotate="false">
</uib-pagination>
