<meta charset="UTF-8">

<uib-pagination  ng-change="iU.pageChanged()"
                 total-items="iU.Pagination.TotalTenders"
                 next-text ="Следующий"
                 previous-text ="Предыдущий"
                 last-text ="В конец"
                 first-text ="В начало"
                 ng-model="iU.Pagination.page_num"
                 max-size="iU.Pagination.maxSize"
                 class="pagination-sm"
                 boundary-links="true" rotate="false">
</uib-pagination>


<div class='row'>
    <div class="col-xs-12" ng-repeat="tender in iU.TendersCollection" style="border: 1px solid #bbb; margin-bottom: 10px;padding: 22px;">
        <div class='col-sm-12 text-left'>
            <label>Тендер </label><b> UNIC_ID: {{tender.id}}</b>
         <a href='#/tender/{{tender.id}}'>Посмотреть тендер</a>
        </div>
        <div class='col-sm-12 text-left'>{{tender.tenderName}}</div>
        <div class='col-sm-12'><p><b>Описание тендера:</b></p>
            <p>{{tender.tenderDescription}}</p>
        </div>
        <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'>
            </span> Дата регистрации тендера  :  </label><span> {{tender.dateCreate | date:'dd.MM.yyyy'}}</span>
        </div>
        <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'>
            </span> Статус тендера  :  </label><span> {{tender.tenderStatus.statusName}}</span>
        </div>

        <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'>
            </span> Комментариев  :  </label><span> {{tender.messageList.length}}</span>
        </div>
        <div class='col-sm-12'><label><span class='glyphicon glyphicon-file' aria-hidden='true'>
            </span> Предложений  :  </label><span> {{tender.offerList.length}}</span>
        </div>

        <div class='col-sm-12'>
            <div class="panel panel-info accordion" style="border: none; border-radius:0;">
                <h5 class="panel-heading h-accord" ng-click="slideToggleA=! slideToggleA">Комментарии по тендеру</h5>
                <div class="panel-body c-accord slide-toggle " ng-show="slideToggleA" style="padding:0;">
                   <div ng-repeat="message in tender.messageList" style="border: 1px solid #bbb; border-radius:8px; margin-bottom: 10px;padding: 10px; background-color: #F5F5F5;">
                       <p ng-if="message.userOwner.provider"> <b>Компания</b> : {{message.userOwner.juridicalInfo.companyName}}</p>
                       <p ng-if="!message.userOwner.provider"> <b>Субъект</b> : {{message.userOwner.privateInfo.firstName}} {{message.userOwner.privateInfo.lastName}}</p>
                       <p>{{message.text}}</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

<uib-pagination  ng-change="iU.pageChanged()"
                total-items="iU.Pagination.TotalTenders"
                 next-text ="Следующий"
                 previous-text ="Предыдущий"
                 last-text ="В конец"
                 first-text ="В начало"
                ng-model="iU.Pagination.page_num"
                max-size="iU.Pagination.maxSize"
                class="pagination-sm"
                boundary-links="true" rotate="false">
</uib-pagination>
